---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815151939407-b243e350
    body:
      encoding: UTF-8
      string: '{"access_token":"RfF4DwPpnUApeXyPAeSS6a41t7KLE05ToU1pOPfNf5w1B8i0-0vB6uqRTdB8QplljrvKdTTDVE5OZmvEZe2eB78c6ImASFbEbkpdZOjNsqbhaq-JjyUiPDLYIhiNuW1KpDxwg_cGZpW6XFeMfULg4Oz95UnFC_KEH2hSHp6c81IPJDPXLtl4DbM0ubb2UMqXtLfzcKtU1JecFPsVMMQ3kJOL5fDuam3BVYROGArvXfj8TxwWsYCfHPFZAEQaKNEbIxDYtb76tyTIVxx7gwiAcFHmckez8qTFg_qkDog328jpJAMEtW8COfMyTs89KgUeaBUkIOcJMbfSjb_47g_nCF_2nrUTfeKeon_U--AOAAhR_v1_qopbswy_l7z8ApM-gAXFRqLirAtfgJzoaEEzomnuSlyRsgqUo2us4vm5t81CCZItNO0jRBeNAPn6mupU0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAALSXGVz8Bxo86BDBMypnqJVQxurdj5Dqr_9sL7wh6uoW4QAAAAE97gwpfcpWEpcWT3ElB2gKx9pZrGRb1KFPYr-dEkwZG85vmHilu5nCtsj9iCt5oSOPODtUB79CDFNS6hrlshqL2-_exmnYUgP45K41Mm0m0s6YFv8tw98DwaiIH3ZLeQjVIGl1VCl502ZOxTzH0vzRHe0Rupw4944zAWxXnNL5H-fMVXxEjGCHtuEtHFYI2iFGfaSbuWYSPGpdJo3Mq3fHsAea0pGoSB44lSRe4uMaCxxu1aVHx3LbjuuJtY5HEoSkMXsGpyJ1c5Hk8Eaz5GB-di822XNJ4R-5ATlRLLnG6g","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 15:19:39 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H,ISLANDTON-DUB14-00000-0000G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - RfF4DwPpnUApeXyPAeSS6a41t7KLE05ToU1pOPfNf5w1B8i0-0vB6uqRTdB8QplljrvKdTTDVE5OZmvEZe2eB78c6ImASFbEbkpdZOjNsqbhaq-JjyUiPDLYIhiNuW1KpDxwg_cGZpW6XFeMfULg4Oz95UnFC_KEH2hSHp6c81IPJDPXLtl4DbM0ubb2UMqXtLfzcKtU1JecFPsVMMQ3kJOL5fDuam3BVYROGArvXfj8TxwWsYCfHPFZAEQaKNEbIxDYtb76tyTIVxx7gwiAcFHmckez8qTFg_qkDog328jpJAMEtW8COfMyTs89KgUeaBUkIOcJMbfSjb_47g_nCF_2nrUTfeKeon_U--AOAAhR_v1_qopbswy_l7z8ApM-gAXFRqLirAtfgJzoaEEzomnuSlyRsgqUo2us4vm5t81CCZItNO0jRBeNAPn6mupU0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815151941729-b25002fe
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000G","type":{"module":"AMS","value":"AMS/Parks/Park/Install","type":"Parks","id":"AMS-Parks-Park-Install","category":"Install","text":"Park
        Installation","group":"AMS","subType":"Park"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-14
        23:55:26","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-14 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000003","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-14
        00:00:00","trackingId":277456273,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000G"},{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 15:19:40 GMT
recorded_with: VCR 2.9.2
