---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160202240-9057116a
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8VF4oD7o_RspmT-JUGnJgk6DIGq1gIFba0EypC1yhMmF6HGzJP-vWkTONKmHPfd_nN4jPQoo5NjiZmuCNzJo5yX7x4_U5DTEQSyh8k1ZfcZ24wyKvycjrKA6Qix3rmLWBixY-V6gvWbNoDIhxmWuijDa2WcfeoiVRki5GXL66fe5TIlH0XyGGhXgYfahTc6UA5mRR6wo51sZWCvCTQj1Q_oOnC2toh3MYeEtk5gWML12j6Kl0KlBeM0vUtmT7mmTR_7MONFB2p2rd3OEZVHOsxAFw2NCYjf7JwZgbLW6ySFif8ra8oxyxZmKEJl4TixKzJaTZpGizmKT7q9tJffIgRwx8TqBkLo4in6UzrMgDnruPNW2QITiEy4h_YBJRTcOb_OP_hqYam1qjshasUTEe3i2s8zuoBMJnSle3ZVKIw490","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAEnMd8sLmL7XxezU3x7W7gD12YhSQOTu8iK0tFcP4ZiD4QAAAAF0WtbkLsCQe6e8pBW3RTmvL_wqD5IlnfR2gJ-u1nyV1CoNtJB2hgrhbeW_pM42PCc4BGslWcHa-A3lHQ4ItxaI8vPrUgTV9wUKQ_zmKYCmrK84q87XQRq3nj2mZ8NGPjl6vDAFcUWKwB8lK1htVBQj-bI_xc11KH5nPY6MXm0VX_sXBiXmPiq_JAuCSbIB5HhaFGo21blpH1FTGdJr6aa-sBEwb-ydpV6tA-kkG7t1KD0iQID7Ulbtgirv6o4Vu7eobYXwHdpoc8K3oDR2dieDJpO8gNpOKGHsnkiAGS9Q9g","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:02 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - H9fBlmvJlz3ZIZa-ojmb8VF4oD7o_RspmT-JUGnJgk6DIGq1gIFba0EypC1yhMmF6HGzJP-vWkTONKmHPfd_nN4jPQoo5NjiZmuCNzJo5yX7x4_U5DTEQSyh8k1ZfcZ24wyKvycjrKA6Qix3rmLWBixY-V6gvWbNoDIhxmWuijDa2WcfeoiVRki5GXL66fe5TIlH0XyGGhXgYfahTc6UA5mRR6wo51sZWCvCTQj1Q_oOnC2toh3MYeEtk5gWML12j6Kl0KlBeM0vUtmT7mmTR_7MONFB2p2rd3OEZVHOsxAFw2NCYjf7JwZgbLW6ySFif8ra8oxyxZmKEJl4TixKzJaTZpGizmKT7q9tJffIgRwx8TqBkLo4in6UzrMgDnruPNW2QITiEy4h_YBJRTcOb_OP_hqYam1qjshasUTEe3i2s8zuoBMJnSle3ZVKIw490
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160203943-df73c633
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"MASHKOV-VuSpex Residential #2","id":"ISLANDTON-14CAP-00000-000CI","type":{"module":"Building","type":"Residential","value":"Building/Residential/Addition/NA","category":"NA","text":"Residential
        Addition","group":"Building","subType":"Addition","id":"Building-Residential-Addition-NA"},"description":"Test
        permit assigned to Mashkov the Contractor for VuSpex testing and demo use.","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"BRADP","balance":20.0,"statusDate":"2014-08-20
        07:29:00","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 00:00:00","totalFee":20.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-08-20
        00:00:00","assignedToDepartment":"ISLANDTON/BUILDING/NA/NA/NA/NA/NA","assignedUser":"BRADP","trackingId":253923535,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"initiatedProduct":"AV360","booking":false,"customId":"BLD14-00178","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CI"}],"status":200}'
  recorded_at: Thu, 21 Aug 2014 16:02:04 GMT
recorded_with: VCR 2.9.2
