---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140731160018090-df6f8b15
    body:
      encoding: UTF-8
      string: '{"access_token":"bNZ6jSYi8ByRk5PNDTEJZJjXsmmRPdK_mkm4iEiI2uX93WT8JMakN292VRMBHP8yayR6yj5LrQ8SLmbtYWIMmWWlmPCvz_myU9p7JehjsxxUgo6n6A-64tMGePOE_Wtflh0wDZIqni951yduLUYof1UtCaCRBc-n6Ee8rTTck2EUhFURnWuarejah7dhPcyA_DI5691e812QbkwnhA6kaFiAohv7ty3Alr5pR7SGQWroiGGB0d38hsxjec_MhK9RSW-0VvqGlkmS1AtxNzE9pkPMgwrriXu37bziC1znMZ-RpUFXAX5tTaVtEWrVeb-7PdYG1owODNj3zz0Yzz74IpoMbqoSjYFcWh3ybPhO-yNfx0BfEGeYE5Y0hAamTGVvceXqDIxM_qISxtTGcnrl2bMzRMoZ7ZSmOSynwMWfPE4qNqjK55sNH6dKFegCvH900","token_type":"bearer","expires_in":"86400","refresh_token":"f4YS!IAAAAAm8PwsQkTa_DRTAfmtsjj5CtcRPzEECjxZfq0QlM3AP4QAAAAHb2fNxe8f5Ttfew_XRVDWcsztX2A2SS6BzvsUfT_Xci42OcxMJ9nXBedR66sI1OoBmoxXR2CN9MLjC_VENDyGhG43OO96wOvgJJD_2XXqoH3tiOca10FcrXRvidadSQYLUS_XwQ2HDy4Lk6X1uC28RTiWJqDOl2c3lgejM3j7Gf8gEGxjALXDbmVvd5q-viHaIIuWnoWLfGcdxnrXucBkExzhnE_r0WbSVZUfRNHvdferQgWXvpkCM36l9Ly7f80onJyHL8wf02DcgfmA4Ell7uSp5PcE-zl3N7c89lPEO4w","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 31 Jul 2014 16:00:19 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - bNZ6jSYi8ByRk5PNDTEJZJjXsmmRPdK_mkm4iEiI2uX93WT8JMakN292VRMBHP8yayR6yj5LrQ8SLmbtYWIMmWWlmPCvz_myU9p7JehjsxxUgo6n6A-64tMGePOE_Wtflh0wDZIqni951yduLUYof1UtCaCRBc-n6Ee8rTTck2EUhFURnWuarejah7dhPcyA_DI5691e812QbkwnhA6kaFiAohv7ty3Alr5pR7SGQWroiGGB0d38hsxjec_MhK9RSW-0VvqGlkmS1AtxNzE9pkPMgwrriXu37bziC1znMZ-RpUFXAX5tTaVtEWrVeb-7PdYG1owODNj3zz0Yzz74IpoMbqoSjYFcWh3ybPhO-yNfx0BfEGeYE5Y0hAamTGVvceXqDIxM_qISxtTGcnrl2bMzRMoZ7ZSmOSynwMWfPE4qNqjK55sNH6dKFegCvH900
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140731160020082-1db02036
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Thu, 31 Jul 2014 16:00:20 GMT
recorded_with: VCR 2.9.2
