---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815205552805-55f6aa3f
    body:
      encoding: UTF-8
      string: '{"access_token":"t7h9014v2t4RmRV8OFtoGAoZrLMaMJbPWmkAG67EheFyuimfdxMHOa6fJCTWKnwdIN1c5AGkYcz9dWbhDmWt9oGTT7havVYt_kHbL9sO7Zg6XOd4-C2CEbcY09s3LepwMYcWfBEEqVNWHxR8--47gQ_aKKOTXML8vb34aIBetNpXgWjY0E_ycxM5hjsaqiUtRpwpzjyrVh7fnPNl54UZ0Af_rPDoPk81P_N8VAFG_r-7ykKF6hBnObmKv8bqww6ssRqQ8Czq6fOYRJWbiuksXbLTo8U3px2lz9fa1OJKaJlCLwWDjINsRsKacXADL-D5E5SRIh77XWVVfXlYx2DlTV9t6woCov7ng9pgCMkUH8t7A_J0WnKb-Hv0CLsm1g0Bk_zKjuzbSY0xAPIBf9GuqLEXWFafIbFTdXTDwjHTSd_14SmS5OM_TaxJkUm_otf-0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAANX4yrrIslSVXKoA_FRrPrYA-ERkvxSEOtMvAUBF2o5l4QAAAAF5UHafQizDpw-esunqYSCG5gYMVuzBWoCYmAdXE5jJW8uQh1CDTjSyGpOaTj6XuE56GyeBNzfiatnHukfUTVJ4Gm-o9j80uO0RaztUpb4_y14gOuwlesuesfSyrqUnanG7_FXv5_vSXl-llWpWTpFfQo29hzz5cDgtAGfuN8qf52rEKaUSLn4SdoSavOLv6IrrJoKqLtC_MbY14Z8TBuwiFO6jc4fF560qcm8vzUSIeuOEy4TnAhaBX8yMGT4jfummXZxA7NsJNhYL71kcdKsLI4K2aOjmi3dpSn6jGHftXA","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 20:55:53 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H,ISLANDTON-DUB14-00000-0000G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - t7h9014v2t4RmRV8OFtoGAoZrLMaMJbPWmkAG67EheFyuimfdxMHOa6fJCTWKnwdIN1c5AGkYcz9dWbhDmWt9oGTT7havVYt_kHbL9sO7Zg6XOd4-C2CEbcY09s3LepwMYcWfBEEqVNWHxR8--47gQ_aKKOTXML8vb34aIBetNpXgWjY0E_ycxM5hjsaqiUtRpwpzjyrVh7fnPNl54UZ0Af_rPDoPk81P_N8VAFG_r-7ykKF6hBnObmKv8bqww6ssRqQ8Czq6fOYRJWbiuksXbLTo8U3px2lz9fa1OJKaJlCLwWDjINsRsKacXADL-D5E5SRIh77XWVVfXlYx2DlTV9t6woCov7ng9pgCMkUH8t7A_J0WnKb-Hv0CLsm1g0Bk_zKjuzbSY0xAPIBf9GuqLEXWFafIbFTdXTDwjHTSd_14SmS5OM_TaxJkUm_otf-0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815205553968-c1929f31
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000G","type":{"module":"AMS","value":"AMS/Parks/Park/Install","type":"Parks","id":"AMS-Parks-Park-Install","category":"Install","text":"Park
        Installation","group":"AMS","subType":"Park"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-14
        23:55:26","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-14 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000003","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-14
        00:00:00","trackingId":277456273,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000G"},{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 20:55:54 GMT
recorded_with: VCR 2.9.2
