---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815190335357-c18ac7bf
    body:
      encoding: UTF-8
      string: '{"access_token":"TEm3m7U46hsITkvo0CJKU2iN6gdBtqFg6vdyfmzI_ZvcmDNfjuOUZlgCvMJ9HW4fyA2xwK-kz0QyclMzp45NTMMJ6x0yuskurACGuddnKM2VUXDyPw4nNdGBfCMTqH3C98MTlr6xutbe4HKJCGQycap5bKJrf5gpRrwLNGH7SPszzdcF2CQIEws-XSBle0xKlayxLHvbza050FSslIeZbCp-lexhJ7-wzCQtyUv2V4OmxTj1kgEw0OM896527kgefdjTTqHfAKufxcMSZ5DKJPifSxhfYhYSMVZK7sBRE24v7xY9kR8v4JJ_uUYgCrs4Jd8tshn6wyX4zGs9bzM4VLt26uLTl9v3QPmeALfnXwTa5N8JDOxkfvwkvxnXh3l4x_T5iSNJZk6XQECfkjXP3EVM8MMAbTTjHq1uMZvFOpkUvQtL5TMDXNkmGb1Q_WqN0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAM5SwSqDRgMB_Ojn4BcV6aMKrLx9bJ0P6X8SmHooQ9gU4QAAAAGgpBnzLVKlDc5MtNo23_AKeuRgqzShR75xj50xZ832ZAlVB7mOAgfMeM9_T-K4BGB5_uN4zLqX0TR7BgdF_p5TKx48lp_pAHiNuolCL1PZEoL9ctOcq--HxweS-Owix5fcg6C0BZ9q5IyXK2_hgJdP7fn4wTXzDHCaTMqbolc4ES7S0Ixey-ez_kZ-oFYmFiP4i-ELvN1QrllRjzvFy_Grqr4_4RlFno7xBGw7MuU8NTIVWLKrHoYBnALS5vK8VwcfnfALoO9i-QPpHBpjIKsqP4DdLbA2evTTvbBX0RVq-w","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 19:03:36 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - TEm3m7U46hsITkvo0CJKU2iN6gdBtqFg6vdyfmzI_ZvcmDNfjuOUZlgCvMJ9HW4fyA2xwK-kz0QyclMzp45NTMMJ6x0yuskurACGuddnKM2VUXDyPw4nNdGBfCMTqH3C98MTlr6xutbe4HKJCGQycap5bKJrf5gpRrwLNGH7SPszzdcF2CQIEws-XSBle0xKlayxLHvbza050FSslIeZbCp-lexhJ7-wzCQtyUv2V4OmxTj1kgEw0OM896527kgefdjTTqHfAKufxcMSZ5DKJPifSxhfYhYSMVZK7sBRE24v7xY9kR8v4JJ_uUYgCrs4Jd8tshn6wyX4zGs9bzM4VLt26uLTl9v3QPmeALfnXwTa5N8JDOxkfvwkvxnXh3l4x_T5iSNJZk6XQECfkjXP3EVM8MMAbTTjHq1uMZvFOpkUvQtL5TMDXNkmGb1Q_WqN0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815190336444-23143348
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 19:03:37 GMT
recorded_with: VCR 2.9.2
