---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815190337779-07f1b700
    body:
      encoding: UTF-8
      string: '{"access_token":"TEm3m7U46hsITkvo0CJKU0T3isjhEAiZprj9GG0r4_-ZHhn1MX7EW0TQOEmT_2UC7ykISri3DTqjJk-x77NHvmz59WP-Jw-zFLNyoBGOlH1HA7yvnbXo_zlQkmC34GgUCDUX9dIGmXlleOWh93Uj393KpfJu8fYQN1vf3kCRuQTbmMAJZNr508HZug6_6Skge_ysFHTVR-SoMX_gLtu06FjovCtVMQDGdvKIN3yF_PodvC-qSVm5G7jPwDi7_VzK9AC9CR_-xYY3X3nmh86FDv61T_sXMAxi9al0j_-weEBnoSpVnCzzE6dOta3kq6tx6Tu6rGiIg3RCoMo5xHeunyK2Cc5N7FsDwxlNm66qqFo0GLkJ_3459pn4AkKtziz9GNUC5p3nq4QvFT2cXt1qS2lgM1PWrRQuFo_bZ2kDycPKu6A-x1GPDWKyexw4pO3z0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAEmhTMOkXuCK5cvE5Cb_zKisQANk-0ZZI0f-9RR2Cj-O4QAAAAE6L0uZJeaib8VNeN-wDADVlxAsvaVrrsK51rjpQTxR_vwktOuANHVNl0HVNQHkK44tFGFdOKiciS8zx_bkKuZaeo0OugHlu2aRvaJSkUtlA3FNqBZPx9DoNubOpWk1ZB2yoRQ4AJHHzI-krO6nItERPz95K6jmK1XcYhsQWJAXYDGLM-wYqlyqL5_nq35yojBaZzptxn0x8YhY7xuj3skNAMPXM5M-UsqEZ1zEEpv1C3tInwN00XRtZbnVdHns9P2q38QZ1QbGR7HZnLQ9Bg5jf8Kd-dmcN_Hwau5zs17pUQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 19:03:38 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H,ISLANDTON-DUB14-00000-0000G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - TEm3m7U46hsITkvo0CJKU0T3isjhEAiZprj9GG0r4_-ZHhn1MX7EW0TQOEmT_2UC7ykISri3DTqjJk-x77NHvmz59WP-Jw-zFLNyoBGOlH1HA7yvnbXo_zlQkmC34GgUCDUX9dIGmXlleOWh93Uj393KpfJu8fYQN1vf3kCRuQTbmMAJZNr508HZug6_6Skge_ysFHTVR-SoMX_gLtu06FjovCtVMQDGdvKIN3yF_PodvC-qSVm5G7jPwDi7_VzK9AC9CR_-xYY3X3nmh86FDv61T_sXMAxi9al0j_-weEBnoSpVnCzzE6dOta3kq6tx6Tu6rGiIg3RCoMo5xHeunyK2Cc5N7FsDwxlNm66qqFo0GLkJ_3459pn4AkKtziz9GNUC5p3nq4QvFT2cXt1qS2lgM1PWrRQuFo_bZ2kDycPKu6A-x1GPDWKyexw4pO3z0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815190338569-c2767db6
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000G","type":{"module":"AMS","value":"AMS/Parks/Park/Install","type":"Parks","id":"AMS-Parks-Park-Install","category":"Install","text":"Park
        Installation","group":"AMS","subType":"Park"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-14
        23:55:26","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-14 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000003","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-14
        00:00:00","trackingId":277456273,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000G"},{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 19:03:39 GMT
recorded_with: VCR 2.9.2
