---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160204818-a2c25e91
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8dFEg0kq26UUlMkhNJ-4Iq8P1kDUy5Qu4RAGlU2r7rfNLsI-SJLAksM25-3_y8soglsTl4vySDBB3ocPjIvzMS8SLMJcGp7j0z-oDkhlKuoTGY0CLp_-OHFydyrkfBzexkyiuvxoJypUnYCC4Oa43TKk1AlmSRQ9utFqrWYn-7nLlLG2uAZ891qzXbhi2ANU4sXeuhKkjYN9vE5r8abmnfpz7MdPoapQNFLWbq5D163O3Qei68lqzErZ2OpO846zejlZZtzlICdO8gil4Sp6QnFh5e1CNTAcAEsAm-TVrBJODuEvuWRCg87CiF_KNDGwuhwgc0DCi59_DkbqxvAnTJb4mdKXqiu_dlhGAv-t8GkotrvHSvMSTmKlJi0gP23pJa7mDR9TmxVv72yV1HE37ONlu1xxT0U0tp7Ku3Zdsge20","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAG1QSSFoU6Z45ESmnHqbFCeSyx4JzqgrNlkKHEzvlOB74QAAAAGpU5KctkRlQDrQHd_XpyFZ2AMS_-OffkMsWXOI8YiN1wyaOByEIwCkCmkVpKXW4EnvrckzAhRDogXnNL_-dPPyo7uNbmPp4f90hwG-Hor-n3l9sjY3nx9o-zEMDqVg5PFmt7-D1yv4vSxiTcbiQlaA4HoJRmQcHA8liieCEp12uEsVi0jrjr7PPd5nUu85TE_LV9nkr2Hkxjpd26CUdoK3bvqROfvU0i8-qMCx3yCyow1PUMraUkdE0RBjYNzM8qiHiLOyRqNc2fJe78o0fiG03HYyQ_8xY_sEBnm51hc9dg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:05 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR,ISLANDTON-14CAP-00000-000CQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - H9fBlmvJlz3ZIZa-ojmb8dFEg0kq26UUlMkhNJ-4Iq8P1kDUy5Qu4RAGlU2r7rfNLsI-SJLAksM25-3_y8soglsTl4vySDBB3ocPjIvzMS8SLMJcGp7j0z-oDkhlKuoTGY0CLp_-OHFydyrkfBzexkyiuvxoJypUnYCC4Oa43TKk1AlmSRQ9utFqrWYn-7nLlLG2uAZ891qzXbhi2ANU4sXeuhKkjYN9vE5r8abmnfpz7MdPoapQNFLWbq5D163O3Qei68lqzErZ2OpO846zejlZZtzlICdO8gil4Sp6QnFh5e1CNTAcAEsAm-TVrBJODuEvuWRCg87CiF_KNDGwuhwgc0DCi59_DkbqxvAnTJb4mdKXqiu_dlhGAv-t8GkotrvHSvMSTmKlJi0gP23pJa7mDR9TmxVv72yV1HE37ONlu1xxT0U0tp7Ku3Zdsge20
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160206755-364cd94b
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CQ","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","balance":0.0,"statusDate":"2014-08-20
        11:01:59","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:01:59","totalFee":0.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":263119306,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","initiatedProduct":"AV360","booking":false,"customId":"BLD14-00186","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CQ"},{"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","balance":0.0,"statusDate":"2014-08-20
        11:02:00","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","initiatedProduct":"AV360","booking":false,"customId":"BLD14-00187","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Thu, 21 Aug 2014 16:02:06 GMT
recorded_with: VCR 2.9.2
