---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815151935532-1c84e41f
    body:
      encoding: UTF-8
      string: '{"access_token":"RfF4DwPpnUApeXyPAeSS6eD7-tw0ouSncqaZHhkSpsrJJ6L7Ix_Fau-15DinYpyOxGjEdhDkMUeaeajvU70-F2TuEhSS5sUCp9WNivCa8M8dSXVMYtIUSoDM9Gsj-vEOCGW8T5ffamlCUW8LsffT_7PpUC0bdrdoVQHEj1j-IUHmKaDmvOG94wX35XcvWiagvaNLv7FQZZoGYn6NQ5jV_VPnJx9lhdpE2mEzhQR1p9R8S6h9aZI6i-cHx3UKSIROqFv648-mQYuepdcwK3XmCcyM9JFVMnmXda-dNL4XM0mBuOS6V4ZpBIQYzaI9YFtRJZtdEgk2KEBiaOKr3SsvIntaU7VghEmIDwKaaMUHHUIvqIGJPvKcUgJ3p9DiiS6zOQBedeaY91VPUWWIGsbeBfZ9DXVdPpHB__pNs705RUpwnETsDsBfP98SljRGNWRl0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAItQIA9mfLARkTwU2cJuXNzxDjPeqogx6QxWB8jWo4KC4QAAAAG82sGfs_X9WnRbTd8VFyoYSuYKR0CqyLTQxHG1azIEqoC1xLNxDpkoq1hueex_Pr_P25rVShK4bogz-IdA-IdD7ycJPM5thBF9cakW-bcf_lnJoSqeNPACejvexuUMP4VwqF4S9qWXBAclc0rne9zT8nOQuju3zCh1vQuMR38y5s8qrkPRiHKFzS_GPbxYu1GV4pMjLl-eUZLfjxX-p5lSdYrsRoEvZU0AZ96KwhhDdWkKQOLmp2Gvqtu5L5y9pd2s4eUJNkyPzy8Ta_SqjGgamiONtPOn3wH7IX9G8-WvIA","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 15:19:36 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - RfF4DwPpnUApeXyPAeSS6eD7-tw0ouSncqaZHhkSpsrJJ6L7Ix_Fau-15DinYpyOxGjEdhDkMUeaeajvU70-F2TuEhSS5sUCp9WNivCa8M8dSXVMYtIUSoDM9Gsj-vEOCGW8T5ffamlCUW8LsffT_7PpUC0bdrdoVQHEj1j-IUHmKaDmvOG94wX35XcvWiagvaNLv7FQZZoGYn6NQ5jV_VPnJx9lhdpE2mEzhQR1p9R8S6h9aZI6i-cHx3UKSIROqFv648-mQYuepdcwK3XmCcyM9JFVMnmXda-dNL4XM0mBuOS6V4ZpBIQYzaI9YFtRJZtdEgk2KEBiaOKr3SsvIntaU7VghEmIDwKaaMUHHUIvqIGJPvKcUgJ3p9DiiS6zOQBedeaY91VPUWWIGsbeBfZ9DXVdPpHB__pNs705RUpwnETsDsBfP98SljRGNWRl0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815151938714-4c54d357
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 15:19:38 GMT
recorded_with: VCR 2.9.2
