---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815205549758-73697916
    body:
      encoding: UTF-8
      string: '{"access_token":"t7h9014v2t4RmRV8OFtoGBgu2mg1PAk8VI-PePlS_O9Jfd8zlide2g97TEbK7jSJxYLNo8nzZ-mJ7TEzOjQe_wbHUt0IrOEO_hy1oaW3juJNMIU38YB2LT0ufcLp-GTJMJVTNOLzquEfa_h8CHu1I8KeUf80Y37uQ4y6Rp3_Xp0DZOGQxmwaYlYpP4DZxpwTZq2uNfmbDMXtrPQgTWh1j1H38NNkrG6n_X9laXCq8m4mbA3YAl7thXAxynAe3H3Z508PMP-Mnm2bxPC4h-L6VZWsAq75PzIlAKW7dqAwHe7Fl8FbGBN2d9isOeMuaOP8egpMFoTof2PPrMdiWhIWFpkm-dTBk7HW6mzudsKTf1kZsxuWJE_TIXeXvANDY-gDAG0d81ATq5ncSd8TfpD9_GtMJdIzVInTx-dYKShjQ41vQBB4AUMHO4PgSDguAAJN0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAHtSdisf0Gg0Xh74U0WpCtQ1HnSNVUueIelcl3hRwau04QAAAAEGQDVOlNLJGmcBtRLvh6hmplUZM4m6ULH-eWd0Dr0V9vk7d_iqz1yBeKILoJQxqzCgQdjIN7nvRXvnRLt9wI0PrcIw_8w8cT3ZlEkXAuMYFC3PEvCU9Qkr9Nc5B3sp_06UjNPdjtUKsfDF-KYd2IJlv2tsxsb0_JLKr5U4zBr1hApfs7qTp6KHTeUCWNKZWHnhMy5ZHyka4aO3GNgTlLtTLhLlsYc127lz6zKbUSdOiA9vaZVVykmHTqqvHgrvFVwAE4RpnViP6GcJbL9tMvIpbzlvATpVGN3dkhhRKlgQSg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 20:55:50 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - t7h9014v2t4RmRV8OFtoGBgu2mg1PAk8VI-PePlS_O9Jfd8zlide2g97TEbK7jSJxYLNo8nzZ-mJ7TEzOjQe_wbHUt0IrOEO_hy1oaW3juJNMIU38YB2LT0ufcLp-GTJMJVTNOLzquEfa_h8CHu1I8KeUf80Y37uQ4y6Rp3_Xp0DZOGQxmwaYlYpP4DZxpwTZq2uNfmbDMXtrPQgTWh1j1H38NNkrG6n_X9laXCq8m4mbA3YAl7thXAxynAe3H3Z508PMP-Mnm2bxPC4h-L6VZWsAq75PzIlAKW7dqAwHe7Fl8FbGBN2d9isOeMuaOP8egpMFoTof2PPrMdiWhIWFpkm-dTBk7HW6mzudsKTf1kZsxuWJE_TIXeXvANDY-gDAG0d81ATq5ncSd8TfpD9_GtMJdIzVInTx-dYKShjQ41vQBB4AUMHO4PgSDguAAJN0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815205551108-009da38f
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 20:55:51 GMT
recorded_with: VCR 2.9.2
