---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916184617859-da8c79e5
    body:
      encoding: UTF-8
      string: '{"access_token":"M9LLGtxvY0R5QTUS32ar8wLuHW-NfNAyex__65CC-N_JE6GaqxuylZLQ_OJ4A0YqS4rtK8FekaHTOEFgoQBbIJB6mj4kUJ2BEGQpYL-d4UwzRJ-Fsqmc8XauCQUbdalbrbAWtmN5vwIlwayQm-n80pYo7kTXXeezvQ4PHxM52TdITMrZ7Mx6R4six4zFEPeh_Q6pzBBOZoUs65AWe5rh4BxFJJXfJFyBnuLdKgFl1HHUtH8TG71qB9J0NoW0dTBMfHRwZj4rMSFBy7bPvzfpMlFOLFlRISo7Drk6IAfSkq6Sxc8qT8TXFP51WtY7r3BWUiJpe5C3gDD6WLZnt52R_u-IDZw0RkPMRvx80gn_0X7c9YnA4XGBpZgjFMYz7_WWnoDQwzzZiapAUWojanbgLGoSCBtp3xeMXqlfwIFexdE1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAKc00SuUpuhaJZZpcWy5SBOtyHrPhZN-CO6PpYUdArrs0QAAAAGk6phDmoEfNOS7mLGvlnk_uexowmijIhY4UqV3SAGPTLaK5voPIdTxU5ObvlIIF23ojQN-mI-caVQFtxQPL-Tq1g3rn-as2b7FTSXViCJy7Xd3VhUdAQvON1PCBG4k1BLzvYFZjr_d8e7iQo2VryozcJCsZNaHSnLr8Eqp1I7fW-s-wL3i1ccKDtYF2k3h39qOAgkFZhgYvOIJcs_NS_snMCGKZW3wPmcWvlSPDkeI0NQODC6VQK4gSk6OhZEP7kzgRLrUmJmT5xikZPdkOT2l","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 16 Sep 2014 18:46:19 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916184619640-cc27952a
    body:
      encoding: UTF-8
      string: '{"result":[{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":901,"streetName":"LINDBERG","id":3,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":891,"streetName":"LINDBERG","id[...]
