---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194842685-c02abbdc
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGE1fh0V1N_EfDuqePaPWRYcQmkSqT4EzENnM7kvJ0MsmvAdc9xdW4-aWwSm5CmbLzvXi5pV6InZ1SL6Huco4HQLjKpIWGmcxKwUhCak3FAbZsKMaJbDqnOybOdgbFoapWYsIhi6iuKsU1C6tgNzYPHixvTUSUwWi1Sp-0Nzay4mN6iDwwJUk5tlPNMKK6_bOxtfTZk1Ww7KsmafOOWWe5UsbKuYlUSst47VM7iCuzc8pD7QU2Lpvq7FqyCtuTrAGUIe0bC_EKRRXFAlQHBxQx9IAnSkmID8rh-hUbOQcq6-ZB_rWH04iAycS_NoSOEfnJpjmwHsznnAhAit9oi0XE1YjQ7dQGO2wqc5pdx3GC_Ab2-WePd2HzzA5ybmK5qUZJacCFCwb7C64ygkbYAoiW-k1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAADiD4Vf3BpMCv2iM2Lpf6hsWxBVgQnWHXMwZAp6kdq4N0QAAAAGWME_N1f-T7OKKVcMnwxX9VFknWfXttRczbCX4oDpnkHxpNZ9HhUHglgNVOBZWYTBqlOn5YjKw0U-rpmMPQSdjFwPoTj5DLm0LMAMlgqdbP2FWU0HVoQuxVItRfouy7JitQ156EEdlp3t6zmfIf5CJoUB10eQY-1U0ZScsUttQ-MNiWso9PqKHTI5tL4ZTXU_XYXorVbPwRQtInGORoczMqDdMGqWxwDjVYSxU9k2JYxPTTpTiIvPFbqRogBJCaIolkAaWvPn-TS7LuflcDA7f","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 16 Sep 2014 19:48:44 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194844027-53b6651a
    body:
      encoding: UTF-8
      string: '{"result":[{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":901,"streetName":"LINDBERG","id":3,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":891,"streetName":"LINDBERG","id[...]
