---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140910153222351-a7b467dd
    body:
      encoding: UTF-8
      string: '{"access_token":"N6cbd11aonYJ-bUqP4bL5yyhYoiXCnrOFaGIA6sNupOdhIfwSA84CoyFeiEAUSSRLe1EbvLaJQt7CX85vThDeRtAlv0lv4IPTQOXjo0GQToT-BYtfQxlVmfTRhyjH_K-O3SrerIsyB8yiSc88_7TMaiyUCJnzbPuWoQhQQTPPlS0Q7L7UppVZyhDj_DOHLO-Kr6iHIzSClYKoCMHVWdObO03645r8MoyFuC6l4KQlhiP8OtXdSsA906qlZWvPoRNV1tNgw-5xIcVk6qmwDsiv1KRcmITs3Lu8fyNiZq8g2wYNV82uiOvbAdB3pgrS7SG7UPCi5OvOh222EnOqtpZ-74fnFFunjCD-AuP-0cf_E96uzEwxZWRXbtuRxsPvOpYdIPcmQhoztGtO0HNcoZTy9tLDoUJ3Zn-_UBudylHxzQ1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAEQRCRDmlc3RMgbfCfROQ_rM-z6c0F0sMhGHWM85FSC30QAAAAG4eOA9M0Flai8MABahWIBD9P32golATGCjHlSfic9M-zehu8jIzRwYWuErgg6dF4psIV8MjYxcfaim9RKnRknlBiyWj5cSCOHdEE0QgDeTyQP4nKWPT2peiHATkw96MATiNZhXUG5EXkEq4ljT1yRLC-zW2onwdZV3i7pOhyNuGk_k7opbRLICRcoFvWTHP0nFa5281XI8PdPy8IpyvtOyIOC8zLP57V_RlPzW5fx6vcqAiakdGZrMfLLNSLGd8lxtiHsjridbYKVaOhSX6tb1","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Wed, 10 Sep 2014 15:32:23 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels?isPrimary=N
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140910153223926-b2eeb180
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelNumber":"-","isPrimary":"N","id":"-","status":{"value":"A","text":"Active"}},{"parcelNumber":"005010004","isPrimary":"N","id":"005010004","parcelArea":7927920.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010005","isPrimary":"N","id":"005010005","parcelArea":1.3068E7,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010008","isPrimary":"N","id":"005010008","parcelArea":1062000.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010010","isPrimary":"N","id":"005010010","parcelArea":5052960.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010011","isPrimary":"N","id":"005010011","parcelArea":47916[...]
