---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141715773-849ed2e1
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjExklf0YKqhSmw6t2UobJewCnllNZvqqwSe0-23Bk8DU51mt3CMs35q3XvhzRDxNsS1lfV56xzKT3lsZH346a7dhKD-mJftpTtQlYtX0HsrBTZHJ3bOiZidBOaBGeqWZBIqDrHHQMAzNQ8fPCgr_SB3DKywFIrV57nyyJlMWSi4NMh9QgQgqgq_DSfM9Y9nDFqXmC1bSC7IwW63wAPKBhENUpRpr4k0-x9MOOAjpoXt-PHB1YJlVjutsigxcTH0Wp5mhYgRVBAX60biYBI4-EP9d9Ldo_fCRyfL_pWXdMvuCKTVwMmKPtQJ9VlLV-cc31sQTdZJFeFG99nddfTIBwEui-L85R7Jn_67coy5MEMg4lMdB9EwM5O924IKsbO7rszKHeZYvNS4vIMYTGlHXIK901","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAP6njSbsubWISCCCvX1SmztCiebpJDheqiqZ3Yc4Hv7w0QAAAAF_5w_k-EwHLgP3bLrKX0TGQ1FdvaLMPAoA1JhjNfIVmfNonz3fOf67klrErgVWzICXOd1uHJnyzo1wZOfAXz00iHBdM49lYLHhTykt8XJBqn76wlI-56fohch6vvY2VUgAoSKSRE_Iyf0TOWqit0zrIZaeKvS8xl_YhmRtlYKoK6fPP-Sso332LD-WqIYrS7Sg_SJZZukunBZIB9K3wk9SGlanQfDA7uUM1FR36jkF_SMFHrnrD180XTSCype9sI0TkN2t88XFE2e8L-XuG10O","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Tue, 16 Sep 2014 14:17:17 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels?isPrimary=N
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141717206-a56b572d
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelNumber":"-","isPrimary":"N","id":"-","status":{"value":"A","text":"Active"}},{"parcelNumber":"005010004","isPrimary":"N","id":"005010004","parcelArea":7927920.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010005","isPrimary":"N","id":"005010005","parcelArea":1.3068E7,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010008","isPrimary":"N","id":"005010008","parcelArea":1062000.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010010","isPrimary":"N","id":"005010010","parcelArea":5052960.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010011","isPrimary":"N","id":"005010011","parcelArea":47916[...]
