---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826151653474-e065dcc7
    body:
      encoding: UTF-8
      string: '{"access_token":"OL27lRNrXjBjAR0q9_DeOVtCfMdMAml_aEvdmZoP9yVX7YZhiH8LJpZF10U1jj9wv5ZmaolEQH1xIGT5oGGaUmqaVI-NUf_-SMX9SAgnVM4IV-LwW3dNkdpuuet8Jk8Y0npDVj4Jh4aQtmV-kIXj8iPgwyqgqQ2arT0bQuTcE9miLF_6NR20EjyNUCyAF17Qcfy0dyWLrpNDktbANNj5mR4gAxemB_6kSsCKgCPrMJLQSSCR1mcgPaHj08wpngjcXdjt1wlAZ_jK9Yg357o4JEEYCKN9a5fdC4iUSbF-k8jIKpur14YQC8PUAQ4SZxy9_VCOm0oZzRV2SarY8XISFVmdjeMd2iAzUqGfYT_bpCNbhadPryX84dNE7AC3r3DP00U9oi5ZnBfiXLO4LvFl_wYiTlA4cwcOT8cmNeWtDmxGQrvIdi8SZVeABCVQh-6l0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAPC11hFJ1BVGMXDzXEVwZJuTY7JAoZM3ZDEtDHZ5xmdv0QAAAAEC0EHvoFpdVWLUyg2wh3NUI1xeaVunwNZhoXrv4nqOcxqxjJURFYWziIqv5elXvqJp-Vx-cRCVbRsbNqNiQdfy9gCqVPHJKcXQagMIRR_Fs86u3tDeqGHNFY4hQ96JYM4hAZfrPNvxA0vN5bIA15jPfn5D5tYi5GL3h7MbO2uHT--FY0-9yY9PgeGD6krY2IYEHCVrz5rt_NNsb9GJw16FBaykvdelXjZ3n9-2dW3D_YlcWmJPLZdZI-de4JkFiAkQcxjtcXQfhkl5oOWj5xne","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 26 Aug 2014 15:16:55 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826151655757-248b8423
    body:
      encoding: UTF-8
      string: '{"result":[{"auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"city":"PETALUMA","postalCode":"94952","country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"auditStatus":"A","isPrimary":"Y","streetStart":901,"streetName":"LINDBERG","id":3,"sourceNumber":11,"city":"PETALUMA","postalCode":"94952","country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"auditStatus":"A","isPrimary":"Y","streetStart":891,"streetName":"LINDBERG","id":4,"sourceNumber":11,"city":"PETALUMA"[...]
