---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826203727504-dc994710
    body:
      encoding: UTF-8
      string: '{"access_token":"E_IlcauX8G5sEwlmFVuoXCseQbG-TKEHJtNLk_8zoxxw4EhgOVuKEG_axh30GEQbbV50TNshzl--20bWXF0jMw6N4h26JmiwrG2KaACHevs5gXNBI7OS-S2AzsV-My5NsK6z2dt45u8c_Te8TRZNTWTtRr61U5jP2eiVyqsH2CzF9TFplfpE7Nli7dfH6UPfZHOIsxF4HkmRP7vbmRE6RLbBIvCuAkWURlCM5tR9LCLUA1x9GhhNozSebwIaQ6-mw7DfeMO6Pr_PB2RcKPw3Ge13XdRn34VbmG_Gq-79FH4Qpv3ZC-jC1_vCVSB792hqEP5uAMGhhDxtpqryflgbr_Ywk6ZC0-LkqbBI6tqXIwsBxPi2pX6cwIVCNs2WkHdgsRp6oSb1hjenhmYx9PdC0omvEXal_CAuBkq0rwQv8o75H3OGTmHS7h7nipbBpILM0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAA2MAlENcC-Nj_Ye_GE5cvFLwFrfzoqlKX7tNrCEqKUp0QAAAAFgUfVwBzhUXoIXEqW5ian4agPGA630oExxmTUPISOR517g82jdENltMmFPQghC_obJM1rsPvCQLRDR4P0_40bmbTr5Y48_1x3SxJgy3WkPA6X01yXY8PcZCEtGZbJXmG6ULdvlX5ERo6PWV2G_tFbwauLZ2K7l3X2s3fRdKrLczTAJnNbYJZimYH9LkqoraJDOP7EbItliOv2WugZkIJhbS99xFSP1QmqNgvXu0ZjXqnoKs32ViEcfJwXo79t33uToCFDJBUUQ7_SE9NMMlUtK","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 26 Aug 2014 20:37:28 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826203728995-83b147b4
    body:
      encoding: UTF-8
      string: '{"result":[{"auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"city":"PETALUMA","postalCode":"94952","country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"auditStatus":"A","isPrimary":"Y","streetStart":901,"streetName":"LINDBERG","id":3,"sourceNumber":11,"city":"PETALUMA","postalCode":"94952","country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"auditStatus":"A","isPrimary":"Y","streetStart":891,"streetName":"LINDBERG","id":4,"sourceNumber":11,"city":"PETALUMA"[...]
