---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141639524-a390d55a
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE6GkXzxjFVrdZbL36cntYAKOzakRqS7BqogWrcOjlE-AcEAfhQaS6KjBb23q3fbQCJEdrSGVa41R8T5BkHvQ1AppuUux3k1SbfBEojb1NrSuq2o_LgLptGZlxoI20t9qJTxmDxSArEoM2wYK4ZawdOVDpH_ukatKWjio9llh31JjCOHmVIIE2vl8l84UZW-0cj3AFkwugBRAveky4wOsez4hIVAHoHN5Dtjtyx8uvMZow51Y2ETEiz06jx8HKbsE8cdpQj2hkZ6EZYW-u_apk-eyHoFAWVIjeThNd3Q62vzP03eanpxu9jaPNqmpucYNz5BMIEa_hR7LBuxZG-2GCP-JCAP5u3cWrbYT-A3euTLeuknNwdnEW1ipmM5_n2K5zdYTrueVXvd1RWianPNgg6DC18YgTl-sZhkLkE-2_BVE0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAHdQDxZujHlDnWgCQcfJZOn23hR10j7VmKLNUu1tgkLN0QAAAAFRyUA5zYN9K_QBw9LMYReo6n8NVl--gQ82In8YyInxr77ROBenJB3X2bdjJng1xyt8W0nipRzlroW4KPmxlXN3XpLiWJosOuBA4m452zXLgJ8dTPEExMuzWyaqqaYsx5aGBgavgFx1jWNJfbJ0ESbMfe-ie-vTeXmQc7ZCtaMitRjhluGvA11rvjrq8dC7k7OKZkM0k_3Aa0mvhlxmZftmavrG6_JLjIT3qajw4z1ns-0yxkh88MUEbGgr1weDWTd0B5G3BDA2Y9yjccINeuVO","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 16 Sep 2014 14:16:41 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141641144-30f8b884
    body:
      encoding: UTF-8
      string: '{"result":[{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":901,"streetName":"LINDBERG","id":3,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":891,"streetName":"LINDBERG","id[...]
