---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=create_record
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141757866-009118c5
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE1nwH_uwL6T5UZpOg8cSeCe0YCYv62xo0qzB-xWQ1FMeDxLnObWUyH2YtRHE38t03SfvTftNbEbx5zjIvLiYq04Lw4VLKHFKv_zHrXCVp08q_NhOzG6c2JrqIgfWpFo1UDwBUlUWNLk1B5DtmdqcXly2PRCXbfrHYOL-eM6Kyu67n6aEvHQdKS1c-PV-YRk4FTzZL2v9eAt8IoBYfhs3J-OdqPXjGGbPP-x5Yhe0hGIdnVIpj1q7pd3Mh--XdUrOL93ijrbjqWZg75vH1lCceMyRyfspg5SO7kvWPbluqWxyGl7z2UuuEBMUKlB34nwWPfq7Z3GMxD0Vtzo96rKtomjddgyzCCORN1_AZShZSRdlNeTss80nLvq--15PoTNWBC3zjOcJkDWAKAcFSbmLlnM0szesWFUEKBrRJ4Ih9ZHF0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAANAqfYBv6mP3zfgMk4HD4puB1ibziOCErymRwSN-fSOY0QAAAAEafW6UJ6WPk0yTQRK4evpAnoWODYVZ8d1BqlxiSBPe8zyhPajFlF9vukVtjl15lJmkqmaL4lLzPH1UOFPXYp3ITkfIuHCSBklnxsqmQPLefIDfa5poHBjya__8ts-dIxb5AGysmn5GFWcL-cAvZljiqp5hPs2qcGOFcj6h2qWPF0Tqn5_TiK2Os49kJtGLcU5NGRtebeXqhjlQ8qMfW0MAm-XjQh4ND-L5pr6EftC4OjekIUSvvFX8quKTtp5J-gIDYPThlfpbHHaL4lpKfFsv","scope":"create_record
        get_civicid_profile"}'
  recorded_at: Tue, 16 Sep 2014 14:17:59 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"actualProductionUnit":123.43,"type":{"id":"AMS-Facility-Boiler-Preventative.cMaintenance"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE1nwH_uwL6T5UZpOg8cSeCe0YCYv62xo0qzB-xWQ1FMeDxLnObWUyH2YtRHE38t03SfvTftNbEbx5zjIvLiYq04Lw4VLKHFKv_zHrXCVp08q_NhOzG6c2JrqIgfWpFo1UDwBUlUWNLk1B5DtmdqcXly2PRCXbfrHYOL-eM6Kyu67n6aEvHQdKS1c-PV-YRk4FTzZL2v9eAt8IoBYfhs3J-OdqPXjGGbPP-x5Yhe0hGIdnVIpj1q7pd3Mh--XdUrOL93ijrbjqWZg75vH1lCceMyRyfspg5SO7kvWPbluqWxyGl7z2UuuEBMUKlB34nwWPfq7Z3GMxD0Vtzo96rKtomjddgyzCCORN1_AZShZSRdlNeTss80nLvq--15PoTNWBC3zjOcJkDWAKAcFSbmLlnM0szesWFUEKBrRJ4Ih9ZHF0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141759503-58ee0acb
    body:
      encoding: UTF-8
      string: '{"message":"EMSE operation failed.","result":{"id":"ISLANDTON-14CAP-00000-000FO","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","text":"Boiler Maintenance","group":"AMS","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"initiatedProduct":"AV360","createdBy":"MDEVELOPER","serviceProviderCode":"ISLANDTON","statusDate":"2014-09-16
        07:25:51","module":"AMS","customId":"WO-2014-00080","recordClass":"COMPLETE","trackingId":269166921,"actualProductionUnit":123.43,"value":"14CAP-00000-000FO","totalFee":0.0,"totalPay":0.0,"balance":0.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false},"status":200,"code":"emse_error"}'
  recorded_at: Tue, 16 Sep 2014 14:18:02 GMT
recorded_with: VCR 2.9.2
