---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=owners
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141701633-36e75542
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE9Rf8weOm5lc1qQzr_AIOb__kHAKxLdEVyaTLYK4Yc90fgyZq5BEDHjApn7l33asKx2nUl5R9MJne6FZQqiUcfW56RBi9yYVdylFuTkwXYqoeL_MrHAG824UKd1Dj9hMV4XpQiGoL1qKEUC7kIbbWSUQm-tMqvFQ6wv-CK38WymE7D2gLpUvNIiik-UFrg3_Af0HfE9CMZY24o-F9C-PIVU9Tk4Hr1wa_aa6GlXFO3s2yK4N_Z6bgWaPoFkfuww6gIq8xSsq15xIu7OptSIOUeV5LGdtjxgfmazGu31lTJDzJhkelPYtmhSGxf60v3KglPd7RuUsRIwUG4De2gUAsA7DglVAW911gbew0iOo5KyXdkbCLbab_xaAS_Kx666l5zY8YzyBB9npc5550hl7YLc1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAIAZutiX4r0Mh7JErY2yiHpn_WsaYfNOibzHl38_vFIc0QAAAAHpTsgXZJl97eTxpEjmOs82o4LC89GxvGw7pl4K_KK6UYbA59Js-kJmXG5y5cAU1lygzcL6OfQM7kkeyroT4EDjkIuvkEoMwj9TfB_BCRAQYhMi834sdomXXxm4ahAxYXPytx-0AhEzdNNC2qsG5Yk-C3yg0Ezl4HNAiX4QWs6YgKk_wJTzR9OmbSBoKjvIphp3dovWodQjXDF-zq6hwswfVhysqLY5WWWKr-jjvkRvCk0UPt4oMRVoKlI9qFs5FXNLsJMw1T0lJ_vvzKwW27U5","scope":"get_civicid_profile
        owners"}'
  recorded_at: Tue, 16 Sep 2014 14:17:03 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners?state=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE9Rf8weOm5lc1qQzr_AIOb__kHAKxLdEVyaTLYK4Yc90fgyZq5BEDHjApn7l33asKx2nUl5R9MJne6FZQqiUcfW56RBi9yYVdylFuTkwXYqoeL_MrHAG824UKd1Dj9hMV4XpQiGoL1qKEUC7kIbbWSUQm-tMqvFQ6wv-CK38WymE7D2gLpUvNIiik-UFrg3_Af0HfE9CMZY24o-F9C-PIVU9Tk4Hr1wa_aa6GlXFO3s2yK4N_Z6bgWaPoFkfuww6gIq8xSsq15xIu7OptSIOUeV5LGdtjxgfmazGu31lTJDzJhkelPYtmhSGxf60v3KglPd7RuUsRIwUG4De2gUAsA7DglVAW911gbew0iOo5KyXdkbCLbab_xaAS_Kx666l5zY8YzyBB9npc5550hl7YLc1
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141703113-f6078f5d
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelId":"008391077","id":4818534,"fullName":"BRICKER
        MICHAEL D","isPrimary":"Y","mailAddress":{"city":"BATAVIA ","postalCode":"45103","addressLine2":"4231
        PEACE HAVEN LN","state":{"value":"OH","text":"OH"}},"address":{"city":"BATAVIA
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"047181028","id":1876184,"fullName":"MOSHELL
        ADELINE H","isPrimary":"Y","mailAddress":{"city":"FREDERICKTOWN ","postalCode":"43019","addressLine2":"38
        WEST SANDUSKY ST","state":{"value":"OH","text":"OH"}},"address":{"city":"FREDERICKTOWN
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"137230010","id":4823151,"fullName":"TAYLOR
        CYNTHIA","isPrimary":"Y","mailAddress":{"city":"SHAKER HEIGHTS ","postalCode":"44120","addressLine2":"16090
        PARKLAND DR","state":{"value":"OH","text":"OH"}},"address":{"city":"SHAKER
        HEIGHTS ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}}],"status":200,"page":{"offset":0,"limit":25,"hasmore":false}}'
  recorded_at: Tue, 16 Sep 2014 14:17:09 GMT
recorded_with: VCR 2.9.2
