---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=owners
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140910201744741-53a03293
    body:
      encoding: UTF-8
      string: '{"access_token":"L0ovV1Km7Dr5bAIdlbd5N1xi3rYxEak0_k0_ZGSdTH9v_IShf2LlJE4h4owHQnWGXmfXfFKZlLFugBqedfeJiAw1uzJj3KX3gNnWfx3d3QxxD6siHwzARGoINY09TEyBdSe02ZX1KKdP-5-3nM--yb7jqdN-dCp1Eo_2jpBtL7r44bz6Tw9fYtR7fZUDPli6og1nL4Q6Q-6WQrMF9OnnhTTkxtQzbDcNgNzcTxUGoru3a7PXzipNLbItFZJEEbL1Tfj1RGml-v7pnOjQd4kwfJ-mzDCvhnBaY1uNSiIgaSceXapbc9Z92YA-zdiH2UDe7TLkVmxd05hF-HPSt27dp1q8BeC-mUuX6BJuP-k0tg5GSaQfbuIqXLVZMiy8ec3aneLK8C93u-p04W1MZ0OMrPtyVhuHO9ouAz_jyIppqgg1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOj1lKH660VVZssIt1o-zOXZ3ciBc1MdPBUnUjFjIf2H0QAAAAEqy10R_yMkTpzSFkCbQdvqB9IGdwaARcTFW0QBCvC7mMUSPPdYJ9diBGTej4pkOlnJ-R6teZfbmGJBQuNLv39xV8d6qLS7H7ryTzPIkKE02hEl_MZmhQDzpx4cxxoXJMW1_sEjmeQC94obxDNgx8DZYSO4hdCHGeyeDZihjswcEq6lU4YR3XLvzbgtr8619NGEffYj5OVYfu6LtM7U7a1T-ZhnaIvF1bt-YCFp1Qlxy1W1f55YMsreL55G4kqryYp73dStvY_FAXA7zNXI2oMn","scope":"get_civicid_profile
        owners"}'
  recorded_at: Wed, 10 Sep 2014 20:17:44 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners?state=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - L0ovV1Km7Dr5bAIdlbd5N1xi3rYxEak0_k0_ZGSdTH9v_IShf2LlJE4h4owHQnWGXmfXfFKZlLFugBqedfeJiAw1uzJj3KX3gNnWfx3d3QxxD6siHwzARGoINY09TEyBdSe02ZX1KKdP-5-3nM--yb7jqdN-dCp1Eo_2jpBtL7r44bz6Tw9fYtR7fZUDPli6og1nL4Q6Q-6WQrMF9OnnhTTkxtQzbDcNgNzcTxUGoru3a7PXzipNLbItFZJEEbL1Tfj1RGml-v7pnOjQd4kwfJ-mzDCvhnBaY1uNSiIgaSceXapbc9Z92YA-zdiH2UDe7TLkVmxd05hF-HPSt27dp1q8BeC-mUuX6BJuP-k0tg5GSaQfbuIqXLVZMiy8ec3aneLK8C93u-p04W1MZ0OMrPtyVhuHO9ouAz_jyIppqgg1
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140910201746802-689090b1
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelId":"008391077","id":4818534,"fullName":"BRICKER
        MICHAEL D","isPrimary":"Y","mailAddress":{"city":"BATAVIA ","postalCode":"45103","addressLine2":"4231
        PEACE HAVEN LN","state":{"value":"OH","text":"OH"}},"address":{"city":"BATAVIA
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"047181028","id":1876184,"fullName":"MOSHELL
        ADELINE H","isPrimary":"Y","mailAddress":{"city":"FREDERICKTOWN ","postalCode":"43019","addressLine2":"38
        WEST SANDUSKY ST","state":{"value":"OH","text":"OH"}},"address":{"city":"FREDERICKTOWN
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"137230010","id":4823151,"fullName":"TAYLOR
        CYNTHIA","isPrimary":"Y","mailAddress":{"city":"SHAKER HEIGHTS ","postalCode":"44120","addressLine2":"16090
        PARKLAND DR","state":{"value":"OH","text":"OH"}},"address":{"city":"SHAKER
        HEIGHTS ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}}],"status":200,"page":{"offset":0,"limit":25,"hasmore":false}}'
  recorded_at: Wed, 10 Sep 2014 20:17:46 GMT
recorded_with: VCR 2.9.2
