---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826203745738-fab54ca4
    body:
      encoding: UTF-8
      string: '{"access_token":"E_IlcauX8G5sEwlmFVuoXOAffnbTNW63rXcrvEIni7ASWEwL-nKMgjirA4kC4Y4kU0O-8CogOnA4WdrtovhkQwpqr89GA8I2_QM4bdBosVicoQlUqPtJ7AfAvRkhjWV-e-3YGURdeT4qATcHSjjSyio2F7XRkRkbUgj6SmG1MBrLVFYY3l9WBXFRuIeXVtbYkdTmCmmRlIDHle6strjTXP8CRnR2imUHq3sFdXOnTHP1P57ziPLoYvDCOCWX7asnSc7mJlKxU4zlBVPL3M0Uwc0S9ItgTrgQLNHEy1Z7OuFh9873EauVEmO97jXPeUSzNv7Z5oztfKciqOL5w-WWwxaYz70dOhlgePY9lpmLTixwGE5mc_N6QAicO_DjWvhwamy0nqg-lZqAYePZZvs-NicaYkIPfAe1bgBPXsRll2aILXJR5XiOebhW12qAJ4EL0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAHH8fGHDd2pBvTzprucr4uWlr7qaEWos_BaZZMuXOfKf4QAAAAH6uJxpnOMmAvvR5oFxjAACN1085GHKMkdN3lwNwdcvPiQKtx9SZb5BJ54u7m3BiFG-SDi-AxdxouzPe1qeHWHYHqVuA5XkRvFUN7UaQe3SeOTFVyh09lMPhbal30-aLNCjh_PyXlc-7qQxVBaISIHodhUnD3_63Rbb80QYsQHV32h8x71ZQDPYJpd9_HEvAxC7L-JjzR1T3nQrMnj-aU-cc3s4FAHlvjpBKsLBheDLQGw_i9PFhhiNhClJCr3mKPoOLuH9w7k2fdx2JrcdJOT-PowfV-8VaLiv6NFyk5m7_A","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 26 Aug 2014 20:37:46 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826203747317-0617b07e
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-14CAP-00000-000DF","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","group":"AMS","text":"Boiler
        Maintenance","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"serviceProviderCode":"ISLANDTON","createdBy":"MDEVELOPER","module":"AMS","customId":"WO-2014-00077","openedDateFrom":"2014-08-26
        00:00:00","trackingId":262337734,"value":"14CAP-00000-000DF"},{"id":"ISLANDTON-14CAP-00000-000DE","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","group":"AMS","text":"Boiler
        Maintenance","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"serviceProviderCode":"ISLANDTON","createdBy":"MDEVELOPER","module":"AMS","customId":"WO-2014-00076","openedDateFrom":"2014-08-26
        00:00:00","trackingId":224866507,"value":"14CAP-00000-000DE"},{"id":"ISLANDTON-14CAP-00000-000DD","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","group":"AMS","text":"Boiler
        Maintenance","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"serviceProviderCode":"ISLANDTON","createdBy":"MDEVELOPER","module":"AMS","customId":"WO-2014-00075","openedDateFrom":"2014-08-26
        00:00:00","trackingId":213118252,"value":"14CAP-00000-000DD"},{"name":"Test
        of new residential","id":"ISLANDTON-14CAP-00000-000DB","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","group":"Building","text":"Residential
        New","subType":"New","id":"Building-Residential-New-NA"},"status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","createdBy":"PUBLICUSER94855","module":"Building","customId":"BLD14-00199","openedDateFrom":"2014-08-25
        00:00:00","trackingId":27645[...]
