---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160216599-c5eb3100
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8V1ggCHkuJFCcEcX5emL6oPfInMh6rFA77ORDf3zROAhnw2k6RloqBfUKnSYtvCH_k9Iam7PqTbl4i1lHNrdffMOA0NnU_rDWFiWMsl3616yyj8hHFaHLpnG3xpVcen0G99DGgEL8GFmGswI43LyLz0oxRrUD5Etw_PFALoznAO3fkE_WFGdjB1mL5UmAvnRAgLiphNeFexHMaKE_rKExd3nyv9oc4Tq2Yb9mRtZ0W7BTCTLD7Vj-DopZkzBwJjf8b8d-wkKPinN40ReY5YfPBRW3CcZWLWCor2Z7bQXYOn8tCjMhm5u3elRHRCWriB9qEEWt5zdDSrMS-Wv3c_NkMN_ZP3qCbpU7HWLnXXs3p0n5OxtreEg586xyIcHhLrveSCkEPvYY5I89IcmfQyCP269CvZ7x8H7v3H_N5Xf6MXM0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAJlcd5Af55zpR_WZ82lsxk2K0lp6-0WirH3LAZaUaJz74QAAAAHW3lK-NACiPWkGXn0mlD6h9tgDmLZDZuYedt-gQ33BQtXFg5-0BRuH-86xhy7VHrYCVpDqeL_9neZn8Iz2bcQImTMeva8wYc9HYt51s_fTktMfvdTtltSxLvplwu9gRz49BYuTflk1gv8-djzYE-F9bloS2Ib729FasO5gQcVO3qYfKxa17z73iF0tV4N-LMEx5yqxWeUPJHXSfjj_QspPNg4kYxnSWbVGxrz5i9VA4T2_fpt8l3Btgmk9SAAKwCpUwBVFhASUbhciRmO9nXEy0zt5KBGvFteo-Q-HmIxJLg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:17 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160218036-3fe576e1
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"MASHKOV-VuSpex Residential #2","id":"ISLANDTON-14CAP-00000-000CI","type":{"module":"Building","type":"Residential","value":"Building/Residential/Addition/NA","category":"NA","text":"Residential
        Addition","group":"Building","subType":"Addition","id":"Building-Residential-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"BRADP","serviceProviderCode":"ISLANDTON","openedDateFrom":"2014-08-20
        00:00:00","trackingId":253923535,"customId":"BLD14-00178","value":"14CAP-00000-000CI"},{"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CS","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","serviceProviderCode":"ISLANDTON","openedDateFrom":"2014-08-20
        00:[...]
