---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141724753-1c3d69b7
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE5Ckg9TcaDi3TZkAtFkOPSyqDSeqVod1xxFJbMs_6hO3tqNPi_gG198xZR-tEnRgTFP8PPdGBNoZ0ioZISI10DoUZmqBSh4hgCaoXfXzrY1bGnNun3eH2ETeAN5sC_lvRgHbjDKM35OBvBXSEsz91TkAUljpRyKkO6aTEdC0n-4OFVZD0rkCqzf43S_8R0y2hE4lHF5lxBsM7pnnTXsDyhXup1_BAH597xr38iEe4BwxtPG5BFTv6bx3wHWasCQ-fz_xPcE9BNqZ_C2TlIEdfWN1fbKLGWSCEzJNk0sLVGDEmjIhl5rJKKvHIrdfhp4CdVjiuh4qzqtOMIaDejfEEG0uHRud5rEq-J8mOkEGF1UejInrU2XinLmC0zRa2afA-GMdXU8gWn50SNUVlKPEfGsJ020UH8tC1TTO02UOiRXg0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOthPQV4KdAth8kJvoOFlpf8bvOf6NVGbV_OmDDGSHA-4QAAAAF18TZIUrPEM1ukg36MeYSV3Ds8Ao_04xauSaHRMHDbmUpkXcLOu7F_4Kgp0Cbr_ewazltmHrmOVhW08kUEv6jax9_W1GdvL3GS2xyAGzZUUWrBVPfRnaK2-YpwxVm6sA53bsrsZ0lH_hkQMkpJ81C79d8-xsb0-zHUG9o8rMgPHmgignB4KrNgzEckDxmu_z4kA63ZpAvlKYvrdcUWpmWsBwKlDo02HmwlwLeomZ8uzAVHgAphFfVfkCD-1a8s4FUz4mAPGlx9BqDcDpikrO1z_5S7b124a21l0vTZGKMd4A","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:26 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141726257-088ad965
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-14CAP-00000-000FK","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","module":"Building","customId":"BLD14-00216","openedDateFrom":"2014-09-16
        00:00:00","trackingId":257483888,"value":"14CAP-00000-000FK"},{"id":"ISLANDTON-14CAP-00000-000FJ","type":{"module":"ServiceRequest","type":"Graffiti","value":"ServiceRequest/Graffiti/Graffiti/NA","category":"NA","text":"Graffiti
        ","group":"ServiceRequest","subType":"Graffiti","id":"ServiceRequest-Graffiti-Graffiti-NA"},"status":{"value":"Received","text":"Received"},"createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","module":"ServiceRequest","customId":"SR-2014-00226","openedDateFrom":"2014-09-16
      [...]
