---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141750425-0c126f31
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE8-odwC5-6qU0Bq9eW2vqV-ip-LL5j-K35LbhdtQwafCQ3ITJMsXQKdPd3-Lf27hsXy_K925Jacy_PKoUoMOHbPihkmUs_3SWVQ-ynk7hOTgmxoZWJyaWBQukOQT-SuPPSd7JXinI8WX9IyIkfPt_gAx3ks0xF6c-V24IxZANPTUoj8_JAjg7hU92VAUe-uaVNltDbFUyXZSxw-4z_aUDMGWAtnCh2XvDJYN0HCrsNTBbfaAX3f8_mMIJpck0RscYoziQ88SaouxllxLYDCdzrFoRR2Raw5NPnI7CFBZHWzgNdKdfXNbXSt1VVL1ZoQo3CnT3Gy-WQ9OK3r9WcDxyq2u7wQnHtv-FlCz4G0IfVJ6cjH24QlyMgeCOylLv5o56yMYUse0xwU_zOSTma-v5jRF67SmoskxhhPiSPTxPDUn0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAHd6Lv7wSPbVy3biCE7sP5nYl7MWp9PsKgSwUXhmml6H4QAAAAFebIW-BjvMDToXIJ1GTNOr4ms9cfzZQ-YTt1MF5rXAZBa-Mq9EewNAZYcL7xNWlVoQYr6EO0EJ0JUDvedk4jTrG7rTvvRG6gEuW3sPbfwLWwinP2Wj_s8JGd_aqwFkQSvCqlCWQGmxtF0nqSTiz5p-jsU1dC9RbobLWmU9GvKsYa8fE5I7YH5vmO4GRqFnyleAANx3HYuogqDJx88tTYHxVavX6UyepdiUx38x0thfkktyADvIUIAjKoX_qW_m75-rzJdHxODZjbm1VMC2EH_wD2Z9zfHQNPPpHiPk9tnSKQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:51 GMT
recorded_with: VCR 2.9.2
