---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141751788-9f8f246c
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE-gNhV6hIBymWE8tKy7lBWcEWJojnLCKT2eJLiejL8y-aAI4nbPbp-q-9kMXvvG7PwB41ul416TGC5XYItU7y5FNt8PDmdYhhYRHwUAfM050bSQ7FxSPK8wUy0FGmFCdlQ9g1vnLMpAOqYM92nZfbf0kLYJ0ItWpv6PxFhKodCoAhY4A-7zqyPutHwVBwKwah90VGswdT47mEDgPcBg5k9-4XdzHVN6UmkjnNsNmLAz-eh7hURljs4akKV46DW2sNmT-xktQSaXx-4PEkmx37uKwSHejI3ur0j1zU9sOFlrfaXsfT_0U_rvXmsqJ1HDHD6wPSJvOQakgPucnCYz0pLGgKDdfIj-frdV096xndkG0fKR24mZypsp8QmTyPhl3NrS7-kh6VnL8A6Sm-ryOFg4_ajUG_-2xdQuarjL1NqVz0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAMXuaLgSxm-AeRWJffjYTnoTZz7G5bqEtkTYv6E5mwCH4QAAAAEBiLMT_lcuTISkt3QR3Qhn563fqLo4TBLXUYoPq77G5PUvpQWzljN7G8NkfglVuWz_lydKpAlZHQuBrYm8h8WeDv7XAjrDC81DaPOmsSlfy-oCb8iMYZbtTp_JwiSZ0Yz-bRLvR-t0fhBpMSd8TElYaav7AVG0K4zCU5y9Z_wYDUfiVCqvI1EBAq5q68WXskp8MVXf4cyq9zwVSAQkgBq_OVDKze75TCnQ9mq8n-U1lOUmx_gwvO1Hlw5GOr4H2lalRzh56V4L0F4WhytV6Q2Cgzdv6xVX3_zl7B0YRNl5XA","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:53 GMT
recorded_with: VCR 2.9.2
