---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916192348356-0c91d415
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGJlYx_mTDMKQP-_2jI5NKot5O72IahxsloZ3n6Drio_RZrrnfQ6r-agkrYguTW6ng_dHnRK-odvToF34V6r4iC2fHH4JAdrjJssbk9XSEZFrSRgywI8dtL8LXKwAqs6gBknYtHOXnnQqEdx6ViZ9nRaczZxapRs0TKSDha2Yk-tb0KfL5QkPA50YAWXhfL_wy2qrney9opihYdVUmFaf0CX1AhegsZX7BIKERB6URhvUnUB7DKvJuCVsj5y5ZejLxdMVwBfeCITPS_gpomxrS7LCS0PuuMyPlpB0XgN3yTBGN7iSCnNfNsIYz5NKzOCWoMY8sz77skEadAv60fbKUBffTu3Yaa1nWLFMeL-QdWlBNGextcu87RFqMJW_RDzi9LbrT65i_ZxL7KIR8OALuPA1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAPn-s67pkf_gF4VS9iZj4x-JDX4d2_wpsnvc7rgF_Tbj0QAAAAHa5k4-KfqSw2dmrz219LQ0-3hMwRvVAXJkniLwm-3eFhtYyFyvEw8KQZiL9mfSIY8CbLAjBXNX4id7iFVRGVzwrSLEKwKOs-TSp3kdKmAnocgs_piVh2wBVD--Lt2MF00qTiaAbDPyYfjv8ADL1dtNIv_2YwnzFWcNAv25tfzGqP-KoXIOMfGZZrlHf3yi9oMRsMZPWSQy1rJEh1iolQXDgGfwWZPDo7EHjamjF6B4nxjfvwMR2lNhkU-d29nWvp7wyAoUaJqUn4V_OFtg0ACx","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Tue, 16 Sep 2014 19:23:49 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels/137200001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916192349924-39a42a28
    body:
      encoding: UTF-8
      string: '{"result":{"parcelNumber":"137200001","isPrimary":"N","id":"137200001","parcelArea":550800.0,"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:23:50 GMT
recorded_with: VCR 2.9.2
