---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141809362-12f6326c
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE98C7Uu26itDe3yENpxaky8yieDG4wU_h2eBMfXtXQcxNxp0SuzS4dgfWg8vU6eISrSe6VzPajTcXubO9izVy1yf4E67BwCZKefJx3mTHQdRMXiM0nnyBsLBPqbMPoT9ssCieF34UCrGINO5FIb9fhdk1uNP3MOZVanikQEiOmwH3ppFmefcz6zSLYh3ZXpoJiFhP9-uaA7jqG30AR3bEA5qrtGgMV96E1sb6oaVmWguPIm0ZLrJyGMmK6RzjU3EsjgHfXuvI-ZVsWDJ6dyB0lTcSRyUARATj9jYy68UCFWjmupCXM0UOkL1K-R7dcJwNeqsNsfV310mHIexdIlUz2Nl3dt5cvP-rP11xi7ltXzjfr_Y8NDfpKkT-bwIxmSX6-DjR3YZkWR5E7S8q0N_-fORAIWs-UAkSSX7OWoCXwSu0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAKpKBDBAOkTOJ_EsaJytDPVFS-FN3R0FwlIU-f2jMXTE4QAAAAG45jdioRVtrGDv6EAbRrLhWYzWuxB3Q6j0Mnw3kjQR59OuFM3o1aBELxDYITyJpevTMEn2USaxV902rUzMYwRviLCG-o5Lp62Kf252Ga5UvpzM-SEle7y1Be2yFuBcT4NMzoAW6F9G8GAXAl7n_IOpbu9TcY7x95aB0z3-jFyLy7AUQh6tfVafWphhE24L-DCfPiBOQQ4T_b2rDswyIbPjA88WdJJEg3L261-Rl8KhfO54djNutcpLzUg8nQL1LnwQsy0mn8Uw1Rz_JGblzolLM5eb7DK5sG3BnLas5iuIEQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:18:11 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR?expand=addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE98C7Uu26itDe3yENpxaky8yieDG4wU_h2eBMfXtXQcxNxp0SuzS4dgfWg8vU6eISrSe6VzPajTcXubO9izVy1yf4E67BwCZKefJx3mTHQdRMXiM0nnyBsLBPqbMPoT9ssCieF34UCrGINO5FIb9fhdk1uNP3MOZVanikQEiOmwH3ppFmefcz6zSLYh3ZXpoJiFhP9-uaA7jqG30AR3bEA5qrtGgMV96E1sb6oaVmWguPIm0ZLrJyGMmK6RzjU3EsjgHfXuvI-ZVsWDJ6dyB0lTcSRyUARATj9jYy68UCFWjmupCXM0UOkL1K-R7dcJwNeqsNsfV310mHIexdIlUz2Nl3dt5cvP-rP11xi7ltXzjfr_Y8NDfpKkT-bwIxmSX6-DjR3YZkWR5E7S8q0N_-fORAIWs-UAkSSX7OWoCXwSu0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141811534-49829170
    body:
      encoding: UTF-8
      string: '{"result":[{"addresses":[{"id":1000619244,"streetStart":1,"refAddressId":16830,"city":"PETALUMA","postalCode":"94952","serviceProviderCode":"ISLANDTON","isPrimary":"Y","streetName":"ALLEGHENY","recordId":{"id":"ISLANDTON-14CAP-00000-000CR","serviceProviderCode":"ISLANDTON","trackingId":0,"value":"14CAP-00000-000CR"},"country":{"value":"US","text":"United
        States"},"status":{"value":"A","text":"Active"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"CT","text":"CT"}}],"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:18:12 GMT
recorded_with: VCR 2.9.2
