---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194947856-d0d00d73
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGI2bni8gKJ3F_hH5U0x1OXrpUDNaXh65FkTVlg7ikSVCwMKzhj5961vvQDBkGmaDNcgHszyUdf092Bv_HDA9i7nfU5BZk2c3x0NrI3FWj47avQsWIj6EgLGk9SN1wKF-GHGFN1p5F7XArcjP38DTyjHjiuRM8bYYYOyMz9NF7PKBIuUf-oHNcQFll4FsbbW9YGl_K4634hf2OQ_2h-ZdlBH2n-AtRiCKchEnzyZ4bU0VUqxxmkCIdR73rVLzN7LVObBGhW-M7Hwaj4tFuFKN88c5Aq7iAK9u_xwNGNMRaQY6JnSrS3zpor0BzPNNCMSRJKBxINHuA20XQJ1eFpICch2YutQs5w3X3ZDpB8DeqCHCjpS-3tuLJDc4mph8adPGFmTGpYJzNAa_K3YpxnrV8nPIG4CWJCrr-UG_EXQZArDf0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOWB5Zo_k_D_ODJXqEEOE2HFg9sJCVFsAgVX8ilyq-uU4QAAAAEMJwC-xuM9kfOa75bMGxogki_OmKG9BZ2AeZsKIravALUbL78fcvuo808IWAdUNBJoJrhpSHLsC9wTM7NNbtDiFQ1hyZ_uEvBrACxtEQTSqcVH9S7xOX3vAnX8WYUU5RQ4OJIVyffTlF6m1Iw6Dj4BvP4EhdzpANf7vifug8YoDJfLLWgcaCeu3anDdeO1oK07faluxez_dIRx1CrOt8yxQj3J7GJn48EVG6v_204BNHpWQGYxCEN-kFzTyTZ3nmyL9wLOfWQvZ45LnI5pOJ9Bc5fhAzNIts-9_4_2eeHKCg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:49:49 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR?expand=addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGI2bni8gKJ3F_hH5U0x1OXrpUDNaXh65FkTVlg7ikSVCwMKzhj5961vvQDBkGmaDNcgHszyUdf092Bv_HDA9i7nfU5BZk2c3x0NrI3FWj47avQsWIj6EgLGk9SN1wKF-GHGFN1p5F7XArcjP38DTyjHjiuRM8bYYYOyMz9NF7PKBIuUf-oHNcQFll4FsbbW9YGl_K4634hf2OQ_2h-ZdlBH2n-AtRiCKchEnzyZ4bU0VUqxxmkCIdR73rVLzN7LVObBGhW-M7Hwaj4tFuFKN88c5Aq7iAK9u_xwNGNMRaQY6JnSrS3zpor0BzPNNCMSRJKBxINHuA20XQJ1eFpICch2YutQs5w3X3ZDpB8DeqCHCjpS-3tuLJDc4mph8adPGFmTGpYJzNAa_K3YpxnrV8nPIG4CWJCrr-UG_EXQZArDf0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194949354-7c558de0
    body:
      encoding: UTF-8
      string: '{"result":[{"addresses":[{"id":1000619244,"streetStart":1,"refAddressId":16830,"city":"PETALUMA","postalCode":"94952","serviceProviderCode":"ISLANDTON","isPrimary":"Y","streetName":"ALLEGHENY","recordId":{"id":"ISLANDTON-14CAP-00000-000CR","serviceProviderCode":"ISLANDTON","trackingId":0,"value":"14CAP-00000-000CR"},"country":{"value":"US","text":"United
        States"},"status":{"value":"A","text":"Active"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"CT","text":"CT"}}],"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:49:50 GMT
recorded_with: VCR 2.9.2
