---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826203812870-5e949802
    body:
      encoding: UTF-8
      string: '{"access_token":"E_IlcauX8G5sEwlmFVuoXLZ-yChTKkGA88bC1FCM1QFKVz79gVv6PPUNzF9YOJQdu3BcCZaWFaP424IFGvji_xsNtoDrVV9cVUmPw4hZAx9_pPekyRECyIUV32jE9E8xOX5CeHNM-sdakaPvyxDjbBo2mSf8M3Y1_pJBIl4aJHp_NX-qCBu1c1J0X0axqYu7QIUATz-x7HGMoJwujl2OXzuYtKUYVxwalGhldYHHLsfndsxZ1HLObW8LJ9njCivx8G0C1vkx5cc9QTFpfnSa1oN__Aw33D4RMqJZv1TXqgCUYzd5d5Ow2YbvFx1spxlhCT3YlvgcXvzEjaT3jF7GDIh5FVrdEFyk3HPlJJRe_UTl_CFxv4ryS4fFPyU76VVHnc5qY416URpnjgq4Bu-BENMWSeE47Xj2LRmCdxhle-E2CvYmKHuI4VB4DmkLt8LO0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAO8H9fXCHTZW-kZmJabdaY4HpVFbAIWlJc5Dlwxt9it-4QAAAAEcbZgYZO3dG1KUUjE6AAfpe-01tBKEDcjNJUxuZXkmTVMVsbPT7POEKxYWVZdsXtS6vJ6WyD_xF6dbgX50NwTpH6VkdT7Ku94BgzfGcZgLAwoA6GKoTi6nXvPKd1NcVAWmSEFECLArJqS_PJ8PgGoH95W4WcVt4r_27xbKv7BaoErN6mWnTpF3WZF1pSuHmbI3JIgj2tF4RtRgiRFrYJJuiq621fEwNNrB-ataLqPprEGER7-YHALS6KlvPhw1X7ObVpkdyp29i7wAqVOfV4xLMY7MiWe74SSawV160YYexQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 26 Aug 2014 20:38:14 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR?expand=addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - E_IlcauX8G5sEwlmFVuoXLZ-yChTKkGA88bC1FCM1QFKVz79gVv6PPUNzF9YOJQdu3BcCZaWFaP424IFGvji_xsNtoDrVV9cVUmPw4hZAx9_pPekyRECyIUV32jE9E8xOX5CeHNM-sdakaPvyxDjbBo2mSf8M3Y1_pJBIl4aJHp_NX-qCBu1c1J0X0axqYu7QIUATz-x7HGMoJwujl2OXzuYtKUYVxwalGhldYHHLsfndsxZ1HLObW8LJ9njCivx8G0C1vkx5cc9QTFpfnSa1oN__Aw33D4RMqJZv1TXqgCUYzd5d5Ow2YbvFx1spxlhCT3YlvgcXvzEjaT3jF7GDIh5FVrdEFyk3HPlJJRe_UTl_CFxv4ryS4fFPyU76VVHnc5qY416URpnjgq4Bu-BENMWSeE47Xj2LRmCdxhle-E2CvYmKHuI4VB4DmkLt8LO0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826203814630-34d73300
    body:
      encoding: UTF-8
      string: '{"result":[{"addresses":[{"streetStart":1,"refAddressId":16830,"id":1000619244,"serviceProviderCode":"ISLANDTON","isPrimary":"Y","streetName":"ALLEGHENY","city":"PETALUMA","postalCode":"94952","recordId":{"id":"ISLANDTON-14CAP-00000-000CR","serviceProviderCode":"ISLANDTON","trackingId":0,"value":"14CAP-00000-000CR"},"country":{"value":"US","text":"United
        States"},"status":{"value":"A","text":"Active"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"CT","text":"CT"}}],"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","group":"Building","text":"Residential
        New","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","balance":0.0,"createdBy":"DI","module":"Building","initiatedProduct":"AV360","totalFee":0.0,"totalPay":0.0,"undistributedCost":0.0,"infraction":false,"jobValue":0.0,"customId":"BLD14-00187","booking":false,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 26 Aug 2014 20:38:14 GMT
recorded_with: VCR 2.9.2
