---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141806753-588963f8
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE4pC01eiOKwO8_dPpx3WN72YeeOfIzrtWD6D2yqr8E7558v_6GRXEJxnhLvXynapKMPg0TwE5TtUelqR8Ln3iuY8oGr2eJsdtChPXa3Lu5SbPA2v7IpnWXcL-6SHqLNYwGe9gUtMbkVW8dVK2qmVSJQrhTPastWKbauyOULsnzl_gepQ0LQ02eUMBvoB_um1f_4kw2sdMyCAs4Bqw2dreXqjeOoiE0ZbFTOeOt32HYiyvYbXP-wE1Nw1dO4P9-hjOavJR5ERez2IBJKmh810aLuSVmWmFGaWC8Nd3zvDsr2Vn5G0vXi8nvdAbFpZnO_Nqjj4JrhCxaIN4uaf3rIKd4HSHi2LLtQVsOurqiVKt-esQSXxO1PlEgiObG2ggk9SijKH11bWkt0DKaE8YiyXobX2GsHYRsqFj8C3cAFn7hGo0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAGmscedt0Jr8VeSvqQaFUs5JpecCqQ1ibzjv4YrAnH5y4QAAAAGQpQMYnEl-bEPKookQASmFdP5muL2vuqq22849RzZBeW6l9cR5b-VbUbure7OOlHQjhhYeAIamJMGPkzB6EmQu9QMdKqf5BXwI8eBDBvpslLOijDs_NOBsftzsC6fG4SaIMxs74votJcrz838aaAs7ADeXBKR6Ya152STMQt2G_qeH0zc1ryXfYsi9ohrCqu2GKJo9IRX7B1TIWSbrqeudKEn0RRkJwJj_56zHgYnf79barExrztj2tAGFRcdHNm49ZKFxeiQwLSgIVLHUJRdkG4dLDzVEfa8rGS1rkW_RXw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:18:08 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR,ISLANDTON-14CAP-00000-000CQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE4pC01eiOKwO8_dPpx3WN72YeeOfIzrtWD6D2yqr8E7558v_6GRXEJxnhLvXynapKMPg0TwE5TtUelqR8Ln3iuY8oGr2eJsdtChPXa3Lu5SbPA2v7IpnWXcL-6SHqLNYwGe9gUtMbkVW8dVK2qmVSJQrhTPastWKbauyOULsnzl_gepQ0LQ02eUMBvoB_um1f_4kw2sdMyCAs4Bqw2dreXqjeOoiE0ZbFTOeOt32HYiyvYbXP-wE1Nw1dO4P9-hjOavJR5ERez2IBJKmh810aLuSVmWmFGaWC8Nd3zvDsr2Vn5G0vXi8nvdAbFpZnO_Nqjj4JrhCxaIN4uaf3rIKd4HSHi2LLtQVsOurqiVKt-esQSXxO1PlEgiObG2ggk9SijKH11bWkt0DKaE8YiyXobX2GsHYRsqFj8C3cAFn7hGo0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141808413-7093f037
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CQ","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:01:59","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:01:59","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00186","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":263119306,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CQ"},{"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:18:09 GMT
recorded_with: VCR 2.9.2
