---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141803799-dfaaee7c
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE30osV3m-npaY6o59sJi1rGKswhbHYAes13aIXlvAcHm0MYxGktCFJh3eAiX6rT4VK1bksKxgdn7ffDrOY_k7ar8-b8GuADQaUg5R2U470rDmpl8hLsyRVS0FbeM04iJ7OktN_b9-aS5w-_316VNyy_BUkgCwE29I4xM9WUcOchrnA4KQ57_PCbfVsvsgiNcAzu0hIaccGR1UaWANr8oO0939cSNCfMsRkrcdc_YpV9Arh9iwaXIT8My4h7D1xw8faJjmv6p5qxG4tA4b04N3E9ei6jNlcIKdWpbWCcbMDYFZMryg1mG3D2xuhJk3a-ljEexpTkUzlD7IQQtE7UJ7M2QwO2CgXyQkQ-rLd4aqTBxZAFm-wGi9DLsN11_CpfjPLHSKTT7qga-3gbrstEh07v0tHtQALrkU5dfU-OSQ_Jd0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAACgOqSJUoKPOiwXP5FP21oza_lVnaKwxiUAWfG5-WDU-4QAAAAEjbbbSEsBb42KGDAkgxcx3IhmVWYiGGssjwus9abUn9WktQWV9hD2BOzebT9TmmGgIQG-_L-0ngQNzNnCaZy6t8mFiqPeHrOpljtraJmdh8mUGSkf1yLxsgKLxJd4BmDtiEP71razj1BNNvzeWHNDU3eArcg8nXjXceW7dID98nidqFACAnY8YzC6xQjT4QURcTdUObbXyGiT_60_pJMJlubZAJeVf0NxxLa0K431gZSc5cSt8kLlgA6-J03_QpsSyoJK4Fpah1aD_cwb29NDEW7L4K64JSkpSGVD2D4qTKg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:18:05 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE30osV3m-npaY6o59sJi1rGKswhbHYAes13aIXlvAcHm0MYxGktCFJh3eAiX6rT4VK1bksKxgdn7ffDrOY_k7ar8-b8GuADQaUg5R2U470rDmpl8hLsyRVS0FbeM04iJ7OktN_b9-aS5w-_316VNyy_BUkgCwE29I4xM9WUcOchrnA4KQ57_PCbfVsvsgiNcAzu0hIaccGR1UaWANr8oO0939cSNCfMsRkrcdc_YpV9Arh9iwaXIT8My4h7D1xw8faJjmv6p5qxG4tA4b04N3E9ei6jNlcIKdWpbWCcbMDYFZMryg1mG3D2xuhJk3a-ljEexpTkUzlD7IQQtE7UJ7M2QwO2CgXyQkQ-rLd4aqTBxZAFm-wGi9DLsN11_CpfjPLHSKTT7qga-3gbrstEh07v0tHtQALrkU5dfU-OSQ_Jd0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141805506-c5ca5620
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"MASHKOV-VuSpex Residential #2","id":"ISLANDTON-14CAP-00000-000CI","type":{"module":"Building","type":"Residential","value":"Building/Residential/Addition/NA","category":"NA","text":"Residential
        Addition","group":"Building","subType":"Addition","id":"Building-Residential-Addition-NA"},"description":"Test
        permit assigned to Mashkov the Contractor for VuSpex testing and demo use.","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"BRADP","balance":20.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        07:29:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 00:00:00","totalFee":20.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00178","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-08-20
        00:00:00","assignedToDepartment":"ISLANDTON/BUILDING/NA/NA/NA/NA/NA","assignedUser":"BRADP","trackingId":253923535,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CI"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:18:06 GMT
recorded_with: VCR 2.9.2
