---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194945621-c05971c1
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGCnRJaWkcHA8O73RHVY_lzQEHkxxr8SgLRPZ-bTrI8REv4B7vKgFcrQgRrPXQ7Iws5l68dCziBxgKu4xh6hBfENNNbB0J216mPcD1L4HmpIJEfiS2jEl7fe1LVyIYTnSA8sAqbaKOjDVks6xoOtipMTVYjiLUl-pFAyEW8C2hq2gmtOuSO8tXLknwqTHZprkNCtzDlcTY3GHTz4Dr1iiHUT8CeGO6bILoLxVgMUoTg_U76_jmVEHEzVSzihd7F0Scxim8jDmwQLEbtV2wVqgbGUe4NCad39f6cDCHETFZb68wazOfdZefSETjFxxdMSWQOBqiek88e1YDaF-7p9bWzx3QVVHEOJF68VndZ9E0VmGwzTBuM7epB8NXeBysDiSEM3CmIp-ruJfcVr-Bw_Pe5Ii-Vp8J7B1aVjBpuVetfmz0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAAsGWQ37_W1s6BfgUNY-yTOdHFLyzI2uIROdyzkwMUi34QAAAAHyWdxnhKF0ZQXaLka_6mtWTp5Ubof0uifgo7BE-JrQ3orXbDxOxu9XHD5s-bBg4JeGfPOuflkLO3nP0-W5ft0V_nMDeJfDVNYuEokNSaX1k_REHFqx5MU_Q-jYKIq5EjDhpHw9aPa4ZyDTFToK2DoOlDCIJQ5iEWE3v-ssbzjG1vakOl5ndydEIh5282qlVT-_A6q_YaQDGTdjthmMrMizh1ZCc_2_-HcpVLq1WVYEWYjmCpsLa77hYFdHxSFZnvjipeUozMnp7fsic3vQQkS0CdU-LSlVcrJxdtxsW-jl2g","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:49:47 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR,ISLANDTON-14CAP-00000-000CQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGCnRJaWkcHA8O73RHVY_lzQEHkxxr8SgLRPZ-bTrI8REv4B7vKgFcrQgRrPXQ7Iws5l68dCziBxgKu4xh6hBfENNNbB0J216mPcD1L4HmpIJEfiS2jEl7fe1LVyIYTnSA8sAqbaKOjDVks6xoOtipMTVYjiLUl-pFAyEW8C2hq2gmtOuSO8tXLknwqTHZprkNCtzDlcTY3GHTz4Dr1iiHUT8CeGO6bILoLxVgMUoTg_U76_jmVEHEzVSzihd7F0Scxim8jDmwQLEbtV2wVqgbGUe4NCad39f6cDCHETFZb68wazOfdZefSETjFxxdMSWQOBqiek88e1YDaF-7p9bWzx3QVVHEOJF68VndZ9E0VmGwzTBuM7epB8NXeBysDiSEM3CmIp-ruJfcVr-Bw_Pe5Ii-Vp8J7B1aVjBpuVetfmz0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194946979-213a20c9
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CQ","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:01:59","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:01:59","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00186","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":263119306,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CQ"},{"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:49:47 GMT
recorded_with: VCR 2.9.2
