---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=mdeveloper&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826203800260-089f70a0
    body:
      encoding: UTF-8
      string: '{"access_token":"E_IlcauX8G5sEwlmFVuoXJe-fNKtct6FBtejzHNHy_Ri8yWhc8sKuMJmH2zB39rvlpD4E6pxuIKq_DTisJeHQVFl1fHX1K0rc5uxr1DJ9FujFa_FlXPqOv5omZR9t6Lta27i9UN0-qasb1AJtUz_nJ01qSuS5qogPajatoaL_eHZTwacZi4CjHIfAX6clGoEBNEpqm3ukhOtpFZ3NYPRED9CXjr_Gw_lrcsJEix5uDJ2UuZc_kiQGNtFWqRNq4XMRm6CzlptY87BNIoUl7oo29oVx4vq_0l018KaMeQ3FiLg6y1MPI0ylVwLxnSZvw2ffX6E8UjK-Q6nTAMzyWGQQKfvJiU_xdKLVvmAx5mpEha4HlNsbOzQPt-4kraUQ2-o4L3iZ77UGGPaj8kj7o57ZOHNLWbCqms9ERKV_IHQbcvDRBqeXzOyL0TIanlfvc_K0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAHXcIVrqlgPiOE7zxmQGq9VXBfXMzBSOzfGy2qO7_Cte4QAAAAHV-77lVazoQZfD8KFIhOHaWjLog2fxc9ztsyKxFZRKqPj4srobVJ9OwHjdnNy_4EljUhywC521k40XTrMQjq1-Ua67zH6xcpuuaWUa8j_8nPv9-em2ugnf0H_4LeVdBEB6txLT_znRK5mVZjxUYYNkFagy4Dkmh30tWQFNyLzZFtVBiI3zXp7eg9CqgkDAFgCJl75vOd5PPdtPyehzi86AACMvsTuzj82TWCU_ywsFdpPbMAvgpui5XzMUHOD9-B64w-DRanRspY6SrtxFrO8fWJvXWcr_cxa1AaLN0ssiqg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 26 Aug 2014 20:38:09 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - E_IlcauX8G5sEwlmFVuoXJe-fNKtct6FBtejzHNHy_Ri8yWhc8sKuMJmH2zB39rvlpD4E6pxuIKq_DTisJeHQVFl1fHX1K0rc5uxr1DJ9FujFa_FlXPqOv5omZR9t6Lta27i9UN0-qasb1AJtUz_nJ01qSuS5qogPajatoaL_eHZTwacZi4CjHIfAX6clGoEBNEpqm3ukhOtpFZ3NYPRED9CXjr_Gw_lrcsJEix5uDJ2UuZc_kiQGNtFWqRNq4XMRm6CzlptY87BNIoUl7oo29oVx4vq_0l018KaMeQ3FiLg6y1MPI0ylVwLxnSZvw2ffX6E8UjK-Q6nTAMzyWGQQKfvJiU_xdKLVvmAx5mpEha4HlNsbOzQPt-4kraUQ2-o4L3iZ77UGGPaj8kj7o57ZOHNLWbCqms9ERKV_IHQbcvDRBqeXzOyL0TIanlfvc_K0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826203809864-aa81222d
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"MASHKOV-VuSpex Residential #2","id":"ISLANDTON-14CAP-00000-000CI","type":{"module":"Building","type":"Residential","value":"Building/Residential/Addition/NA","category":"NA","group":"Building","text":"Residential
        Addition","subType":"Addition","id":"Building-Residential-Addition-NA"},"description":"Test
        permit assigned to Mashkov the Contractor for VuSpex testing and demo use.","status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        07:29:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 00:00:00","balance":20.0,"createdBy":"BRADP","module":"Building","initiatedProduct":"AV360","totalFee":20.0,"totalPay":0.0,"undistributedCost":0.0,"infraction":false,"jobValue":0.0,"customId":"BLD14-00178","booking":false,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-08-20
        00:00:00","assignedToDepartment":"ISLANDTON/BUILDING/NA/NA/NA/NA/NA","assignedUser":"BRADP","trackingId":253923535,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"14CAP-00000-000CI"}],"status":200}'
  recorded_at: Tue, 26 Aug 2014 20:38:09 GMT
recorded_with: VCR 2.9.2
