---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=owners
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194857185-7b08a0a7
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGDJW9v_rx92CUioJQ6peZhS4yecP4-xRlNYqm8tt4hZzkSbG7o0e0Kgn72Ip6Bb2x9WlziwP1_3gs96OOdAakmx12YzLP6k-Ik1wmc4u_Ax7vUsT5Iy7duIsH34j5-DSUFZvAEmDjGXDQyTUPtF9PXT-pgOLgVCib5fpfWaCQrjUWqUpm6Kb8Q57QNsEXoWb2bVX-Jx5hHX620MI0Aqz01A5iq7gaQan7GcNsh3B8j-I6c_qOpMABc0DPNWroA6H8zcNpD_PgbiKkhCX8curW7h5jDo6ex0Kl_pS5t_uOzUb0BchEWR_ff1Nq_ElzdvAtyWM0JJw1BhkWRXdZN0g-MfyF_ZEaHWpEN_DYNE9dVAD8yUvAuyBOmxZWlpRVeK_G12KrT49x1nD_WHejtqRYoc1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAClBf0RvP0NteXti9anB0Psyj7Ootacj07lobbX4_9Q90QAAAAHi86XqwWpV778gogE1P4o4yaR6m4G7tT4NTphy-cgSKPv8z_j7S2NO7aggGBPLgF85v5mmozg6qEm3DeGhlIPL374r3xhNDKWfTl6BCpRxWfmc12ZCHAxA-3UsRNJLADByl6mKkhjVaTmjG_DNZ9Lzo47iFQYcVoZh3ZwCb9wxWXgs-OQ8uDjm1ITGQy0cl1XLK07OXrOejwQgbLed9CjBfzsxadHK7HrBzMX1q0PMW9vqjEt55fjfmgR5d_BoP3vAh2n5WYwSR5J0GMKZy2WY","scope":"get_civicid_profile
        owners"}'
  recorded_at: Tue, 16 Sep 2014 19:48:58 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners/4823151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGDJW9v_rx92CUioJQ6peZhS4yecP4-xRlNYqm8tt4hZzkSbG7o0e0Kgn72Ip6Bb2x9WlziwP1_3gs96OOdAakmx12YzLP6k-Ik1wmc4u_Ax7vUsT5Iy7duIsH34j5-DSUFZvAEmDjGXDQyTUPtF9PXT-pgOLgVCib5fpfWaCQrjUWqUpm6Kb8Q57QNsEXoWb2bVX-Jx5hHX620MI0Aqz01A5iq7gaQan7GcNsh3B8j-I6c_qOpMABc0DPNWroA6H8zcNpD_PgbiKkhCX8curW7h5jDo6ex0Kl_pS5t_uOzUb0BchEWR_ff1Nq_ElzdvAtyWM0JJw1BhkWRXdZN0g-MfyF_ZEaHWpEN_DYNE9dVAD8yUvAuyBOmxZWlpRVeK_G12KrT49x1nD_WHejtqRYoc1
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194858636-62923abc
    body:
      encoding: UTF-8
      string: '{"result":{"id":4823151,"fullName":"TAYLOR CYNTHIA","isPrimary":"Y","mailAddress":{"city":"SHAKER
        HEIGHTS ","postalCode":"44120","addressLine2":"16090 PARKLAND DR","state":{"value":"OH","text":"OH"}},"address":{"city":"SHAKER
        HEIGHTS ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:48:59 GMT
recorded_with: VCR 2.9.2
