---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194934354-7b4a41f7
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGASJ_jxeXX4eBy-fYIpUjeL3uEYhRqDd5deG4lee1htvXDWlufMgqE5PqVaOXzPz5vrQaY7JA3CODI7-J_X_U4wv8Du6S9Mhtqt98VNlL8M5J1oiWTAozNmscGI0P9nkRx_OU3qr1unp-u99GYjMrfNjo2latxL-66eaaVrZramJ-rqDLwhAh9zsZkSrgt-sHxWHDVVuWraDedcrlxGmoR4Nbjit9KKckftfDUBECKaI8g-uGs9solxCEwtkhBa7E5TBjkr0-CuHxebremgfdDYf7O6G1wyTjXdbghrzDjX8duKyr9BzmvJzWVUaaQsUCa2n88TZtyWaVQyG6lTsiwC0bnumRUys6sHDP6PuiXziO2ztxF_WdVSHyUhO8xkN3FMzzo7PL5lFCLl0SAm8Wr9OtFX7SVpO4lr0aXVlu-xG0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOF_r-ykKUh4FP9Foa0rMOu3fE9_w1kR3KT2ybDatVEY4QAAAAH3ZOlePBPNDnx2XoJ6YT9pIa_g0vUtkvb1CxeSr0Fctv2gjSU03YcXbFUWKAyqhLcMU7Dk8urPBHX_pWNuGydDXHgmnCy1_0Xph8sQzbCTaO0Vvibmfy_9sVzeKZR-BM6NdJrxkYZ3mCWq1jn8bGOCVoCOpd_ovQOcO7oq8CVK062ObOfahZvlfTpQbvLuICePShMY8s_6rj1D94HybG-HpuavlZwQKvl_VVc7jtpNHOX5g_YEVoXLlxS3Ap8yLGh833Jol7KxVm-GXYwA4YUC-W6BkMkWdT9gwJn40JBFWA","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:49:35 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGASJ_jxeXX4eBy-fYIpUjeL3uEYhRqDd5deG4lee1htvXDWlufMgqE5PqVaOXzPz5vrQaY7JA3CODI7-J_X_U4wv8Du6S9Mhtqt98VNlL8M5J1oiWTAozNmscGI0P9nkRx_OU3qr1unp-u99GYjMrfNjo2latxL-66eaaVrZramJ-rqDLwhAh9zsZkSrgt-sHxWHDVVuWraDedcrlxGmoR4Nbjit9KKckftfDUBECKaI8g-uGs9solxCEwtkhBa7E5TBjkr0-CuHxebremgfdDYf7O6G1wyTjXdbghrzDjX8duKyr9BzmvJzWVUaaQsUCa2n88TZtyWaVQyG6lTsiwC0bnumRUys6sHDP6PuiXziO2ztxF_WdVSHyUhO8xkN3FMzzo7PL5lFCLl0SAm8Wr9OtFX7SVpO4lr0aXVlu-xG0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194935824-6523d317
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:49:36 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR/owners
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGASJ_jxeXX4eBy-fYIpUjeL3uEYhRqDd5deG4lee1htvXDWlufMgqE5PqVaOXzPz5vrQaY7JA3CODI7-J_X_U4wv8Du6S9Mhtqt98VNlL8M5J1oiWTAozNmscGI0P9nkRx_OU3qr1unp-u99GYjMrfNjo2latxL-66eaaVrZramJ-rqDLwhAh9zsZkSrgt-sHxWHDVVuWraDedcrlxGmoR4Nbjit9KKckftfDUBECKaI8g-uGs9solxCEwtkhBa7E5TBjkr0-CuHxebremgfdDYf7O6G1wyTjXdbghrzDjX8duKyr9BzmvJzWVUaaQsUCa2n88TZtyWaVQyG6lTsiwC0bnumRUys6sHDP6PuiXziO2ztxF_WdVSHyUhO8xkN3FMzzo7PL5lFCLl0SAm8Wr9OtFX7SVpO4lr0aXVlu-xG0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194936589-d1062261
    body:
      encoding: UTF-8
      string: '{"result":[{"refOwnerId":1881824.0,"id":925856454,"fullName":"UTROSKE
        ROBERT EARL & DIANA LEE","isPrimary":"Y","mailAddress":{"city":"PETALUMA","postalCode":"949546846","addressLine2":"1
        ALLEGHENY CT","state":{"value":"CA","text":"CA"},"country":{}},"status":{"text":"Inactive"}}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:49:37 GMT
recorded_with: VCR 2.9.2
