---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=owners
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141709581-99b6efbb
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjEyTApUvkeyBjNpImL0Gx7Mw43n8jHu8-D_KXgaXkbUZDCd39-5hd3dXkjuX0ZYVhNVUMzLzpebE7d3kyeqZ-tBSVy13slfFfSBLD7KnAej_soMmHg66n_23N5Rd_SyWFPkkU8019N2ELoVZ-XqL9nYjyt2aqI7nI7e4MFC39MYNn4l3qfLln4j4IJ1LJLGuVRoNblXzVksGnyqjrts7qspg2xB_yBpMWz3fTXcmBq6czJ73MJ1a3ZZ1QMUFwL3h1i8E4sN0bb77oZWOp37nKYnuuWmruCFFbaoBhAGs9V1lDkqPfKtAS_tub0OLWM_sKG7ev3d4ypQfDR2SpERORunX_FzaUJH1XCee1Na1Ah7ZHUwoGXqx3f9hVOL19w9Q4JCpg_sSE8WKHvNblZfphw5I1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAALTb41pGMjG9BrdWWcr6FGyBGxwKfygFlEjY4AOBCRqO0QAAAAH-ciRi78fGT52QnHzwmHPKURbZ-4RT17QZDy-CeH3Y-KwCzgPPL_5gaEyu4v6CvcXXEteA5BWRKZK_JELRXlYdWl_Nkg5QSsceexVn7wHibQ1NHwNk-zzPSxJ63zWKHkg-pvcvA14vKu3jEYrEGINUpSZflwyGpfiBybWso6lnC5T1sx6K9ayZAksn7dcenW0sNsVzgw00fTldDXHfLUgtBhW1Z-u4V8OybhjdxwXuC4aKNiTbuxZUyJAfS3OuV0cI_heWQZXRhJF0iW2O0T-L","scope":"get_civicid_profile
        owners"}'
  recorded_at: Tue, 16 Sep 2014 14:17:10 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners/4823151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjEyTApUvkeyBjNpImL0Gx7Mw43n8jHu8-D_KXgaXkbUZDCd39-5hd3dXkjuX0ZYVhNVUMzLzpebE7d3kyeqZ-tBSVy13slfFfSBLD7KnAej_soMmHg66n_23N5Rd_SyWFPkkU8019N2ELoVZ-XqL9nYjyt2aqI7nI7e4MFC39MYNn4l3qfLln4j4IJ1LJLGuVRoNblXzVksGnyqjrts7qspg2xB_yBpMWz3fTXcmBq6czJ73MJ1a3ZZ1QMUFwL3h1i8E4sN0bb77oZWOp37nKYnuuWmruCFFbaoBhAGs9V1lDkqPfKtAS_tub0OLWM_sKG7ev3d4ypQfDR2SpERORunX_FzaUJH1XCee1Na1Ah7ZHUwoGXqx3f9hVOL19w9Q4JCpg_sSE8WKHvNblZfphw5I1
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141711019-2092497e
    body:
      encoding: UTF-8
      string: '{"result":{"id":4823151,"fullName":"TAYLOR CYNTHIA","isPrimary":"Y","mailAddress":{"city":"SHAKER
        HEIGHTS ","postalCode":"44120","addressLine2":"16090 PARKLAND DR","state":{"value":"OH","text":"OH"}},"address":{"city":"SHAKER
        HEIGHTS ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:15 GMT
recorded_with: VCR 2.9.2
