---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194916480-ed981aab
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGPmX-66SvLkWfqTiv3Ck7MvWRJgxVwsjJOasdVfFZaTejcCYscEB2iTigIZoKh8v2N1VrtlL9a71CYeT7P32CzYDO8u4EFXV8-J4vE6UsSU4tjBwgEvVB4vCw0-mEpH6avljs5iS-gzcWojn1J13Wvcgt9urIzO_I-ZdHXU2PjdAe3nJBLJqOnEhLhpD7WnR0o4BHah3gM-V8bZiseawg5PkTEND9QPdX7RDnbdZ8u4MwAtVk4yc8vzrWCLqqhFidr9cfZeCzx7hfaZzbnuHCPqNXaPd0YQDK7-z6BQlht5jQ4IWREOE8JT0elLXY6ZXvDacc1JKTgCXkk1QVZs_WAZ2sRW2jmSNp-cUS4aDKT84o2tFFUti62PkjAWCbkBHsFsvx-Rr6YgYTXgrC2Q1DHLcKTEWO6avpL7XtZF7KEUi0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAALna79bKKpXA0yEsfKDv5mTQrQkKFFKVD-tBmWhFXRTN4QAAAAH-LIVs__6TJUC6qQs8uSRclYDe4aGZpU8Okr_LsXne5QsdnOC_gW3BsI28Ms9qlAmkhK9nmr6uMKvjj0RT79DmVIju6HvKHGtzNyVuMG-2xxa6YkkryT4UmDjWjF99uArxnhdrYgTBlJtCLRkRyKrx6Zf47OFRih-LUi7W-tvlYLA6iCHsA_oMnaUwSMHul5Dvz3N9qEMUSr9W7beAzXMhpGG463P8P_Od-6_ZOXOi1A9AjVTEuzGVHztQiKNWFoqE1bw1ZIAk49k2fruM9H34pwd5m0c1F7uLA_pSXYqD4g","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:49:18 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"housingUnits":829,"type":{"id":"Building-Commercial-Addition-NA"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGPmX-66SvLkWfqTiv3Ck7MvWRJgxVwsjJOasdVfFZaTejcCYscEB2iTigIZoKh8v2N1VrtlL9a71CYeT7P32CzYDO8u4EFXV8-J4vE6UsSU4tjBwgEvVB4vCw0-mEpH6avljs5iS-gzcWojn1J13Wvcgt9urIzO_I-ZdHXU2PjdAe3nJBLJqOnEhLhpD7WnR0o4BHah3gM-V8bZiseawg5PkTEND9QPdX7RDnbdZ8u4MwAtVk4yc8vzrWCLqqhFidr9cfZeCzx7hfaZzbnuHCPqNXaPd0YQDK7-z6BQlht5jQ4IWREOE8JT0elLXY6ZXvDacc1JKTgCXkk1QVZs_WAZ2sRW2jmSNp-cUS4aDKT84o2tFFUti62PkjAWCbkBHsFsvx-Rr6YgYTXgrC2Q1DHLcKTEWO6avpL7XtZF7KEUi0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194918059-41c78e68
    body:
      encoding: UTF-8
      string: '{"message":"EMSE operation failed.","result":{"id":"ISLANDTON-14CAP-00000-000FT","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"initiatedProduct":"AV360","createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","statusDate":"2014-09-16
        12:57:10","module":"Building","customId":"BLD14-00222","recordClass":"COMPLETE","trackingId":234389278,"housingUnits":829,"value":"14CAP-00000-000FT","totalFee":0.0,"totalPay":0.0,"balance":0.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false},"status":200,"code":"emse_error"}'
  recorded_at: Tue, 16 Sep 2014 19:49:21 GMT
recorded_with: VCR 2.9.2
