---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194921261-f42396d7
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGHThDCTQz-8-nrWuPTFebmrgG_juTplXkH3BEYmMYtJMLj9nnfFqdDeeRTMQMz_xfdXk18c4VKdqZPAh8tZNnkDhTVe3x0cIvGFCC3kt5flQxkO8491dEby1__NsZHn9soBOq9En927M_F1rwuEVxegix5oc3sPjnS6sDQOKw5heDsC1-GM_IarP6fpExYmw4osTg-q7bH-qdXRZ-lA9pv4GiKVOioKhqIiQ9K11AfUn5mlRad-ZZ46LxXmQtqivWaR6vhBCE2cqk_-tuV40lPCaqMvCthW0m-Qw-5-YmQN_1nrxmKhgdiLx2Ccm9KWsFeHoHUpDaqrKUIQOWV4HvModsCEOWuTDUmGSq7PnW3G85fW-wCN2yqq8iPo5SLK5hPl6SDzh060U8Ro5EpSTJmiMIJc6m5nCQCUPTw6v-b_c0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAJ6F2SJXy-LreDqGrJQjDkpgO5CbfUfzI09zsSPzT1eq4QAAAAFmuJVQH9Zojf7SSQwiRk2lMTWR4bz1wf2pPFx3G_H011ndbVIfmNMTfjkjY4GM3wLpP252QvSYWXD22kw1IAc8eatCGvPDGFMduVJ_-u--iBXmVbzGB6Eglj6jQV_fU3jLELINOZgvDg49g_iQVuhUPbzc9nSJP9vVsZugUQIo5Ehjxcj0AG8EZVE9ZW-2C9DYDlwbkcmT1GgBFaZ5F64Cem3X_xjZ1yYZOjWgmgoF9GEyBlLujjTWHnpqFG7aqlqSjpt_D19OwVs1uh1OrXpoFvKiBTy_RN7zYBa5dRpvrg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:49:22 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"addresses":[],"parcels":[],"owners":[],"contacts":[],"type":{"id":"Building-Commercial-Addition-NA"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGHThDCTQz-8-nrWuPTFebmrgG_juTplXkH3BEYmMYtJMLj9nnfFqdDeeRTMQMz_xfdXk18c4VKdqZPAh8tZNnkDhTVe3x0cIvGFCC3kt5flQxkO8491dEby1__NsZHn9soBOq9En927M_F1rwuEVxegix5oc3sPjnS6sDQOKw5heDsC1-GM_IarP6fpExYmw4osTg-q7bH-qdXRZ-lA9pv4GiKVOioKhqIiQ9K11AfUn5mlRad-ZZ46LxXmQtqivWaR6vhBCE2cqk_-tuV40lPCaqMvCthW0m-Qw-5-YmQN_1nrxmKhgdiLx2Ccm9KWsFeHoHUpDaqrKUIQOWV4HvModsCEOWuTDUmGSq7PnW3G85fW-wCN2yqq8iPo5SLK5hPl6SDzh060U8Ro5EpSTJmiMIJc6m5nCQCUPTw6v-b_c0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194922856-458e1c03
    body:
      encoding: UTF-8
      string: '{"message":"EMSE operation failed.","result":{"id":"ISLANDTON-14CAP-00000-000FU","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"initiatedProduct":"AV360","createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","statusDate":"2014-09-16
        12:57:14","module":"Building","customId":"BLD14-00223","recordClass":"COMPLETE","trackingId":255939565,"value":"14CAP-00000-000FU","totalFee":0.0,"totalPay":0.0,"balance":0.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false},"status":200,"code":"emse_error"}'
  recorded_at: Tue, 16 Sep 2014 19:49:25 GMT
recorded_with: VCR 2.9.2
