---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141732097-23520fab
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE3vvGYrK4P19u8KAH_5_HN_5mw1_yMoJFETUOfD65SFcw6SnuAJZu2vDLv2OAEPg4ZCO_JsF8fwIQBMlSKvTPndupWGKpOMCAY7WXxWSnWw04BT4Oyiz4d78Wzx7_Rfb3ZoEDjdEk1xeXySsgzzEuiGeJ2MshwKC1MBNWzf5WFVfaLKJLA2q_snPinpMnmMqi_riiCM-GHVf0XuDtioBplpzhJP9PTfuCitrZZWkixGAPBvOilUeqeTAHcQIl8dnbHDR7PY4wrx5uFbbnp0NrPvB968T7O8K5le-BPOLid52g1q0PffYnYXZ7ALE0X7WqMBWNtYl8o9MC4pftFe4_WYSZD8iclbp8G8slFwgYMpQj0g_SQ9Tt7hxMNgVlmOmlUBPTbkOKOQtzpR40hfu2BnDcTcz_4hFt4M2sjnIpmfz0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAB-pSXlCYY83vexIECa3YqgjEerH0UaK1wvc2LyFMZSv4QAAAAGkSLvDtZHEG7HPYI-hVh4c-qltJ8nGDPSbC1XVE-5r_mNy-2BlfxlHkEOdNYR08gJRkBh3WC-GaFifpBK2Xemsc2HQmys6NjiSH6rlcZbcU9IqDKTIVELXQCo616CD_1GAX9sLFoPWIK_gO3ORu4Ig7GmOqj8P9X6yerV3m5YmYBwQbc0VPXj_g-BAwBHLS5uKOd_QiiEIcjgytzP0Ae0UCeSbVeKA2Qh9A75AAx8bJWFOyK2ryJgoiMo9JuHlEWkAjTE6xmvQmkOwpxwI17_oEhEshJ9hKc-qxcHfiwhWLg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:33 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"addresses":[],"parcels":[],"owners":[],"contacts":[],"type":{"id":"Building-Commercial-Addition-NA"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE3vvGYrK4P19u8KAH_5_HN_5mw1_yMoJFETUOfD65SFcw6SnuAJZu2vDLv2OAEPg4ZCO_JsF8fwIQBMlSKvTPndupWGKpOMCAY7WXxWSnWw04BT4Oyiz4d78Wzx7_Rfb3ZoEDjdEk1xeXySsgzzEuiGeJ2MshwKC1MBNWzf5WFVfaLKJLA2q_snPinpMnmMqi_riiCM-GHVf0XuDtioBplpzhJP9PTfuCitrZZWkixGAPBvOilUeqeTAHcQIl8dnbHDR7PY4wrx5uFbbnp0NrPvB968T7O8K5le-BPOLid52g1q0PffYnYXZ7ALE0X7WqMBWNtYl8o9MC4pftFe4_WYSZD8iclbp8G8slFwgYMpQj0g_SQ9Tt7hxMNgVlmOmlUBPTbkOKOQtzpR40hfu2BnDcTcz_4hFt4M2sjnIpmfz0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141733460-5718b832
    body:
      encoding: UTF-8
      string: '{"message":"EMSE operation failed.","result":{"id":"ISLANDTON-14CAP-00000-000FN","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"initiatedProduct":"AV360","createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","statusDate":"2014-09-16
        07:25:25","module":"Building","customId":"BLD14-00219","recordClass":"COMPLETE","trackingId":267140810,"value":"14CAP-00000-000FN","totalFee":0.0,"totalPay":0.0,"balance":0.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false},"status":200,"code":"emse_error"}'
  recorded_at: Tue, 16 Sep 2014 14:17:36 GMT
recorded_with: VCR 2.9.2
