---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141736617-b03433ff
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjEx01egebtr5FlS2ISedOOhoW8LjthbBAm-C8JyzclHMnoBR14SKTpXIz-0p55khqg17hrcgBeLjHi4FYKy-cl7NtiJpoekNok7NceNQ0RoR5TV2DhWCkBOCm-omvml2W3etmhOlvsMmqsxl3ye6D_8netbWzQ_epHKpQZ6_Gr5Sy6cpWqlpE879d3LIGHMHLpxLHauU1HLGM56HDVT4xWk9ZZrKBFcKg-smXNB3kBzL8DBvDHFr18I6ludVevbbyfUkqvhYFo6yhopK-uzSR6fZ_Yu92gVpMM4Hr8KNU2B62kBBpYUodZhaDUUZEpvIFfVL1hiqU7fX-z11e2_aT9BeY9XK6lfbNKzt7k0PbP850D3neHq6186ZOD_yS3IVn1L2q-QF6VS_CjS9SWDV--REdgqedEWhdIzhYEPO4CoJv0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOgCL9RlNDyPCdtqWgX3CG1Ly7jwxQM8uKQP_upOgTdT4QAAAAEw455X-yIHb-mMKtxb9PHsHT1hC1XhgjywvdaR7vufJqYPH7ttIocG0nASHqsTC1qr5cAhSgt1YwSiJzwNGhyrE6Y0Ad_Ri3LP0NrI730vP6HQPnBwI3Uo5vym96QxopR7BKNsyxkwm14eDRzRn_qfdaIewW8eiutkplRxCvPIs9ftatmRl5sb3sDEI1XpnmfLJWPYL46UMNZLnzJlPdDGZ9V0_Qst8r96U-QfWLFiYETsgb-aDT78gG6u---ht-q5iC8KnojEEsgv3eEplz8eLlQtcL1c_8oRWPT6xUrXuQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:38 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjEx01egebtr5FlS2ISedOOhoW8LjthbBAm-C8JyzclHMnoBR14SKTpXIz-0p55khqg17hrcgBeLjHi4FYKy-cl7NtiJpoekNok7NceNQ0RoR5TV2DhWCkBOCm-omvml2W3etmhOlvsMmqsxl3ye6D_8netbWzQ_epHKpQZ6_Gr5Sy6cpWqlpE879d3LIGHMHLpxLHauU1HLGM56HDVT4xWk9ZZrKBFcKg-smXNB3kBzL8DBvDHFr18I6ludVevbbyfUkqvhYFo6yhopK-uzSR6fZ_Yu92gVpMM4Hr8KNU2B62kBBpYUodZhaDUUZEpvIFfVL1hiqU7fX-z11e2_aT9BeY9XK6lfbNKzt7k0PbP850D3neHq6186ZOD_yS3IVn1L2q-QF6VS_CjS9SWDV--REdgqedEWhdIzhYEPO4CoJv0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141738753-a0f59655
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:39 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR/addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjEx01egebtr5FlS2ISedOOhoW8LjthbBAm-C8JyzclHMnoBR14SKTpXIz-0p55khqg17hrcgBeLjHi4FYKy-cl7NtiJpoekNok7NceNQ0RoR5TV2DhWCkBOCm-omvml2W3etmhOlvsMmqsxl3ye6D_8netbWzQ_epHKpQZ6_Gr5Sy6cpWqlpE879d3LIGHMHLpxLHauU1HLGM56HDVT4xWk9ZZrKBFcKg-smXNB3kBzL8DBvDHFr18I6ludVevbbyfUkqvhYFo6yhopK-uzSR6fZ_Yu92gVpMM4Hr8KNU2B62kBBpYUodZhaDUUZEpvIFfVL1hiqU7fX-z11e2_aT9BeY9XK6lfbNKzt7k0PbP850D3neHq6186ZOD_yS3IVn1L2q-QF6VS_CjS9SWDV--REdgqedEWhdIzhYEPO4CoJv0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141739487-6ad801ba
    body:
      encoding: UTF-8
      string: '{"result":[{"id":1000619244,"streetStart":1,"refAddressId":16830,"city":"PETALUMA","postalCode":"94952","serviceProviderCode":"ISLANDTON","isPrimary":"Y","streetName":"ALLEGHENY","recordId":{"id":"ISLANDTON-14CAP-00000-000CR","customId":"BLD14-00187","serviceProviderCode":"ISLANDTON","trackingId":262040261,"value":"14CAP-00000-000CR"},"country":{"value":"US","text":"United
        States"},"status":{"value":"A","text":"Active"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"CT","text":"CT"}}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:40 GMT
recorded_with: VCR 2.9.2
