---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140822192319481-b0f79f85
    body:
      encoding: UTF-8
      string: '{"access_token":"c4MI3NaIrWNS4-UC7GUXlIYJGZ81zXlgGyj_C7bs9W7LlPByPNefbJkBwx_A3I3TjgYSP80VuIzzIDTinOqe2nuzMXF_cE3Stkyyipe56Ckj9S8F1XVZ6ZBcL_CTrjTl-_hkvAY0TRNaH2quJdZUSfjZTOejQoQ_rzcFpTnio1PHcnZHRDvmLgIeacKWq7UucX_l8fDiuOXUZs_Gin75FPz4N_GVsp_BEEhKUGsCEcmWpeS6B2PVO7L91QYVxuuvYgtF2yhOoHw91js5T2Tn_LutSkfhwBdtZEvKv-HfZPkBvrz7y73d-6juod0k-UPKUAlJ_tmBL98GbmQFTT5xLY2rVo6vOcJ5Zd11WyeenApHNPwu4ibExuMgGRcnVXw2CWpNQ_R1HCl4EeLH5uFw7Vk0EcClTaI8QrSxSqCkEDQqcUO2ciXssxPw30W0MBJ-0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAIygzrYp4Fr395iBYxfLg03xTnxF4eApv3g6-Rjm2V754QAAAAEydy2HFAxUjDddPZVKoC7QFlwvIO0c86k-OBTcCnhWRMrEJ1iOqDkkzd5MGPnwsM53JG_9Yf5q658W36s1sthzRpCUBVmj6X60ih09MojL32AVXGp9Dq2O3SRN3_fzlYeYCEGWtd4mZyY8v7rhZfvGeDXDrrBT-3w72HhUI3rewVeAyLNY_4Dit6cQl1dfZBqGpgGwgZazNQt_bY3o8yLwxsVdYD_Afecp-qAR4j_wivWp5-RZsrc5dcAt_9yqOu6QHCWvVPqOW7dF1VjPXAX4mFNskaYnTF-J1dIqF7iLCw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 22 Aug 2014 19:23:20 GMT
recorded_with: VCR 2.9.2
