---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141753284-81ed0804
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE-J-AGVvd0JQmGeIMdryFoK0C8lRJ5KVeMW7lJkzy6eyB1y3YxXIEz-ubZntrVZRIT08Mnq2YGz0Wk2nqK-3xNYLogizUUoE0gc1UO8VRZ-xuuSuQdSPpAsbtA_MmLZJHRBmr70zjc2tKSSh6UTaDaZITsQIx2ZhUjqCTskqBUVYxcQh97006v-5d67wMjaN7nx_2zqPLZsW39MkGhgs0wTWciFfuRM7aGKmiMlUE2fNTm0B5-UZrpbGErbU4Y3HCW9dP93o9Uhcin0IO1BM27I9eby_fK2SNUHLM1eXGSe3W-tQInyeLydpFWuwyGZjTgtb6yV3B5a8CbykeF5SOkDJ3yulG4n1tovF-alybCDviG3n-QXvclYRe85Sha_htryk-dN2-_hxck0yNzwqkuLo07Q_rF7bKYdQzqmUmlnF0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAI9TrTZxyV4JefohSsW6cpC9p5bC1cBGd-HHJZtAS5G64QAAAAGWihQaAUQSsHS92xeCOVwANKdkN2cUD7GceE94KqQCf8dNFfs0jIG6IJzJbtSdW36Z0Fx3EvVqgs6IKuxU85RbC-m0xJgi-Ma7r7FEnMRrn18zYa4jf_XCijGFb7YeE1W1WLbf7JF7YbiouFtRpWuRKPE_3HMJqm8kkrpOkIX5QWLvBTTLyDoJ6m-Tzf8dZbe1Y7ySHJNkn_Wq8QMEU-fC70iIBNdRBuNzxEACPHPgVMe3d4uLRSZeCTrUI4Dh-lSBAxdgDG8rtsH9LzsSapBIBfKRo8rLnDIDGwrrLHo8gw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:54 GMT
recorded_with: VCR 2.9.2
