---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826203730394-c9c1ad96
    body:
      encoding: UTF-8
      string: '{"access_token":"E_IlcauX8G5sEwlmFVuoXOK6o8YDq6R7pfNpNsYEYrgGLgUBJT0-zTWZG7HIi0QWRuY6Ut7AiudXkPFV0askyFjkVoy4SPt_S79G0gBOGGKQrgG_cRHS5a82hnACKV8_8Dg2Ok03ZuI5QlWE_zQ28SgNCzZgMrqyFTfcewUOGqDpbK9gY4aOYdNTqY985LaSXqer3J0rf21Awhz62qCV-d4F-__AnqS0W0qPUL2dBx2fTWGDfjsDqI32Suwdt39TYlSJG5xckK0RDWr83mtG7lJfQ7bJ6mRb2ExQaQlu1QPcgi11D9_-zdw9CsK7QKRG_WaXmKAubPfvr7VnL0YZCaTFp7sMXPVWVGOwEpz-bVyfafOfSXruuYoDmEp543_XFDUMZPhjj0ZA8gfvgz-20zduU9tw6i5Wb1eb-IcDRNc1","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAOGsw93QYXScYn-zUmxNkFC8QtsXFvjyLQfG3_0e2eUU0QAAAAHbQ6W50ZnC3JZjV7_zfUZVXJzqnevjlaKcNivERykrkbTKAvh2DzjVkat5Tfu5uZ9Fc2-tufqWlVAGP-QVIEdIIXWOT3v0BmZbCvFDGEfdn-9tFXFWGROSubtK3l8n-d2WfHoq-_q20t5o1xSCzYFiS1mIzZ0W5tvretEgYZ5LlYeki4daLfi0b5iaDbwsMIQsBY1EpYYn3PsbX6lixghTbLhojvNdMK_GYNTS6NdTeh5OtPVxDinalkvVXtWqHQnMSnRo5h4X1bpfRHmAqfao","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 26 Aug 2014 20:37:31 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826203731636-0ae0905e
    body:
      encoding: UTF-8
      string: '{"result":{"auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"city":"PETALUMA","postalCode":"94952","country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Tue, 26 Aug 2014 20:37:32 GMT
recorded_with: VCR 2.9.2
