---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194903825-8a1728e8
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGLgd9JElNEq0xTlVRZGLBFnQ40RfY4wT6ZM7R0WR8rL6_GW39MeU705FCwfUS5ZQcfpphzSa9PENhcAqfNJrLSpyblU6gFOHEZVkP18EiBdyahUd9d56eC7tu7MnqnHsSFKCOpHOEV8WQPx-K1Xvrlmlmyq6x8rjQsgukF6YvEvzLuUgAIWzGjfgXhJJLJpwcajBtHfQSrIF8g-4SLv7KZKLo8gnP3owp-km2kpeY_mFY28ldKkLnhYzH3k3GXlB5-7ui_gyO10b1hipQvY3A34U3A8WQ21IJfJuXz8Lk2QKpYNKrxLsaau5JDffq_OAoSDZP1MdxeU9D9YFGApodppMqHIMIe14Ygbr2ibLYTiI8k5fod_Zd4e_ibKp0YF0pmKJ2daBTe7vIh8TfikjgAtAndo1nuXANM-nCNuGS1U30","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAHBlwbP7K3cEtIG0ndz8dCK93UrQcV-n8cZCAgbgmhJL4QAAAAF1kopnPbQRCoR-_R_oLqAciukEIxIwCrASdtw9-8F8TVpgDKLo3LGEDR3R1E7xpCkHUQ5C9Jj45uVGTwOfcX3FoSjqsgvtZMeqf4A0du24-QfL2xMv9l2tiO-PhwkVropV8d39PrD07EuIV2_V1KC5essG779DssYQExaw_5Hqj2QnZYN8XLkkFX4wcOR52rJ--ZnNaG3MagqF7SMgMl8QDa89HWchN5k8ZqSTpT9tPKS-XOxVCTlZUidjzSp2BNcfVvv9RBgxLOOv8DEPXCGuvdihk59lJY5onC9Yc5NPBQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:49:05 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGLgd9JElNEq0xTlVRZGLBFnQ40RfY4wT6ZM7R0WR8rL6_GW39MeU705FCwfUS5ZQcfpphzSa9PENhcAqfNJrLSpyblU6gFOHEZVkP18EiBdyahUd9d56eC7tu7MnqnHsSFKCOpHOEV8WQPx-K1Xvrlmlmyq6x8rjQsgukF6YvEvzLuUgAIWzGjfgXhJJLJpwcajBtHfQSrIF8g-4SLv7KZKLo8gnP3owp-km2kpeY_mFY28ldKkLnhYzH3k3GXlB5-7ui_gyO10b1hipQvY3A34U3A8WQ21IJfJuXz8Lk2QKpYNKrxLsaau5JDffq_OAoSDZP1MdxeU9D9YFGApodppMqHIMIe14Ygbr2ibLYTiI8k5fod_Zd4e_ibKp0YF0pmKJ2daBTe7vIh8TfikjgAtAndo1nuXANM-nCNuGS1U30
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194905370-da91f401
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:49:06 GMT
recorded_with: VCR 2.9.2
