---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916145346826-9431f85f
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjEwUUMz74C5xUiUKU4PnvKc3scB9nHn-8fB8038KTW6OcHIwcHZILcpna_7UieG7gtkO2e26d2pju-hc1ggyC79ddBKAcejrR4EBctPeSntV0lWDE2lRfjnp3_ylnfu3IsPF9xWdy9W4G9a07c69qTO1jbGrOZU39JoyAqaDt6rl4-WZ2Vm4rkw3hAnQ-SgWS-toG1wm69ixdxBcU5UBHnZweD5fWPSje0AGo0C-bfcoCieQgp-IYhxUkpjQGeB7_PukS124agR-47dqg_oh_-pBDmp0gygR3T2aQ73LXH4u-hHX5xfyIUjZOLThAC94yattxoZFgVsDH3FF_uC2BD59zRbHcCiIQRDHYrtEHOndTw2HEqxbq8NoTDZTJQKVGNrUKSbEdpPT57lbmUf9Ugza29co8UsNFLbbXXrJWGo3B0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOgom4ZE9g14NlO1y3Dimqg117sIAfXP06XqoNJd0q_l4QAAAAFqwzYJ78ytLS7tDUNP_kMo3yt8UeH20op8BofGP9uWw0-qpNfd8eHsAZAltcuJrsg6gO9HY9so3rMg5uzLsyk4C_3nDfu1kTIYO06FV18QoEllQtyoUAu8aXTbVP5mGU58JYnPp5OMoaEdjzL3Onp30nl5zWBT1cO7KlIPhVRvBr7S_lgOoMRmqQIPtFPlNkKOo7a234iD7J7oKczrEuvXVg4pQ-xHa5FewHE8LJlJhVRobcdKsyM8eEvS-R8aDu-M0Cg7OGwxJn-QrDcJOw1czS1DKdUpYCNcVnjcapuEMQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:53:48 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjEwUUMz74C5xUiUKU4PnvKc3scB9nHn-8fB8038KTW6OcHIwcHZILcpna_7UieG7gtkO2e26d2pju-hc1ggyC79ddBKAcejrR4EBctPeSntV0lWDE2lRfjnp3_ylnfu3IsPF9xWdy9W4G9a07c69qTO1jbGrOZU39JoyAqaDt6rl4-WZ2Vm4rkw3hAnQ-SgWS-toG1wm69ixdxBcU5UBHnZweD5fWPSje0AGo0C-bfcoCieQgp-IYhxUkpjQGeB7_PukS124agR-47dqg_oh_-pBDmp0gygR3T2aQ73LXH4u-hHX5xfyIUjZOLThAC94yattxoZFgVsDH3FF_uC2BD59zRbHcCiIQRDHYrtEHOndTw2HEqxbq8NoTDZTJQKVGNrUKSbEdpPT57lbmUf9Ugza29co8UsNFLbbXXrJWGo3B0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916145348508-ba91f96a
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:53:49 GMT
recorded_with: VCR 2.9.2
