---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141722534-74a66365
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE-asJdTDL8k8tA0e38wPmH04xNc9tXn7k3onfS2EMwqZFWDHij-WLNJdr-snio_4iA18CpyB8_zcM13-jOPx4S6MaiL-_gA2_AlqxW7mBN67gRgN0XF0MGno0u3ZBGoKQUVlf3zI7KevP_wCPmHkqSpbye2j0sIMkYOqW84CB8bKBJIMIcn6MWElx_PA2l2C7vSOLQxj7C8XsUECh-UaOD5HETcT7CQiC7sLNxZd-G1Jf33z2QpLXv-IYew_IPq5D9-slOj5dWLjPRQty5N_vxsaKdZLJUtx5MzfNIcKLawnE3U22li_BJaLrvMUZiqZ_266dmiBF-yBDfTH320cNAkoeV_hpqkvPnLpYEt7JRbcKw4amQL6tI2Us_Bq0-1uvZ375XOQtuGK_EDO6CYoTaRziAMCLv3Y23f3YdPvBM_g0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAKK64BIfwYGYLc3fEpn7ZUXP1icydcEbyFjngTmoM9kE4QAAAAEtwNG-nGOWmau1X6bEeKBz4ycGIFWjoG38GQ4ieHnd1HAiFk7ZY_ly6ld6G5GkTkJynv-NeNpdfJUHYNvzgubkuoAgarqXCrqc-1Oaudr0ajC4fxrvTkuKSsbj1XJCdkRwKUMH-mwqdCAcWUWMT4ReYNDWRoXyAIYfEPL5EkZuErnO8yxoAVgkoP78GJDOfVfEojo73L_BBD6YxpRJBg-BbDj82IwreoRM-cydUGbalntO2e98bsyAhZqnAZ6ITaJjw6qDQvttNlzB8dIy0Anqtjw-nyoQ4t0XdHcUmBG5kQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:23 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE-asJdTDL8k8tA0e38wPmH04xNc9tXn7k3onfS2EMwqZFWDHij-WLNJdr-snio_4iA18CpyB8_zcM13-jOPx4S6MaiL-_gA2_AlqxW7mBN67gRgN0XF0MGno0u3ZBGoKQUVlf3zI7KevP_wCPmHkqSpbye2j0sIMkYOqW84CB8bKBJIMIcn6MWElx_PA2l2C7vSOLQxj7C8XsUECh-UaOD5HETcT7CQiC7sLNxZd-G1Jf33z2QpLXv-IYew_IPq5D9-slOj5dWLjPRQty5N_vxsaKdZLJUtx5MzfNIcKLawnE3U22li_BJaLrvMUZiqZ_266dmiBF-yBDfTH320cNAkoeV_hpqkvPnLpYEt7JRbcKw4amQL6tI2Us_Bq0-1uvZ375XOQtuGK_EDO6CYoTaRziAMCLv3Y23f3YdPvBM_g0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141723929-8c42c3cb
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:24 GMT
recorded_with: VCR 2.9.2
