---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815190347701-7bce22bf
    body:
      encoding: UTF-8
      string: '{"access_token":"TEm3m7U46hsITkvo0CJKU9KubBV3dqyk2BoJu2ZdUqY9lYf-22lrGpMbGCLMx1Sa3bs2DJLyCqhfyiIoUR_MwOkmJ5AbK0mDQmoiQL4e4xLTjcTRhodkcnUkaGcqw3a9x3RiTywtLYdewEzqd7LaCelcfjuZfDGKa8YI3ROeODA0ks8jjfqk-iGF2B_ssKGr23MapPNjT95v6T5BLpLLfUDmZgD2FOVhkXhRJLXO7y4DnXfjdilCvcZM03Houe8HoD4lt9G-Wr8sn9N0PWhyIezQMXM8rTCrJAXnbmNlVP1riyOWIhjIcddh48w4SJC1bkL_uqsHLj4lRw9IEmbPeo2QF25HLcsij0r8NamY5e9LIOF8TpxhG7DZLsk1WVYzzCzL_AbQEArKpj04i3wxkJLP9IQ_79pIqga_YeTULRS99WXwwu5xgDTVNTH4idJ10","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAD7iCNdqCF0GOwNCYauAxh7wxc-YFagQPWdr5wxYFAUD4QAAAAFh-zQUMYtPm9FQ-LKEPW3pwJ0mnIegMNPdPBzOk84Sx5D65bIMlp_qVajfCAQpvows4wcZNdNs8fIvrc1QkCvG23lrcqLVl2gq4czI1bNZbuOzh_kPHUh76mYLcTcDsOkY5rUmU75mSsfCV6ttfIi4gpEkOo-zuEVR1F04TjNtnd8uzVgEEx7LJ39_ULo1XtvL-ERJCvT8CWKlZPRXN3KaeXQwlwqMk2f3E48HKF2NkZgdLWRpih-7JcdNZXsU66hama-wAaOkgNuyFbJhWSkT8q8S1GYjMA_riC5wvUnxxw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 19:03:48 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - TEm3m7U46hsITkvo0CJKU9KubBV3dqyk2BoJu2ZdUqY9lYf-22lrGpMbGCLMx1Sa3bs2DJLyCqhfyiIoUR_MwOkmJ5AbK0mDQmoiQL4e4xLTjcTRhodkcnUkaGcqw3a9x3RiTywtLYdewEzqd7LaCelcfjuZfDGKa8YI3ROeODA0ks8jjfqk-iGF2B_ssKGr23MapPNjT95v6T5BLpLLfUDmZgD2FOVhkXhRJLXO7y4DnXfjdilCvcZM03Houe8HoD4lt9G-Wr8sn9N0PWhyIezQMXM8rTCrJAXnbmNlVP1riyOWIhjIcddh48w4SJC1bkL_uqsHLj4lRw9IEmbPeo2QF25HLcsij0r8NamY5e9LIOF8TpxhG7DZLsk1WVYzzCzL_AbQEArKpj04i3wxkJLP9IQ_79pIqga_YeTULRS99WXwwu5xgDTVNTH4idJ10
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815190348663-ebe62cf8
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 19:03:49 GMT
recorded_with: VCR 2.9.2
