---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160214458-bb25ded2
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8R1DWE6FBx7SK8DeTOzL4CorOMFqKu67ZDC60ZBrwL5hb-bYjoQRnT_b1SRbUr4s0y6JZaWxx3RykBNEPv8Dm1cobSIzTifR1XkBF2wCi1AZETybkpncH6QNV8a9fMNblOSFTBJNjcA2TLlVnXyM22REUVv2cFSmTZLMLFZMkxN-fLnLoDF0RG979fNGayMAO4F15lWsKK4N6-CoLyYT-vlXVweQ2QSGweSsaEGB8-21SCz14JeVzD3hf6hlFqbM87v5nYyj3BZIWBLkT0FKVTsRsBPwBSWZo_ywCNxvVBjj-4N3nEw7LT3E5kao8mP2k8ylWGpR9uNjf5D9kJrEJjuOvDsySNXSpoSiwikW976l3uYydVaz_xKWTkUU50ELBIl_2luNfnhshICG8YCU-2fYKG_Xe5pcZhmpqW_QYfF40","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAHDa1R2Z6l8NcGUiTH2EPmETcjl-2OVu-bSedS68G5u24QAAAAEot8md_FEZ37h8Hv9QqpZyJ0klgWmtgRKoura713K7vxnkZHmdFDFLj7piwmzngwiJ-u0E6snJemlgPSCPqPx8rn46nGeZkybfBSA5dpWMMwB8SwVutzzJorOUv6TTJMXmtATksN3JO1WF08gpbhMt1KV9BM-FyK3dPhlmj3dYqcOgHekKNawm9ronA9ZoDrk9PpfZHrZdBKS0OfhKdF3-joU2MAs2Bcp7AT1CNL2LBe4DEZrM_BN0PU39S8IRA9y9f6bxjNNht0STl8360cFPlTFEWUhOWVGYg9Q9UwWIYg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:15 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - H9fBlmvJlz3ZIZa-ojmb8R1DWE6FBx7SK8DeTOzL4CorOMFqKu67ZDC60ZBrwL5hb-bYjoQRnT_b1SRbUr4s0y6JZaWxx3RykBNEPv8Dm1cobSIzTifR1XkBF2wCi1AZETybkpncH6QNV8a9fMNblOSFTBJNjcA2TLlVnXyM22REUVv2cFSmTZLMLFZMkxN-fLnLoDF0RG979fNGayMAO4F15lWsKK4N6-CoLyYT-vlXVweQ2QSGweSsaEGB8-21SCz14JeVzD3hf6hlFqbM87v5nYyj3BZIWBLkT0FKVTsRsBPwBSWZo_ywCNxvVBjj-4N3nEw7LT3E5kao8mP2k8ylWGpR9uNjf5D9kJrEJjuOvDsySNXSpoSiwikW976l3uYydVaz_xKWTkUU50ELBIl_2luNfnhshICG8YCU-2fYKG_Xe5pcZhmpqW_QYfF40
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160216099-fa589924
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","balance":0.0,"statusDate":"2014-08-20
        11:02:00","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","initiatedProduct":"AV360","booking":false,"customId":"BLD14-00187","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Thu, 21 Aug 2014 16:02:15 GMT
recorded_with: VCR 2.9.2
