---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815200758273-4132932d
    body:
      encoding: UTF-8
      string: '{"access_token":"TEm3m7U46hsITkvo0CJKUzt8iw8plGwA7ra82lE_Yp-eCtV-F3QFmMIbJGsKzy0D84hKroDBRq70b3MTgpaUXiZOuh5lowDOgPQ4Lmy1kJ7OsbTe_cmeeisTDL2BKZv84m6vlpFD3PomuSk6XH7otQZyWFnhWgLoDYRwF8ifJv8yzqXgY4EEvha2vWP9K8HMcZXVONOOORRTFF3Zrxel_9L5OAyZ2V9GsD-KDXTCfrZnKmdzKM2P2YDXwTw3-Nx2VSSjRAFBw3xPbk1zQyIVXSwjcbupJ8l_Q5Wl7ih031D23aKYxI52uAGv_qZ4vPljECX6d24uW2ayxrPwHfO3muHsAv0hfaC8A0D_1OZzrAQck-R6mc1TyYefuEFQO52CoEcSJGMcKSb7GjQw0aA5bJ3EUDFS-ybXhVempWpw7VUWb6eo4SJfi07-zn3Ze8s70","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAJxskkDEULT-euIrzeA-DE5UjHJSGoccatLH9pPZ6zU94QAAAAHUDVfdRzI-3WbGWYzbhLLBWrg1Haln8seCGDiHOMaX_2g9nnoHNHHJmDyOo0LjLV7tUju-Kf03a9Jyvi_Ub8foQ9QzSBXILoOtDhXMwN7FLuiM-Kelw1odReOIoA8mewPXHeoh5eJnMD_Lbe4DRFfdnoN2VErFhJk-tCTQJufRSe0o9jjT2FcVZNXzyMr-uTrcdcG7eH8WaSdWhaZ2fYJamsrT9J_8uxIA5-wFlZ35Cz97ypYt4u38aW4lwRv_vpnqZEgADePon4ejS7hpqTDNGTH3cYgV9R050JuL662OKA","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 20:08:00 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - TEm3m7U46hsITkvo0CJKUzt8iw8plGwA7ra82lE_Yp-eCtV-F3QFmMIbJGsKzy0D84hKroDBRq70b3MTgpaUXiZOuh5lowDOgPQ4Lmy1kJ7OsbTe_cmeeisTDL2BKZv84m6vlpFD3PomuSk6XH7otQZyWFnhWgLoDYRwF8ifJv8yzqXgY4EEvha2vWP9K8HMcZXVONOOORRTFF3Zrxel_9L5OAyZ2V9GsD-KDXTCfrZnKmdzKM2P2YDXwTw3-Nx2VSSjRAFBw3xPbk1zQyIVXSwjcbupJ8l_Q5Wl7ih031D23aKYxI52uAGv_qZ4vPljECX6d24uW2ayxrPwHfO3muHsAv0hfaC8A0D_1OZzrAQck-R6mc1TyYefuEFQO52CoEcSJGMcKSb7GjQw0aA5bJ3EUDFS-ybXhVempWpw7VUWb6eo4SJfi07-zn3Ze8s70
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815200801151-9cbbaca5
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 20:08:13 GMT
recorded_with: VCR 2.9.2
