---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194942307-20811658
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-14CAP-00000-000FK","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","module":"Building","customId":"BLD14-00216","openedDateFrom":"2014-09-16
        00:00:00","trackingId":257483888,"value":"14CAP-00000-000FK"},{"id":"ISLANDTON-14CAP-00000-000FJ","type":{"module":"ServiceRequest","type":"Graffiti","value":"ServiceRequest/Graffiti/Graffiti/NA","category":"NA","text":"Graffiti
        ","group":"ServiceRequest","subType":"Graffiti","id":"ServiceRequest-Graffiti-Graffiti-NA"},"status":{"value":"Received","text":"Received"},"createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","module":"ServiceRequest","customId":"SR-2014-00226","openedDateFrom":"2014-09-16
      [...]
