---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records/1234/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815190343350-4a01849e
      X-Accela-Resp-Message:
      - Token is required.
    body:
      encoding: UTF-8
      string: '{"status":401,"code":"no_token","message":"Token is required.","traceId":"140815190343350-4a01849e"}'
  recorded_at: Fri, 15 Aug 2014 19:03:43 GMT
recorded_with: VCR 2.9.2
