---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records/1234/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140826203738510-8e1098cb
      X-Accela-Resp-Message:
      - Token is required.
    body:
      encoding: UTF-8
      string: '{"status":401,"code":"no_token","message":"Token is required.","traceId":"140826203738510-8e1098cb"}'
  recorded_at: Tue, 26 Aug 2014 20:37:38 GMT
recorded_with: VCR 2.9.2
