---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140822192302685-9aa06d8f
    body:
      encoding: UTF-8
      string: '{"access_token":"c4MI3NaIrWNS4-UC7GUXlFlqQM9_1VYQ_IqCQ5rf_rKgO54fA1YKg17AKer3wiXbCxHSFXUPR9gtEqaEcaLIoC5szUjDh-AAsX_OMr6qIBbzLMtEF6GHRddk5CsUxBE6KbHAkyMAwFs62M31tEz8lfdx4AszieyvaAG4xKL2Q7Jj-omhKgNaxQgoGbjYgOq8dWRe94dV7nQLWPfsUbSCalwukwahDGrXgwrOT7OF52n8JriynYdUG5CjS_HJHpNFYmz7a5DXdy_i0oFkU-X27ZAOfw7Dm2EbisLx6OUH6F2XDAMKefw1aD3HD8crdaNcmyFhhLbkpWG70VHezcE54yQj_sgyLD-0EzviNq-Ap88rZRNiXN6jfLTOYkE6-uAojhHzvHQiEd454E6oEenAMIOq1H8ekxrqvsUj5ve_KrBnn2tn2tl8qAq4IPAl5vh00","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAACKSzeo50cZ7c4-NoHcwI0gW3Sh5VWws63aiRMFdBjgK4QAAAAGai_j10lCwRgVZ6fXfEVmYn0jDOcrHe_e4MwJdvs_Isuifotv1O4iPiMFEbsj2o1FbhwwMFlMtIWE0nKnpKONnmUtooY_tE89zUycbETb6nfhpjXpBOfSyKQoU0QZlcuNwyT8Duh9x5PzA-_3nsSIQVTvw4BZm7tdy5lIHXAbVkHzu_82GS9JCFB_IU5W-5nr3wsR_bl1ZAjQLQDTKuxcDgqIZotq7nr9Jf0FZgx634Y7u0cQL4xxt4-mzlZbYIlZLBOuLVbE7EZD-6KpunrruccGWrCm2bAXTirEdbfH3gg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 22 Aug 2014 19:23:03 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - c4MI3NaIrWNS4-UC7GUXlFlqQM9_1VYQ_IqCQ5rf_rKgO54fA1YKg17AKer3wiXbCxHSFXUPR9gtEqaEcaLIoC5szUjDh-AAsX_OMr6qIBbzLMtEF6GHRddk5CsUxBE6KbHAkyMAwFs62M31tEz8lfdx4AszieyvaAG4xKL2Q7Jj-omhKgNaxQgoGbjYgOq8dWRe94dV7nQLWPfsUbSCalwukwahDGrXgwrOT7OF52n8JriynYdUG5CjS_HJHpNFYmz7a5DXdy_i0oFkU-X27ZAOfw7Dm2EbisLx6OUH6F2XDAMKefw1aD3HD8crdaNcmyFhhLbkpWG70VHezcE54yQj_sgyLD-0EzviNq-Ap88rZRNiXN6jfLTOYkE6-uAojhHzvHQiEd454E6oEenAMIOq1H8ekxrqvsUj5ve_KrBnn2tn2tl8qAq4IPAl5vh00
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140822192304235-d5024fde
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","group":"Building","text":"Residential
        New","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","balance":0.0,"createdBy":"DI","module":"Building","initiatedProduct":"AV360","totalFee":0.0,"totalPay":0.0,"undistributedCost":0.0,"infraction":false,"jobValue":0.0,"customId":"BLD14-00187","booking":false,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Fri, 22 Aug 2014 19:23:04 GMT
recorded_with: VCR 2.9.2
