---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160207490-22c380fb
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"MASHKOV-VuSpex Residential #2","id":"ISLANDTON-14CAP-00000-000CI","type":{"module":"Building","type":"Residential","value":"Building/Residential/Addition/NA","category":"NA","text":"Residential
        Addition","group":"Building","subType":"Addition","id":"Building-Residential-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"BRADP","serviceProviderCode":"ISLANDTON","openedDateFrom":"2014-08-20
        00:00:00","trackingId":253923535,"customId":"BLD14-00178","value":"14CAP-00000-000CI"},{"name":"D-I
        Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CS","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","serviceProviderCode":"ISLANDTON","openedDateFrom":"2014-08-20
        00:[...]
