---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160208224-f2391958
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8YmwVdyHxj9mcCySkdBAuWdacbipLjWBWgn5jd3FDvpvxCKNtqcH2bHyu9XvqFw-MN8JXLekHtaTq_f9cW02EtSIDXSLEegnLDvSxstqUpvWGlHLNgEPEUa0-MI52SXQuIJfT3u1GUqupVJN97Q_3E1Xmzp2Gi5CkarmzXiOETiQuFjsFWvdomkw_tbeKcwMAqvLgCA9YEvUxFe6sfRBlC9IcZc-aaUG1vf3EQI6U7EVkTD-R5EvwQ5m_mHvpO2EckD1AWrkX88H9tV2BIxN25UX6obxtg7G3XfEp3PtBD-bExLlztl1Kd-jAEe0T4GEuGTFfi5sEz4h5wDR9-HMHhaNhjMykn_wHUm8Cvlq3rtdQLz23WM6AY2BqvDK72PE4vsVxq9pUokB1eAcBoqz5GLjN6V78yz5hDzJtg4_Y8DA0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAANnbYxxl_AYwORjqvGmLhYfunRBpQ-shjCFeYVuNRtfv4QAAAAFDev_gZMa4HG8-rrYJ1U6tLzrlaOaJApkBs5nCU79x3A60BVk1pA4huBW_8RfELa3d55-KU2wmzKrqPl1PWRfHrjCeiKaAVr9xpiwEAkz-Zdgy2rtoDj6d1m-2EnX-vI8p4jRmaoNYVHFxnUZyHba41vs1a6Dl8uNhQs2ET3OlcoCI2DdA4xfMzwRmz2JX_Pj5MagfMNrN6qJ8Aq7pSg0xFqIEhg4U37a98-ZVKd4YjgD96xuXM16OP15K5IsWQ9JLRCvVMribTFpAAklTi6ACSxpbRHD27XEJbziGODEoBQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:09 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - H9fBlmvJlz3ZIZa-ojmb8YmwVdyHxj9mcCySkdBAuWdacbipLjWBWgn5jd3FDvpvxCKNtqcH2bHyu9XvqFw-MN8JXLekHtaTq_f9cW02EtSIDXSLEegnLDvSxstqUpvWGlHLNgEPEUa0-MI52SXQuIJfT3u1GUqupVJN97Q_3E1Xmzp2Gi5CkarmzXiOETiQuFjsFWvdomkw_tbeKcwMAqvLgCA9YEvUxFe6sfRBlC9IcZc-aaUG1vf3EQI6U7EVkTD-R5EvwQ5m_mHvpO2EckD1AWrkX88H9tV2BIxN25UX6obxtg7G3XfEp3PtBD-bExLlztl1Kd-jAEe0T4GEuGTFfi5sEz4h5wDR9-HMHhaNhjMykn_wHUm8Cvlq3rtdQLz23WM6AY2BqvDK72PE4vsVxq9pUokB1eAcBoqz5GLjN6V78yz5hDzJtg4_Y8DA0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160209911-a8ba5581
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","balance":0.0,"statusDate":"2014-08-20
        11:02:00","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","initiatedProduct":"AV360","booking":false,"customId":"BLD14-00187","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Thu, 21 Aug 2014 16:02:09 GMT
recorded_with: VCR 2.9.2
