---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815190340632-0f1d5925
    body:
      encoding: UTF-8
      string: '{"access_token":"TEm3m7U46hsITkvo0CJKU86A_L9klkbcJv7fLLUu7hWiipFa2EQkZ95DcgsG9V7ts_cYOVd5CgZJZ7LJETf8CusQWYfOtUQ_MuyzPp_sXGzoaPoxjpZVJLzXLlFIVdSZrBEZQaLcSnUMAERLpMoESZdF1Joo_n05j3T5LLhfZKkHyleo1hQ_9HDnDZJR2Gbrrd0KTSgYDmpwk9rUNNjV8VdcSN_kNO4eF_VG84CXgyzUnb3PFs4d3eEO4CLxx0pLMZ2dFnx9lqGOoGYl8nn8bAb1HJ37Pn-H59HqVf2rgW3XLe2q66W3SQ6FWlfBkBBsgDSFM0TbDqf-zAfpsMjCOcMmQ8npHSeCx4-eVtZe8H73EAZEI_fkG6yfYpFx1kD63P54mDuUMcw8ly5dtD5mhBZitT3QXORKGWu6ZYM53WBEnQRRDYxLp4NRC5OTBSbK0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAJ81YPOKQde81qBZQASjHjEXrYisLrAd2s49UQHGAFpX4QAAAAF24Wnmg_VoTneJVQCMwYS8vDNUj3OOiOgW_t8Bd4lvZJnCKFrcePcIuIUd3QOLu9-lz0h98nrql_aAR7rgbT2in2HSqc7XDDpvRHminLLYrUZwndWdQCMQx95C6XJm95tG7fBhX6qVlfisDi3qWOvMBlMCB2tY7zUXXNsjeIJVA_nYg_zVqauPx3CJgsk2aK0oiQqGBVxvbNXLvqgY3FZ59_lJI15Mx41ayCoSPjSP9sPj1LxvRWHeEVQnpaUgXXBHdJhtY0AckFlshJ-q9HjED5FrtwvTou1QvgTWzPCxXw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 19:03:42 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - TEm3m7U46hsITkvo0CJKU86A_L9klkbcJv7fLLUu7hWiipFa2EQkZ95DcgsG9V7ts_cYOVd5CgZJZ7LJETf8CusQWYfOtUQ_MuyzPp_sXGzoaPoxjpZVJLzXLlFIVdSZrBEZQaLcSnUMAERLpMoESZdF1Joo_n05j3T5LLhfZKkHyleo1hQ_9HDnDZJR2Gbrrd0KTSgYDmpwk9rUNNjV8VdcSN_kNO4eF_VG84CXgyzUnb3PFs4d3eEO4CLxx0pLMZ2dFnx9lqGOoGYl8nn8bAb1HJ37Pn-H59HqVf2rgW3XLe2q66W3SQ6FWlfBkBBsgDSFM0TbDqf-zAfpsMjCOcMmQ8npHSeCx4-eVtZe8H73EAZEI_fkG6yfYpFx1kD63P54mDuUMcw8ly5dtD5mhBZitT3QXORKGWu6ZYM53WBEnQRRDYxLp4NRC5OTBSbK0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815190342935-f4a03d19
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 19:03:43 GMT
recorded_with: VCR 2.9.2
