---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815205555687-e5f9e7ba
    body:
      encoding: UTF-8
      string: '{"access_token":"t7h9014v2t4RmRV8OFtoGBXD_WIaLfpnQw4MU_IIrEeaO08J5ybjdT9ab28iA9i52lTS4zd4F5TZ7-5W3vVZFhxkrpjB4lHj5_ukVAwK3OGdFHm3tgrmTyQM4XqiSV1FAvYq30Ie6tzGAbNgjXJBLQlhxnwuK6bq_Mhq1fMajOwakJZWoYCfDL-oLWc8Jz-XF3y2N9wnowOEs-eZaT5l255w0D5W241O40CiS7eMHAF2tAa4SHA3Wai-SDbJD7cqIgZTLj9Xqj8H71XRTuYXdqCZEJPbNfn5G1kEMUe2FXtqU1AX94I6Z4MbIsVCopvaXEQtINhr4Vd2-96Vu7XypwEIsIPGIDIhnZ2-XU7S1gWRyY5XPsm-qkQQFIlQN4kqpYCT8ZO-GLd7fRXcN3c1z_zALKZ9_wn3QrqW3HsB3kAlCQMfGQp3c_OCZGYjofbD0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAPgLJw74aEKrLxFyXvlg8YOWSVt-ZN_cteIDuV7MQcLV4QAAAAGC03yqFsjGULvBaZ9NY5KEuBMC1X-T-3fXKrWbTbwBNOgEH0yKNdstUxmUEjilvc5mVqRHyX8htPOkhKEVFuRBWcZxlFyQSU77vs9URwXh4wXpxChpTsRC-jM_Cd1xDWsjY9NYrsKeWmUa09tulR9zNGLk2HscPUWZoM4c4EXGd-_wV14zUSc3TjLu_GwwjwLsZgS7jbr4mLaHGqzf85hgmkOVbzFnC-4X3m_iOAYDfJJTS6eyHJ4vHJBoO93hDpDFWZXr0o4wSYtK65_vW0teu0aF09FIUAr9-Lb9vkpEHg","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 20:55:57 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - t7h9014v2t4RmRV8OFtoGBXD_WIaLfpnQw4MU_IIrEeaO08J5ybjdT9ab28iA9i52lTS4zd4F5TZ7-5W3vVZFhxkrpjB4lHj5_ukVAwK3OGdFHm3tgrmTyQM4XqiSV1FAvYq30Ie6tzGAbNgjXJBLQlhxnwuK6bq_Mhq1fMajOwakJZWoYCfDL-oLWc8Jz-XF3y2N9wnowOEs-eZaT5l255w0D5W241O40CiS7eMHAF2tAa4SHA3Wai-SDbJD7cqIgZTLj9Xqj8H71XRTuYXdqCZEJPbNfn5G1kEMUe2FXtqU1AX94I6Z4MbIsVCopvaXEQtINhr4Vd2-96Vu7XypwEIsIPGIDIhnZ2-XU7S1gWRyY5XPsm-qkQQFIlQN4kqpYCT8ZO-GLd7fRXcN3c1z_zALKZ9_wn3QrqW3HsB3kAlCQMfGQp3c_OCZGYjofbD0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815205558320-c638a677
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 20:55:58 GMT
recorded_with: VCR 2.9.2
