---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194847808-9dae261b
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGDzt8YqaRcpf0PI_vxcIVZZ2UzGp_myvYmCBA0b1EKZlKHogweSe5dqtmOY3lKNlFiun1w-7svkYlj_BaqC-ma2gA30KmKlRqJl0BFVL0R1uHsV0Skw6MxAZLwApKmRftONLeAB7q3yeZ1i6POCxEm1SgymB1hiGTqB7yMx0EJThnjcVM3ZKmn0HAtdpocvilAqfrqpEq5hOxiXoU3WGJT2DOtWsudgcH_1RsyKQQ79ebhy1Gr59hMPQ8A_CgusV7hvMnj9ahg22hGyw35vTWCjabOU-EIho2fSgjQS_Y2izUa1VeLAWJ-IvwYKse-qPsuTwulurAHrFHdzI9QFrHCA1AnVFIDwJjC0ER1911IBcjKaoz_lZfCYej7_sKbaeRKYveZznBGrcaH2DwCeH6zxEJaGQTIr8IJn4fyyhCGa90","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAD8C7hejbu9N_hCs0PrUJ-6hbtNgpS1tM9aAHaISb6JV4QAAAAFre25OU6JwhRJOmRJe-2--2pps3jKoNYZPJk3NJCDbolEfytWEa9iphE8aDoLEN_kGgvABXEKfclnzPectsX_YML9MIHxVSQBZXv49bLu7P9lp4xE1L74spCWqClzhTrNWgJuCbgHJgVNsVZ57sI5J3OiHE7Diwt3mt5lVn4I81EmFURSiSAqgUsUGjGRV1PXlqbB323JdOEQU3zZOxzCZpur_YtVoU9rKsn9zdMO556MPLdwJTGG3l8G-eP_IPqeKb7zDOeeHjs3w8Rt8VvXNyAkZKxSemMZOzDoJ3cbukw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 19:48:49 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGDzt8YqaRcpf0PI_vxcIVZZ2UzGp_myvYmCBA0b1EKZlKHogweSe5dqtmOY3lKNlFiun1w-7svkYlj_BaqC-ma2gA30KmKlRqJl0BFVL0R1uHsV0Skw6MxAZLwApKmRftONLeAB7q3yeZ1i6POCxEm1SgymB1hiGTqB7yMx0EJThnjcVM3ZKmn0HAtdpocvilAqfrqpEq5hOxiXoU3WGJT2DOtWsudgcH_1RsyKQQ79ebhy1Gr59hMPQ8A_CgusV7hvMnj9ahg22hGyw35vTWCjabOU-EIho2fSgjQS_Y2izUa1VeLAWJ-IvwYKse-qPsuTwulurAHrFHdzI9QFrHCA1AnVFIDwJjC0ER1911IBcjKaoz_lZfCYej7_sKbaeRKYveZznBGrcaH2DwCeH6zxEJaGQTIr8IJn4fyyhCGa90
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194849388-07b091d0
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:48:50 GMT
recorded_with: VCR 2.9.2
