---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140826203734832-d4070681
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-14CAP-00000-000DF","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","group":"AMS","text":"Boiler
        Maintenance","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"serviceProviderCode":"ISLANDTON","createdBy":"MDEVELOPER","module":"AMS","customId":"WO-2014-00077","openedDateFrom":"2014-08-26
        00:00:00","trackingId":262337734,"value":"14CAP-00000-000DF"},{"id":"ISLANDTON-14CAP-00000-000DE","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","group":"AMS","text":"Boiler
        Maintenance","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"serviceProviderCode":"ISLANDTON","createdBy":"MDEVELOPER","module":"AMS","customId":"WO-2014-00076","openedDateFrom":"2014-08-26
        00:00:00","trackingId":224866507,"value":"14CAP-00000-000DE"},{"id":"ISLANDTON-14CAP-00000-000DD","type":{"module":"AMS","type":"Facility","value":"AMS/Facility/Boiler/Preventative
        Maintenance","category":"Preventative Maintenance","group":"AMS","text":"Boiler
        Maintenance","subType":"Boiler","id":"AMS-Facility-Boiler-Preventative.cMaintenance"},"status":{"value":"Pending","text":"Pending"},"serviceProviderCode":"ISLANDTON","createdBy":"MDEVELOPER","module":"AMS","customId":"WO-2014-00075","openedDateFrom":"2014-08-26
        00:00:00","trackingId":213118252,"value":"14CAP-00000-000DD"},{"name":"Test
        of new residential","id":"ISLANDTON-14CAP-00000-000DB","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","group":"Building","text":"Residential
        New","subType":"New","id":"Building-Residential-New-NA"},"status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","createdBy":"PUBLICUSER94855","module":"Building","customId":"BLD14-00199","openedDateFrom":"2014-08-25
        00:00:00","trackingId":27645[...]
