---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=owners
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194854966-d6872f73
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGImVJ6BOeua-OlXBuSxLbVO80DvNK7m1U00OXhUIO4InXRd-zFKl3WsyuZfZ6wljyJsOSBB527rDpa5o7PNqYzHxL8n2nxxNbTae-648kWINaP4z8rdGYb_EbuKeNd3CeiI0OQbIzgFBndzob7nByKSwbiZ17ybyA4f5UowHQAZzULXewRybezfThzYx0U4MWyQXzRv2XrFfuUrGkLbCKn-VGrbtF1uBwKTSVYLkBZh3IMkiz9Zd3PElVn4Ig-pdSFS792Etph43lvFJPvHCH5v1FG_BX8Qc_IyLs0az_iOvFG5l6Ej7KJejJFdJ5o_rNuEireX6TFE81m0Jxd0NtsjBGDv4UV4I9kbCd3Mj4l3lm_3FzmB1H7lxARNMUz9qDE_SOQphvfl8d_BblYfEiJY1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAMC-ayUBqKyh0NLZdO_lttjSLUNsC_X_zZKsnnWYEvsx0QAAAAEO1b2fPgd4R0yRqDuHOPeR3pxGnAmCP7bZhbHGL2Ufa3yBAb2RHjtUqFrOEaa3CpTapOw6hCoaJ6BKtq1fzD1d19A9-bLKqNPusd3Ydzyk-9nQHiKmyZQwRn6shUpzRR-IBtXkRs0Ir_Dy_3LVJgBTztgs5dmWr89AEsSUlW6AgpibO392tbv4G3ADwr1fmqgsWd_pK6AS--Q6xGt-AXI-dLAarNLHnJ5eYCWRwSf31RGwNWvimClXNtLxl0XW5d9hEboP2PXgRxNk17H1DyYY","scope":"get_civicid_profile
        owners"}'
  recorded_at: Tue, 16 Sep 2014 19:48:56 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners?state=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGImVJ6BOeua-OlXBuSxLbVO80DvNK7m1U00OXhUIO4InXRd-zFKl3WsyuZfZ6wljyJsOSBB527rDpa5o7PNqYzHxL8n2nxxNbTae-648kWINaP4z8rdGYb_EbuKeNd3CeiI0OQbIzgFBndzob7nByKSwbiZ17ybyA4f5UowHQAZzULXewRybezfThzYx0U4MWyQXzRv2XrFfuUrGkLbCKn-VGrbtF1uBwKTSVYLkBZh3IMkiz9Zd3PElVn4Ig-pdSFS792Etph43lvFJPvHCH5v1FG_BX8Qc_IyLs0az_iOvFG5l6Ej7KJejJFdJ5o_rNuEireX6TFE81m0Jxd0NtsjBGDv4UV4I9kbCd3Mj4l3lm_3FzmB1H7lxARNMUz9qDE_SOQphvfl8d_BblYfEiJY1
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194856402-f573ad1e
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelId":"008391077","id":4818534,"fullName":"BRICKER
        MICHAEL D","isPrimary":"Y","mailAddress":{"city":"BATAVIA ","postalCode":"45103","addressLine2":"4231
        PEACE HAVEN LN","state":{"value":"OH","text":"OH"}},"address":{"city":"BATAVIA
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"047181028","id":1876184,"fullName":"MOSHELL
        ADELINE H","isPrimary":"Y","mailAddress":{"city":"FREDERICKTOWN ","postalCode":"43019","addressLine2":"38
        WEST SANDUSKY ST","state":{"value":"OH","text":"OH"}},"address":{"city":"FREDERICKTOWN
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"137230010","id":4823151,"fullName":"TAYLOR
        CYNTHIA","isPrimary":"Y","mailAddress":{"city":"SHAKER HEIGHTS ","postalCode":"44120","addressLine2":"16090
        PARKLAND DR","state":{"value":"OH","text":"OH"}},"address":{"city":"SHAKER
        HEIGHTS ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}}],"status":200,"page":{"offset":0,"limit":25,"hasmore":false}}'
  recorded_at: Tue, 16 Sep 2014 19:48:57 GMT
recorded_with: VCR 2.9.2
