---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815151947001-8e52454a
    body:
      encoding: UTF-8
      string: '{"access_token":"RfF4DwPpnUApeXyPAeSS6ROVSqWP7Azho1pC31FebWFuEnr-BhBk37Jcbcyr4khp0xNRrP7DYDcQZNXW_9IBPTShZwuIQhH2hupjzIU_qESi24Kj9Cb7Y3uQ8Mj99O2lEUa0g5dSKUwUz7btoic5JmnIFTlIfmxfcl8hMaBEPUTCZkJABH2HGh9PMYnITcf4qNm4UB0WK0nzs1yH5AFUhxxtnKHduWZRlHNAEnwQp42QhHTk9-Tu_whK7ah4r_jmvAa7JvkxlxAGJ08czpb4FL5ZW7onimztDV-NUYLrXOH-AhYlwI_4zAnkCwdBxh9kQGZq9UhCfA6LKIB1XlVvjukzCI_2H6LVTcb8T7PpSfSstCXJDVrYSfIv2iLHqfYxWEJqRiJJuj7_mD5WKyZiyI6BKBZ93GSCcMUPk7mpiyVVj-4zBedNZlgWI9Qejyro0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAC5nwAZ_1r54fb6vUgCk-RaZtI6Gxu6GBvPjBleB4bXK4QAAAAE_HZJBe4ZpLEXknrjBpifa5sN7KpsqExbQraEGKLvsrEFcVydSKz_jaCfomIBUlbNgzlSOKQtG97HQLJkdRy1S4pKGtg99SvXi0c7J-_pGyc8E_btu0adVXAwhhpaGq_ig3iz3QuX-cbpCbjtERGih0dK0VEi5aH6duSqiQHsq28QzPJLqQy89XrNyiJUMTKaCBZjdA25EDM-uWryCDSiNo1-fLhCSIQyNy5uLTCEK6mXqt_n9ZIx3oyOAJL6AZC07CphyOQq_xhFOqNrTA10UyjG283_MRpvVA3ZWgFrlbw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 15:19:47 GMT
recorded_with: VCR 2.9.2
