---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141754882-df332f0f
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjEya0F80Eut4LMI-V8PKpxh93UVvjRvKBLwBgaOkObQoFTOzweBy7uIbHaP5jCSn-Vj4e2X1Ct6ivGGlru_SxlW9ePXwa5EIbuQpH_BpxvNmTGuZPLFjR-iZQnACBknM06p1y7TYR8qyOblsgre0DqZfVmTW72M6nHR9tgNX7F2RVQ4mLiHkuARKEHIgdT1_hEsbAH2dqvPY8Wvd04hSl1PLrBh79p2_3dOvrcv1kfQAY_ueo3mu60QGAq4UvlFXsvWOZmE00yerzUAIvdShJa30w0z5UME9SuPZQu-ZucppdtthH_UT2feBOcRvCOfpgDN80eazsR6kS_8vqXjCGOlZcP-amiUZZHjHwlGgEiFdt3RGuwGkcJrKdLXOCZ9aLI0B3Ws9G5NYKvc1HkrtICzaaxyWsMaJE_uI6_Pn7AkCM0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAPuJODTmxCcxsv_ivVcGUYfnyYgKM0zTxkJ70yJrwvWs4QAAAAE4MolWJjMg9ediGzUO_pdA6_PfhBF1mzvPDQYfteDH3PD9taKXzwq1bzjxbnNjD5H2ikvF_cjxHr0lMWpVFz1P7XxTz9ybcfLfEg2NeJcRlGWiYgb4pvlF-t4_r-CiS56nzK3zMcYnbZ9rEI0n8_ss9n5ejkdzP4e6PXLMR8QQNObbnIaaRtWeAOW8ZCbe2-hp4vKqQLn_7bnFh_ovKImkDFq_O90wq77QXqn1nL1oy5_xC3wgDwSICiduPBUyN7r8iKw91sL8QT-_xgbWR60y7kekEyWe32uucXSTmraOXQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:56 GMT
recorded_with: VCR 2.9.2
