---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141644816-281949bc
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE4Of7vLT6I6qNr2DVkIjCTAFDN_zLur0bcFj-azvweQKyosM0i92Ze_MP-aecMI-C_6labhoRzuSW7L7SBQ0blyUKhhhK5_ipUxRF9h5aMlunNWt2J_BD8rbnpG2RE7BMLmxr0DII08Y_-LR6-fxYGvfxHW1dKRx-r2RnGWV88wodR5gA_S6pAMCELiakfyPsf5I6TtyBtKIJhDspuy3zH92zD1SaWFVptPROf9o4Jvx-VE1ifnIoMbwX2jEB-oppvABQVYpgQQyXfgDZ5YV6iOfrP0X-UXwtV8otQ_j4NjHvClM5mlH-Gnu1Ose0pVq2_quJx_dzFdaaDuUdyEU9D25XInKEhF8nUiDHi2hnWIrtHVgcQo-mHm6rf6HZafpDU-DqkgFNMTPnaAZEQey2jA2YPU0oD4Ln8TFZJRPsUwi0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAANlJv4n2GYzGjgEz5Tn-XMWtxA2Qlt6G3gIPxkf5R63x0QAAAAE7DWu8wcb9TMYSKARVks0pTU0CLQjFeuF50cdwGhOf_liph0gpy2qi9KSPcajWRc3nGp9cdjFxuk8g30fGGgK_3Xq5nqyKQSsQZXVEw6uIzdwCoO0s9gY9fo3SnQygwmYlIHtKSX1lFV9k_vIpiVcmB-qv-icXwmFQUQr-6VBvqh13yfWTuVq8_Ou5yqBVhkFB19bnoh3ieaQD0LJKhTEcCOARkxkXVQUc3r0bireLuBa65tDTFKR9_Akz1Z-hxxBYB1kqqJjoxCBmoJ7xXtzx","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 16 Sep 2014 14:16:46 GMT
recorded_with: VCR 2.9.2
