---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916192346059-b34a41c3
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGJHAb_8QGHJnNwptUclMfisiYK5TrryR28i3hM2seQk38gU7oaURttYP5zLHRjCINsSQfaBhyjxKXVhXnN5CTgtk1pjQHzni2csRif3l5UOYYqogam6j4b33bNsU5iwAqjA5_VeDakxpXfr_SQkMcHb3mhjfGIyOg_7nrQkcSLqEVrdQwvB4o7qgTd7Q2aKB0gjjSHRjCwFLR2wMeyPg_UrJyz1fgrXhFeUohV1yRyfm1kP2_KUYnxArJjQ-g-o_M7JDoI-uzkmguf2tydzCvAO0GROi5vZlanVcHB218RgXVsmeOdCXUgNOr60b_Bb-EZEqP93BbV7MsKbZTA21qjwtNamI5wnLGhJP2St492lM6ij2W1Kld_4UuxsHWlkT3TonvnC9lCgEIJ5nb_WBGvs1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAHAwL1oFHZK37usM9DI6Nl53x4dJwJnWmzI6QcdslM8W0QAAAAFG5lgr8g7sZNfgZf9_TF7sew49vipoI8DWTt6FP4IOkoJ6VYM0CjVvX0osxOAVaXjmbJR32xwfkgIcYIrMZaSuqr8YuB6qk7LrZGyw72KvcWzwgRnkq-C6KURnhQXh0h6ERvddhUF-8_gNol2lOt_k6JgRtZy2bjAPORHcxvEo-OyP8bRqYjJobMOE9nIBdm4SjsZr2e6EZQy0Nk6y0KAkwirqqV2-lB3-RKDJCAIQ-RRp4XZBbLeVJBUZ6ElXkMivU3wEpjba29r5GOtbAFsY","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Tue, 16 Sep 2014 19:23:47 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels?isPrimary=N
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916192347627-fc934d18
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelNumber":"-","isPrimary":"N","id":"-","status":{"value":"A","text":"Active"}},{"parcelNumber":"005010004","isPrimary":"N","id":"005010004","parcelArea":7927920.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010005","isPrimary":"N","id":"005010005","parcelArea":1.3068E7,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010008","isPrimary":"N","id":"005010008","parcelArea":1062000.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010010","isPrimary":"N","id":"005010010","parcelArea":5052960.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010011","isPrimary":"N","id":"005010011","parcelArea":47916[...]
