---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194859419-dfff2e6b
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGK48aDi5Z41xplcssS1jmG8GuhB23dU-xu9H58RV8CniUdMuJtrXUj7C2adxSW94gEdVU8wK98_TgstIBO3Xe2IB1xjgcOZNVg-CRW3UX88CFYldppLKA1sMHgj9EDTrb_7AflLeJ7DW6f3QsACBAA0vmn1u3KTv0mr-ekCU56NW5GmH2KcouFJ-MU_EkoG_-qnhTe8ORWEaOm5hyWjfx2dGtp-2p7gZXh9mkOofOCEM3mtccU25s7recpeHYFKoXlceAd5xjshlAAPhm7jXGWEDc88_LlBFTy4yNzx3YIw9eM4XkAa2fbN2lOtFeodgxuQHiYlzv1sejpvG5jqV97cBroo7cVJI0Ty5tJ4mtXGVpqjgO8-5BDruJHgBqCJI7NHCtr0Ur_i568PaUKShJdQ1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAIyTs_dvCM-A_xj6bI2lfMrje4OqMOP94qMUa9fegoj30QAAAAEYRiqpTRWjAwkv_UbQHUugDjpb5vpast_Q1Bke1WZ6CVvALMHmmHa8Fo9FaeggWvvg_774kr1_UVPSRtaGf1fHqryZLdn-tLLRaE2uALsK1ww7cb7nZICk568IoDmj45LCk0tie2xVhBUJO1_ObL-78SUP-HWryZLYeaVOgPIEj8xd8Zoieb-FL5-UVRIz7yRghuv13gXLFaMNs7yKhlXSdz_OA2e4GrVLH2qi4uQEa3mSGQw-15kpveNYAYPuQDpaRcPhRNFZtmcT_7IgHTyP","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Tue, 16 Sep 2014 19:49:00 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels?isPrimary=N
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194900839-b6303424
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelNumber":"-","isPrimary":"N","id":"-","status":{"value":"A","text":"Active"}},{"parcelNumber":"005010004","isPrimary":"N","id":"005010004","parcelArea":7927920.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010005","isPrimary":"N","id":"005010005","parcelArea":1.3068E7,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010008","isPrimary":"N","id":"005010008","parcelArea":1062000.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010010","isPrimary":"N","id":"005010010","parcelArea":5052960.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"005010011","isPrimary":"N","id":"005010011","parcelArea":47916[...]
