---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140905141251149-f9a830ad
    body:
      encoding: UTF-8
      string: '{"access_token":"3HiRd02fWNP8qz2JwfI_kAJvJ3WwSHyd0Dv9VwzRBgflW12Y8I8PNnzSrDPfia01qTBb-XI67HGqoopJr4kXCDJdswqw_FuhiJb_uzun5MyFRyOQrhRwd6pOzCd3r9WPBWv06lh6iFGqLXATAmiTjDe1PgyqJnwwWiqPwPF4wj6AFLyyVBqWh4_eLfRZKGjAewcA6m1s8wJeRmSQvSPeocwGcVaAyyJ6c43m5JlbiRA0IKlCG7Z_iqRpz1JMRc2IyDr8p0JWwrpittsTvUtqhJCL8XhIEogSmMjn3NZBm9cHHPkTArMqRcroqKf1yMiF3vl0kiBktPTfwJVtcMoakfsmLSsQ-mNExdMO13kMckU2DScGLecRBpbzLYG8PiDQBok79wrTtKAk1QGGSSrUSGfSjaqGk6wcAegckYKS14Ok2Dr5TV_25vKvVG7axjPH0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAKxZqsNWqe8ClgFKFGhsUddH_COS2iLzf83eUumdV4z24QAAAAGBwMkjseGCma537gPnA4PAjS7Yu15JAz8Q1AaSoqkVsbyU40d5dQvVgWez-T_VQEf8dsZTE6KVWl-36KXYcIxxKIu_cJQUt6LyxZpDFhOei_10TSDBBc0ssgF19INrIM5vE_eBQ5K0kesvoQd6vh-BXUT_QM5sx_uSocGkWAt3eJSTuImMe-h47fbWh19tsc47FBFhzat2wtaZwdf0xQ7atp3J-tTF2Ib5kSapD84ODAKpe_boe7jW5egcn2eRqATPT-40uYR3LG2uFz5D1SjEnuVRvxjLgWWFdo7gebHydw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 05 Sep 2014 14:12:52 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140905141252649-f622144d
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-14CAP-00000-000DR","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","module":"Building","customId":"BLD14-00207","openedDateFrom":"2014-09-05
        00:00:00","trackingId":222006149,"value":"14CAP-00000-000DR"},{"id":"ISLANDTON-14CAP-00000-000DM","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","module":"Building","customId":"BLD14-00203","openedDateFrom":"2014-09-04
        00:00:00","t[...]
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - 3HiRd02fWNP8qz2JwfI_kAJvJ3WwSHyd0Dv9VwzRBgflW12Y8I8PNnzSrDPfia01qTBb-XI67HGqoopJr4kXCDJdswqw_FuhiJb_uzun5MyFRyOQrhRwd6pOzCd3r9WPBWv06lh6iFGqLXATAmiTjDe1PgyqJnwwWiqPwPF4wj6AFLyyVBqWh4_eLfRZKGjAewcA6m1s8wJeRmSQvSPeocwGcVaAyyJ6c43m5JlbiRA0IKlCG7Z_iqRpz1JMRc2IyDr8p0JWwrpittsTvUtqhJCL8XhIEogSmMjn3NZBm9cHHPkTArMqRcroqKf1yMiF3vl0kiBktPTfwJVtcMoakfsmLSsQ-mNExdMO13kMckU2DScGLecRBpbzLYG8PiDQBok79wrTtKAk1QGGSSrUSGfSjaqGk6wcAegckYKS14Ok2Dr5TV_25vKvVG7axjPH0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140905141254279-52bcf406
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Fri, 05 Sep 2014 14:12:55 GMT
recorded_with: VCR 2.9.2
