---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140905141255482-6a904632
    body:
      encoding: UTF-8
      string: '{"access_token":"3HiRd02fWNP8qz2JwfI_kCz68C22tdn4zfIDlC_bao9FRquyGg6dJTZ88lL7Wju2Es-D8Y03z43ryh8VIUEm2QRxH8n1Zr8H7dVigP8u9U5of3O9Ws3k3wJSJZa1JKvoutCRV_uFWNCiwknn_ROM9kMaltLgkZJ5wggC5GuA-1cx-5F9RTMvTuNlcQlq-5EgnGezW-A3Cq4H6ok_cosrbxAT-LBsGOVyAeyuSwK8ythuNm_HCLqvQlnasMf9nwrsOoMKA197TqlNgqWMwIhSTanpsb5Ew95Cft95G1oue5xWi-AmZY_NPIazmfmZRry3PvjU1mBHMa0FTWwz55eP0gr5-LNQB3OftMYKZ2lLD1Y5tAJ_pNpSGkqoRSCY3VSnrDHwfKBbkbwLwSqVekORlF5Hk37kYbg2uaP0u-T7EcQPNpZcpscjTs422khydxGd0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAKaNAX54b29G95ozesDqO_2TBRxSBcAoZN13yAEElwTz4QAAAAGo6s3Hy8BQYW19eyPq_N6MtDWF2Lj-w237UckkH3Jzmz37tUum-HlUQurD70YGE3ypkZJIf-YmbA0Kvg7t5ccKMB3kQXek3DhpOdgvRiFjD22_FPChXI1xpG6l21_70osFGJ5mmprpYKj38acVv9AYEOQ_E3SQ6hmENGoGEZD-1KxEO2npKa2NySIxlm2RUWRzGNoc2QpKtPdRwGmogONJGrE3_AOknhCiqh8MapLg9yvYvv4evLfn77HP9zUA0Pt7UzQtPXMxNC3qjJDLTGmnNcg_5HmaR8EqI-NKF9Yd4Q","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 05 Sep 2014 14:12:56 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"addresses":[],"type":{"id":"Building-Commercial-Addition-NA"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - 3HiRd02fWNP8qz2JwfI_kCz68C22tdn4zfIDlC_bao9FRquyGg6dJTZ88lL7Wju2Es-D8Y03z43ryh8VIUEm2QRxH8n1Zr8H7dVigP8u9U5of3O9Ws3k3wJSJZa1JKvoutCRV_uFWNCiwknn_ROM9kMaltLgkZJ5wggC5GuA-1cx-5F9RTMvTuNlcQlq-5EgnGezW-A3Cq4H6ok_cosrbxAT-LBsGOVyAeyuSwK8ythuNm_HCLqvQlnasMf9nwrsOoMKA197TqlNgqWMwIhSTanpsb5Ew95Cft95G1oue5xWi-AmZY_NPIazmfmZRry3PvjU1mBHMa0FTWwz55eP0gr5-LNQB3OftMYKZ2lLD1Y5tAJ_pNpSGkqoRSCY3VSnrDHwfKBbkbwLwSqVekORlF5Hk37kYbg2uaP0u-T7EcQPNpZcpscjTs422khydxGd0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140905141257008-62da9449
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ISLANDTON-14CAP-00000-000DS","type":{"module":"Building","type":"Commercial","value":"Building/Commercial/Addition/NA","category":"NA","text":"Commercial
        Addition","group":"Building","subType":"Addition","id":"Building-Commercial-Addition-NA"},"status":{"value":"Submitted","text":"Submitted"},"initiatedProduct":"AV360","createdBy":"DEVELOPER","serviceProviderCode":"ISLANDTON","statusDate":"2014-09-05
        07:20:54","module":"Building","customId":"BLD14-00208","recordClass":"COMPLETE","trackingId":271506580,"value":"14CAP-00000-000DS","totalFee":0.0,"totalPay":0.0,"balance":0.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false},"status":200}'
  recorded_at: Fri, 05 Sep 2014 14:12:58 GMT
recorded_with: VCR 2.9.2
