---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140905174514445-a2d360d9
    body:
      encoding: UTF-8
      string: '{"access_token":"lNOsAqvFWmrWHviCJi6Jg1Z5I9Z9wekPBhpd9kVWPIOS-ims82j4Yv9960tfRFV_kxZQNMt_Kqe6Q_3gLSvn2envOhnh5xbZ70f0p5RF7p_Dvn8N76WUHoDHi4yPRE5YIuv3xqQutPv8GBVqDOeIpAikK_xHi4PJzASMORq-msiirunQ1UR-LvVFnFNThYRPSteZJDwd8GKTRHOuDIexZSwvrtiFcqQpDjmPgMd3th8_htw3UFztmGEBjm9iGTLOkdElIZIHkWS5k-UNQmlQT_bPy6Q59QzCKZdk1VUlAuCm55PoLchYbjY-5RzOKANB8lZzGVruBf9ZEs2En0kzqr81PcTsAC4iZHYnks1S64GpXOWodikzySooSLWAVa5p695haCxSctxCC4909d6zv7-NkQcgQo1f4Za31GGCm1y1vCg5J_8AVuj413pSobHP0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAACi4VeRhSTB2AWklo1gfshl2AZGoMD2NMOd2al5x2Ru94QAAAAF8aUO827CL4zQLC0qOqow2c40O5PRqYCXOmf9yOWiRvXPXXV71-0RjMEUZSvgfLbesTGbFniKHjzX81RDfH04U5REbQkyPielx27lS2uL6Q2wftCrN_F6YcB67yyUfv0InqlC7D4FRyT5JAl7cVX9Ou__ywD1Dq3o9Z63Fh91P2AdSyhD8CM-RVgv-q9TAExfVyKSjsLYYf7zlZvkKIgl8CZwyjFWyZlzKXWHZO8p4kz6Lr-pXwdO2kyhvwiLFMWgQk6wjxIzHrTmiTMTAiBPe2tdac8ePO8Qbq5Mw8Vkhjw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 05 Sep 2014 17:45:17 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - lNOsAqvFWmrWHviCJi6Jg1Z5I9Z9wekPBhpd9kVWPIOS-ims82j4Yv9960tfRFV_kxZQNMt_Kqe6Q_3gLSvn2envOhnh5xbZ70f0p5RF7p_Dvn8N76WUHoDHi4yPRE5YIuv3xqQutPv8GBVqDOeIpAikK_xHi4PJzASMORq-msiirunQ1UR-LvVFnFNThYRPSteZJDwd8GKTRHOuDIexZSwvrtiFcqQpDjmPgMd3th8_htw3UFztmGEBjm9iGTLOkdElIZIHkWS5k-UNQmlQT_bPy6Q59QzCKZdk1VUlAuCm55PoLchYbjY-5RzOKANB8lZzGVruBf9ZEs2En0kzqr81PcTsAC4iZHYnks1S64GpXOWodikzySooSLWAVa5p695haCxSctxCC4909d6zv7-NkQcgQo1f4Za31GGCm1y1vCg5J_8AVuj413pSobHP0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140905174518091-92f0f5e5
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Fri, 05 Sep 2014 17:45:18 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR/addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - lNOsAqvFWmrWHviCJi6Jg1Z5I9Z9wekPBhpd9kVWPIOS-ims82j4Yv9960tfRFV_kxZQNMt_Kqe6Q_3gLSvn2envOhnh5xbZ70f0p5RF7p_Dvn8N76WUHoDHi4yPRE5YIuv3xqQutPv8GBVqDOeIpAikK_xHi4PJzASMORq-msiirunQ1UR-LvVFnFNThYRPSteZJDwd8GKTRHOuDIexZSwvrtiFcqQpDjmPgMd3th8_htw3UFztmGEBjm9iGTLOkdElIZIHkWS5k-UNQmlQT_bPy6Q59QzCKZdk1VUlAuCm55PoLchYbjY-5RzOKANB8lZzGVruBf9ZEs2En0kzqr81PcTsAC4iZHYnks1S64GpXOWodikzySooSLWAVa5p695haCxSctxCC4909d6zv7-NkQcgQo1f4Za31GGCm1y1vCg5J_8AVuj413pSobHP0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140905174518335-4c218d19
    body:
      encoding: UTF-8
      string: '{"result":[{"id":1000619244,"streetStart":1,"refAddressId":16830,"city":"PETALUMA","postalCode":"94952","serviceProviderCode":"ISLANDTON","isPrimary":"Y","streetName":"ALLEGHENY","recordId":{"id":"ISLANDTON-14CAP-00000-000CR","customId":"BLD14-00187","serviceProviderCode":"ISLANDTON","trackingId":262040261,"value":"14CAP-00000-000CR"},"country":{"value":"US","text":"United
        States"},"status":{"value":"A","text":"Active"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"CT","text":"CT"}}],"status":200}'
  recorded_at: Fri, 05 Sep 2014 17:45:19 GMT
recorded_with: VCR 2.9.2
