---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140910153224632-6bed207b
    body:
      encoding: UTF-8
      string: '{"access_token":"N6cbd11aonYJ-bUqP4bL51gKDk4EdGazGVs6TbtZL7Ky4F5XYx396YNwwClluGYG28qdYMRm2qnJmwP4stb8FYEYpv_GKIisH0GNSbGA0BRmXNv9MhGGcFwCgb16nu-Du4CfRVqRJC32XWn7owD9q_Xouw-6az0roLQ9hs7u3VElKDVIgjWZgMYO-UunL5TizW79525PoGH3dh30E7pXIHd2sSJUOHiiq6IbT5K3qRd-FYiNZx0fXynNy7Ed_pkY9fPtE_Qw3sIeOn4rq2-aWaWAVXCgVY2Yr72SlGCuvqnojBOSYLxP9EZvWBC49pbUSQtpP6HWoGCYF90zjaFhBHzawd0ty2hegvwC8Em1aWSE3X2zd3aK8PxPCX0-z523POvnxsR17eeYN2lhQlu7kDE0RjqMUrjeyjRnGjB84uQ1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAOH4lxgiJ3wtgRzwBPceqQYH5mZLZ9gVK2ryT4-bCzcb0QAAAAFl3U_1abyYfu-KRSwqB3jNkqBV9CWU3A7i3CRMo72VMt84mQ8yqNZX-m9hH8RxrTWIuak-l_9VzsJlEDZD0vBSSkTTdcTr5hJK6XH5o-faqeaqlig4L8Xwb8HAKipx_XJ3dRvmGUhw9b0CTOyt-q0kmLcl5C6UkM7Yto4Zk0ujRk3ve2JwBcBoVnVGY8l4ufMbIyQ0D7M_IL3c4G0o10Ls2aEXiwYMl2g9218TnTFKJkUcdKhCny15e9xDPqGrvvrt9Ll5ztXUJAGxLtJu51OL","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Wed, 10 Sep 2014 15:32:26 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels/137200001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140910153226207-6467e393
    body:
      encoding: UTF-8
      string: '{"result":{"parcelNumber":"137200001","isPrimary":"N","id":"137200001","parcelArea":550800.0,"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Wed, 10 Sep 2014 15:32:26 GMT
recorded_with: VCR 2.9.2
