---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=parcels
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141720550-031a3122
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE08zd55rSfSyhGSwx8QK6EKPelqoFz1H35DklSI4ZYbLm6G4dFGhF_8Tfz8r4RkQ6MZmIdSVyqtwDZTY0p-UM5wUJ94UrtM9Zlb9LS5XnLGLPe4agyUBPxkX7KSIHCNOcR6C2LkIpSBAqQMja98SPE9-IVy4oh4WNgdxcP6m9O1kHPCEluffFQHn7TFVsnUZARl6AfJxu8fx5agofYdAORLyRcGd_fU_h3H5Ept0EPD3QpwwmviuIo4uF9hzp6IEsaAaoa_KJSfqGJLEn-r60Wyh3xMWZIsK8P4Eq9tvu1LtgEeZxfx7qkdVlpElOTF3nNSNjctoS1_MPaE-YOV_hZ9YBNbWfkRW-SH68cV2PUVB54V8fuqt8fLGZD_X7nKDWvWRqkzHqNkEBfSvrRKNpjM1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAKiC9IOOmjie9T1NplxQ1rmFBby1_2vhN3IQnWxLIlTV0QAAAAGgukhuaM-QyP5iWzhrFDbErdWb9qDCbuORIJn_cqPH7x30_Vp_p7nk-tztbHtzdfR3iXpARYCWPLAiaAR2X38H9_QN9Rv-0gwd_bc-HjlyY-st9GQf4J-PQTh6UYL1lld6TlnaJOvvcyxsWLSFjXIAKNf5CfVfkJSP907PY75-54EKqleys_aDqCimSsWbD8UyoJNi_nUU7XSXY4q8QbI9UxpLhm1E8ytmj1O8O6rbuj2kHGZcfTKagyN29wDIHzslFxPuu6sLEXk8AMgf2Z6I","scope":"get_civicid_profile
        parcels"}'
  recorded_at: Tue, 16 Sep 2014 14:17:21 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels/137200001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141721851-d252b622
    body:
      encoding: UTF-8
      string: '{"result":{"parcelNumber":"137200001","isPrimary":"N","id":"137200001","parcelArea":550800.0,"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:22 GMT
recorded_with: VCR 2.9.2
