---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=owners
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194256316-1d873ffb
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGP5Y5xubwaJumQsjK0C78A5_NhovPc6tpQEnIzhT8B0pqHE6koGdfXoTx1bezJQ_Wv21kZHu5-mleah0_N8x4CPLv6CMKCQ7JRj3FqPT43GRs-gmYp87qVevAplAu1Z--mqPGWVmeDpdrmlyS87MjqL8MwzFOq6dMqEgSSn8TLVI2HuOVgxcDXRwujeVd7fThyeYylWeMK7jmAypGDg28V8BPolS3nKNhOp2lWcw1O98Qyp8rB0ylhouEBop2cqepf3AXTxVH1uEGnGEb1p6jzEmfhXFI1Wpe93FIDCS2lF1Ry0uGpU-KAt-M9gCJ4hNPE_S1sBeyc3gwQjDhTCF8ox65g_xAZme8j8ji3j1J0vs1cGwvJhVUG2an-iR-obQl92XkmS6Iu8rQa1b3L2bvFI1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAAZ3YG1569H-AO2n4zpczUdAmCOxSKYo3h0ZUvkrP05H0QAAAAEJPKbPf8yipBPhEmJf_lO2awk3FC4g8K9lpaO1LThLJmWqj4rN_PEzxuf4w439N5PJOcelCwdBFmEajComuzoPj0w4VOqN-Wkw9OHhFivwxw97ZtwijHy57j58LEe-aKOkdJaWAJOLq1bF6l1UfKTvXHpkZfaV-jtdImNJKBU6MwiVPrbJK0ezZiy_gRifaYSGpk_b1oerOEOrGKG-OzpPhCRkDPXUN2Hom0QBhhFLVVEBxWC3lb-7bInMTOGpPMxA0M8J4eAHYibDl76Jy_pJ","scope":"get_civicid_profile
        owners"}'
  recorded_at: Tue, 16 Sep 2014 19:42:57 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners?state=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - tgMx9IgkpNEGbyH8NczpGP5Y5xubwaJumQsjK0C78A5_NhovPc6tpQEnIzhT8B0pqHE6koGdfXoTx1bezJQ_Wv21kZHu5-mleah0_N8x4CPLv6CMKCQ7JRj3FqPT43GRs-gmYp87qVevAplAu1Z--mqPGWVmeDpdrmlyS87MjqL8MwzFOq6dMqEgSSn8TLVI2HuOVgxcDXRwujeVd7fThyeYylWeMK7jmAypGDg28V8BPolS3nKNhOp2lWcw1O98Qyp8rB0ylhouEBop2cqepf3AXTxVH1uEGnGEb1p6jzEmfhXFI1Wpe93FIDCS2lF1Ry0uGpU-KAt-M9gCJ4hNPE_S1sBeyc3gwQjDhTCF8ox65g_xAZme8j8ji3j1J0vs1cGwvJhVUG2an-iR-obQl92XkmS6Iu8rQa1b3L2bvFI1
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194257828-42117e1e
    body:
      encoding: UTF-8
      string: '{"result":[{"parcelId":"008391077","id":4818534,"fullName":"BRICKER
        MICHAEL D","isPrimary":"Y","mailAddress":{"city":"BATAVIA ","postalCode":"45103","addressLine2":"4231
        PEACE HAVEN LN","state":{"value":"OH","text":"OH"}},"address":{"city":"BATAVIA
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"047181028","id":1876184,"fullName":"MOSHELL
        ADELINE H","isPrimary":"Y","mailAddress":{"city":"FREDERICKTOWN ","postalCode":"43019","addressLine2":"38
        WEST SANDUSKY ST","state":{"value":"OH","text":"OH"}},"address":{"city":"FREDERICKTOWN
        ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},{"parcelId":"137230010","id":4823151,"fullName":"TAYLOR
        CYNTHIA","isPrimary":"Y","mailAddress":{"city":"SHAKER HEIGHTS ","postalCode":"44120","addressLine2":"16090
        PARKLAND DR","state":{"value":"OH","text":"OH"}},"address":{"city":"SHAKER
        HEIGHTS ","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}}],"status":200,"page":{"offset":0,"limit":25,"hasmore":false}}'
  recorded_at: Tue, 16 Sep 2014 19:42:58 GMT
recorded_with: VCR 2.9.2
