---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916194844904-4b003d5e
    body:
      encoding: UTF-8
      string: '{"access_token":"tgMx9IgkpNEGbyH8NczpGGyt4Fglu-HNuUZ-WR4amw87rknynptdMvy1mAHIpYKrTZAHZMgGXASZzKh8u0nAWjUKi2l0Z4tLLyprN4cZfDgvncarhNin3nHy4KTbVL3VAHYi4cVGA2hd0JCAwrYtEh6SRkwjKoHhJCLN31zoF9p0HGwE0vo0CSJbZJFRZN4RiIg9BtK6x30TIprjspF2evMWghCq9fPbjKiBcpsA3FrX7yCLhNgwjm1XmgbbCYOzB7ywOoBxOO4t2p7qzDIEPzJSMouRsJh8shZuehD4rutbhqMWi7hQzyLMvrWaXK6AhmtDGJ8siM-hcW5cEaRDDCzBB757yxeX1O8CZauE5nqvejstvnj91xAmN2NOEZdV2J7RyxRv-cm1F57d2xvyx6Rg2lniJv-uSlsb4iTMqBo1","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAADNTf3azxnfrrZ4byIEXU9TvGtzJ-f1Bhjq5AUMxHQm60QAAAAEs1nYS4-OhZuzv5PL0-G7aMp_8ArCuHQgjZvu19uKhqM5pHoG1uHHgeTEEVeeKP_Iuss3uN1JLK63QqcwVnMKmH0LU2WMc3ATYTOJ39rFW2pIsK9LGL2Bou2_yPMg3BmA1fQadi87F-BffFjFqgII10jPPH2cU2wlRcMB_rexnMAmJUJTSbYAeIR5Wv2B-FmPhrqWX9hzD34an-KW4KN0HZvp9r1JvaGDbfjVBDTXgYqAmEFVJCY-NPwHuCZuATO9mCSw0XPmGhs6T_PS9MB-J","scope":"addresses
        get_civicid_profile"}'
  recorded_at: Tue, 16 Sep 2014 19:48:46 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916194846261-ac0d0040
    body:
      encoding: UTF-8
      string: '{"result":{"city":"PETALUMA","postalCode":"94952","auditStatus":"A","isPrimary":"Y","streetStart":1249,"streetName":"LINDBERG","id":2,"sourceNumber":11,"country":{"value":"US","text":"United
        States"},"state":{"value":"CA","text":"CA"},"streetSuffix":{"value":"LN","text":"LN"},"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Tue, 16 Sep 2014 19:48:47 GMT
recorded_with: VCR 2.9.2
