---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141740741-474b1067
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjE0FLLj5a_o42HVGpwBiNhqk8v5MidosDOsVdJzMD2wMQoquSrGgbxaoJKv9qiwwsDYMWb7l01VL2bPDMUiMQKYX8YvferYWtVZac61uxFKbmPBj2hCeqRFt1hJUbW15icroY-gtlVGCp_PZkGd3PdpeWDt8jj-krgZoohJnDqaH8oINDv-orqa3ngGPLzEXLq_ip6R8dFJdovza_VIXgnJMUvHFMhlbWrDUWUUoHcA25jpjEArFSSQDeRpHMvd8J2sdv10foOisrSLc_QV58DXx-dsjmSC74-Pw6oi6sr87pmZRxpzIOWiNYkOWX3hdYkwOCTZNH6_Hg9hGawdjJH8vsYyyHZHe9I2vK03zuxAg5jWGBkyMu2XexmUFwxiFA2_BQU0lyyOh0Vxummqd-_pyBrtdTtw3eL0HXrw08IvGi0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAHuqcfMS_hclZdn9C3wex4_iNLl-RTj70uLT5BdaYZdS4QAAAAFHREB-od_0A4Z3xxK81K_7mCRM9IiwW0Y-brXwEPoZF1rRi9T7UTFVOjOEARtasZC5-ycMaot1jCdbXQp3o4x-wILoRUj_9TFb7_IFaeCvX2hHK94oSTx3I0PBYWdApRchsg55F0gwjxXd7qBzxWhbO8CGG4a8oUqi4ruRBtWl_8r_g0CB1jGo57r5wRVuGHPWGrSPZjsfFDChpmkUjdauqA7cUwdKCqWWRNfPOT5_gxvmFeqbJbQCic-j0jrwlzqJKjPSKwwBk9wmXKJCMQaEQkTYrB9utFn_XqGZud3f1g","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:42 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE0FLLj5a_o42HVGpwBiNhqk8v5MidosDOsVdJzMD2wMQoquSrGgbxaoJKv9qiwwsDYMWb7l01VL2bPDMUiMQKYX8YvferYWtVZac61uxFKbmPBj2hCeqRFt1hJUbW15icroY-gtlVGCp_PZkGd3PdpeWDt8jj-krgZoohJnDqaH8oINDv-orqa3ngGPLzEXLq_ip6R8dFJdovza_VIXgnJMUvHFMhlbWrDUWUUoHcA25jpjEArFSSQDeRpHMvd8J2sdv10foOisrSLc_QV58DXx-dsjmSC74-Pw6oi6sr87pmZRxpzIOWiNYkOWX3hdYkwOCTZNH6_Hg9hGawdjJH8vsYyyHZHe9I2vK03zuxAg5jWGBkyMu2XexmUFwxiFA2_BQU0lyyOh0Vxummqd-_pyBrtdTtw3eL0HXrw08IvGi0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141742300-e3cdb738
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:43 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjE0FLLj5a_o42HVGpwBiNhqk8v5MidosDOsVdJzMD2wMQoquSrGgbxaoJKv9qiwwsDYMWb7l01VL2bPDMUiMQKYX8YvferYWtVZac61uxFKbmPBj2hCeqRFt1hJUbW15icroY-gtlVGCp_PZkGd3PdpeWDt8jj-krgZoohJnDqaH8oINDv-orqa3ngGPLzEXLq_ip6R8dFJdovza_VIXgnJMUvHFMhlbWrDUWUUoHcA25jpjEArFSSQDeRpHMvd8J2sdv10foOisrSLc_QV58DXx-dsjmSC74-Pw6oi6sr87pmZRxpzIOWiNYkOWX3hdYkwOCTZNH6_Hg9hGawdjJH8vsYyyHZHe9I2vK03zuxAg5jWGBkyMu2XexmUFwxiFA2_BQU0lyyOh0Vxummqd-_pyBrtdTtw3eL0HXrw08IvGi0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141743007-35388588
    body:
      encoding: UTF-8
      string: '{"result":[{"startDate":"2014-07-25 06:31:46","firstName":"Josh","lastName":"Walsth","email":"josh@d-i.co","isPrimary":"Y","id":"61168202","phone1":"1231231234","individualOrOrganization":"individual","recordId":{"id":"ISLANDTON-14CAP-00000-000CR","serviceProviderCode":"ISLANDTON","trackingId":0,"value":"14CAP-00000-000CR"},"status":{"value":"A","text":"Active"},"type":{"value":"Applicant","text":"Applicant"},"gender":{"value":"M","text":"Male"},"address":{}}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:43 GMT
recorded_with: VCR 2.9.2
