---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815151933355-653a6580
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000I","type":{"module":"Building","value":"Building/Mobile/Mobile/Tony","type":"Mobile","id":"Building-Mobile-Mobile-Tony","category":"Tony","text":"Building/Mobile/Mobile/Tony","group":"Building","subType":"Mobile"},"module":"Building","status":{"value":"Ready
        to Issue","text":"Ready to Issue"},"serviceProviderCode":"ISLANDTON","createdBy":"DEVELOPER","customId":"14CAP-00000005","openedDate":"2014-08-07
        00:00:00","trackingId":219666584,"value":"DUB14-00000-0000I"},{"id":"ISLANDTON-DUB14-00000-0000J","type":{"module":"Building","value":"Building/Mobile/Mobile/Tony","type":"Mobile","id":"Building-Mobile-Mobile-Tony","category":"Tony","text":"Building/Mobile/Mobile/Tony","group":"Building","subType":"Mobile"},"module":"Building","status":{"value":"Ready
        to Issue","text":"Ready to Issue"},"serviceProviderCode":"ISLANDTON","createdBy":"DEVELOPER","customId":"14CAP-00000006","openedDate":"2014-08-07
        00:00:0[...]
