---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140822192313547-5c31dcce
    body:
      encoding: UTF-8
      string: '{"access_token":"c4MI3NaIrWNS4-UC7GUXlKr5-v7JED2zguf2ihDPQ1UFqEX8PbxwEjYsqzUT52MQn4bbQPv4d7VMx2On9Yh1YIT8LoWPwWuwUjNzBiJ3PWqxYVYTp4arpAH5JvddGNTlSGTx3cwfzpMbBkylz0yQq5UfhVu3eMPkdd5c9zUSenZse4jThShYeR8HguhepczvdwFDt_vB5-VRQnflTZTmMu-9t295G8iMBke0lYlJDTyfy0Vk_EBhfAHxl9vMFxVOr3A_fr3Qb2iM0sdP-Y0rgsvl93jO1Q5L0THbyHDHvpeVEuiAg_uJqjpPvzgeRVflJUMTbV8wIVR9__UjbGaxIynA44eEtVUcrEXn_dAMKMH6YHtknkVrLSPLrjEdxoI4z1wEvZuAuzN8W4_bLTZyy4Mnr_0iRU6CzQmPmjK0twN0WjyN07lKwr8zvQCyTm-i0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAOnrs8rL3hmxKii-0vL1BmCWhnBi_VmMH868GUQ86JPZ4QAAAAGDovb0pjP__DQwAu5VviubCq7fRpqLdJwrT_C9vJStE4lHCZ9ZWICztln2_gDfKchvnZpFqUh6oTvIn-bhC5XzWRvU9ZgERLE4M1-5J66aSOwAw0KTGsMj2AXa0iYaAcfT-RxksGISGLs4w1hI-Ag2BG0G86AGHNhZ7DcxA2JNbxiA2PLiu6C5VFYvzUWByWhCDc1gfiMqSBBinh9QFDqE28i27lGDLpzT9CtemC_NFpwOjbtqAOpp1hcPquQyAvMFyWQ0HFm6a2svn5ukWEb1RzzFggrW-EFSVHvtVLe9zQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 22 Aug 2014 19:23:14 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - c4MI3NaIrWNS4-UC7GUXlKr5-v7JED2zguf2ihDPQ1UFqEX8PbxwEjYsqzUT52MQn4bbQPv4d7VMx2On9Yh1YIT8LoWPwWuwUjNzBiJ3PWqxYVYTp4arpAH5JvddGNTlSGTx3cwfzpMbBkylz0yQq5UfhVu3eMPkdd5c9zUSenZse4jThShYeR8HguhepczvdwFDt_vB5-VRQnflTZTmMu-9t295G8iMBke0lYlJDTyfy0Vk_EBhfAHxl9vMFxVOr3A_fr3Qb2iM0sdP-Y0rgsvl93jO1Q5L0THbyHDHvpeVEuiAg_uJqjpPvzgeRVflJUMTbV8wIVR9__UjbGaxIynA44eEtVUcrEXn_dAMKMH6YHtknkVrLSPLrjEdxoI4z1wEvZuAuzN8W4_bLTZyy4Mnr_0iRU6CzQmPmjK0twN0WjyN07lKwr8zvQCyTm-i0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140822192315169-e5b47f64
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","group":"Building","text":"Residential
        New","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","balance":0.0,"createdBy":"DI","module":"Building","initiatedProduct":"AV360","totalFee":0.0,"totalPay":0.0,"undistributedCost":0.0,"infraction":false,"jobValue":0.0,"customId":"BLD14-00187","booking":false,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Fri, 22 Aug 2014 19:23:15 GMT
recorded_with: VCR 2.9.2
