---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=ISLANDTON-APP&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140815205607257-01ee5eab
    body:
      encoding: UTF-8
      string: '{"access_token":"t7h9014v2t4RmRV8OFtoGFaXkXQ7kC6FkxetWemm02mtBfPwg1WUxmIY9Ek_sqalCL_wHDPOgYYi-OZSD5ogZZ-viMYjm5PqETCHL4M1IPU8ViGFfX-EkdDRw88vroEpsCocEwA4NPmVskFhvkg8EnD987K65C4cM1SIXy40i-m_B337u-NPQPuJcJtv85XIsKCNwaR23VlfVrhPoVAXW3wUI7dRiaALhVbD3-4b4sUh4gFNUozTo74FDDiFs44icn1-cPwZitlrEf3oRTUL4JiNSbzaV0po_S1YFe9MjgQpAnyQW0u5Kk0z3AVt7qUDOjmo8MCDDGtwPlFIYMfoMjBGh16C3AOdEm8WF0yM3wKeLueaaIW_O-yY3eQA1Anyctz0ynAwBdqmuHdX8kTnUhjd0HJb91QcNEHheYw8RtCbCg5QKa632U76CMUxUfyt0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAANoYBZSyv2fdzQSFTWmz6entyUO7066zr_RJZzYeB8ac4QAAAAGRZ2-6N0szjLiTy-SR_FBCP_ZFh7fIz7cKx2gjZp_PslX0Qo_I3_KCTPcfXNjZLcK6Bv6byh9syI695boBbkJoDL_oKiqSM1pOVYupFeuqTPw9psTKhmnNFifr7OdRyX7H9-w0g3D5ZgUiDvowl3FBiSS9Nf_BRbTJzcKpWGdwZY18fIKoPybpQ-ukTjhHui-YmHIUtYwXNex1eEt-G_TK91m9YKDgIqcRuHMudjRqXRf2vDfP37_jJIF5ooP6H8ONh9nR-XMfybJ_skviEuKxCmxaSPAphAhutC-tyRbB9Q","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 15 Aug 2014 20:56:08 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-DUB14-00000-0000H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - t7h9014v2t4RmRV8OFtoGFaXkXQ7kC6FkxetWemm02mtBfPwg1WUxmIY9Ek_sqalCL_wHDPOgYYi-OZSD5ogZZ-viMYjm5PqETCHL4M1IPU8ViGFfX-EkdDRw88vroEpsCocEwA4NPmVskFhvkg8EnD987K65C4cM1SIXy40i-m_B337u-NPQPuJcJtv85XIsKCNwaR23VlfVrhPoVAXW3wUI7dRiaALhVbD3-4b4sUh4gFNUozTo74FDDiFs44icn1-cPwZitlrEf3oRTUL4JiNSbzaV0po_S1YFe9MjgQpAnyQW0u5Kk0z3AVt7qUDOjmo8MCDDGtwPlFIYMfoMjBGh16C3AOdEm8WF0yM3wKeLueaaIW_O-yY3eQA1Anyctz0ynAwBdqmuHdX8kTnUhjd0HJb91QcNEHheYw8RtCbCg5QKa632U76CMUxUfyt0
      X-Accela-Agency:
      - ISLANDTON-APP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140815205608312-cf3c09de
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"ISLANDTON-DUB14-00000-0000H","type":{"module":"AMS","value":"AMS/Facilities/Building/Repair","type":"Facilities","id":"AMS-Facilities-Building-Repair","category":"Repair","text":"Facilities
        Building Repair","group":"AMS","subType":"Building"},"description":"","module":"AMS","status":{"value":"Open","text":"Open"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-05-15
        00:05:36","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-05-15 00:00:00","balance":0.0,"createdBy":"DEVELOPER","totalFee":0.0,"totalPay":0.0,"initiatedProduct":"AV360","undistributedCost":0.0,"infraction":false,"jobValue":0.0,"booking":false,"customId":"14CAP-00000004","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"recordClass":"COMPLETE","openedDate":"2014-05-15
        00:00:00","trackingId":200780568,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"value":"DUB14-00000-0000H"}],"status":200}'
  recorded_at: Fri, 15 Aug 2014 20:56:08 GMT
recorded_with: VCR 2.9.2
