---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160219146-2d0c4432
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8aH99dsOfhdYHP0LxF5NE7_uvAWF-lbPbj8MEM44_vNqYXsJdDmMJp63mEzRy3RfOEbvTpuCIZblLBQi3zGNbEVIZ8KctVpuFv-c8toexKoSfNWodQh6NgShvqdi6nDLC3CHmMDLDjYlqMyIJTvtitcIIYWqNfUKspypZsl4wKNK23KOa0hBi8WU0lGVTSq-4gTe8SlRwNXfDOeOYfOpH8Cok8kiNDrdbFsGKYyHm6j7ocDnMu2jOgM-qOj1GPYtlP0aBENaACAh2JPQ44YtkxMyNMeGbz5eoky-2I5EvInRt1YjtQGJOMAI2WABWPILLik8CNO5MXo_4kyqMFUHuwfBcFOBPYWI50CC4hQSG1VsKP5kw3nSYQP5Kp5-coTaR8I4qD9cIrI3hYfKdzxbZFWIgFzMYnZlAlSPWCmJMcH90","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAIHY6fSGf-OkEt3b1u_m3J5F47U7f1PVDQZn1T50TxwN4QAAAAEXEnV0d9B-SdBRJFeCBMuKmb1PSSCz6TfoSOdZI4ANVd4MoeRCuIoZdP_HObEhM_V0RTOnei097Db9UYjm1G2Vh6yuM1xWCLoQBAnc7QpUpFyJPJzODffQjeHODZbKiSqENLQFuyOZ_O9sc3BrMEaHk1b8JjedcCIyEYYVk6ElkpHiRsd3HIH81wINyzt6nNR-LD6p8XQRNAnE_YI8Dq-mp3wZn9NsJe4OvYlSOr3wHY52yWNjMWPZLBh8W_2oRHdwuBPTGlxgPg99fKi32TSWJB2FsXeJ6C36D4Az3iZrQw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:19 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - H9fBlmvJlz3ZIZa-ojmb8aH99dsOfhdYHP0LxF5NE7_uvAWF-lbPbj8MEM44_vNqYXsJdDmMJp63mEzRy3RfOEbvTpuCIZblLBQi3zGNbEVIZ8KctVpuFv-c8toexKoSfNWodQh6NgShvqdi6nDLC3CHmMDLDjYlqMyIJTvtitcIIYWqNfUKspypZsl4wKNK23KOa0hBi8WU0lGVTSq-4gTe8SlRwNXfDOeOYfOpH8Cok8kiNDrdbFsGKYyHm6j7ocDnMu2jOgM-qOj1GPYtlP0aBENaACAh2JPQ44YtkxMyNMeGbz5eoky-2I5EvInRt1YjtQGJOMAI2WABWPILLik8CNO5MXo_4kyqMFUHuwfBcFOBPYWI50CC4hQSG1VsKP5kw3nSYQP5Kp5-coTaR8I4qD9cIrI3hYfKdzxbZFWIgFzMYnZlAlSPWCmJMcH90
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160223396-ec337492
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","balance":0.0,"statusDate":"2014-08-20
        11:02:00","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","initiatedProduct":"AV360","booking":false,"customId":"BLD14-00187","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Thu, 21 Aug 2014 16:02:23 GMT
recorded_with: VCR 2.9.2
