---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140822192315844-ad4db000
    body:
      encoding: UTF-8
      string: '{"access_token":"c4MI3NaIrWNS4-UC7GUXlJJ9ylFZWr8HDLJDSCpXbuplLP_6OFiVyaWJHqieJ6hhm8v1JsAO3ic-WsJcVXn0aMJEb8uY-IMdOovw97z3xu6Pf4Jw-Ft9mEgSg7pdctoymTSnXrEiQpN4edWvSmCCteZKi8so5IgHGexq3zvGew_MP0qP78Mk4Q8rJYuSARPchYtLNgcKBAQxQGESNTHpKcL8B25j37vtRgLyKndF25Tmuu0PN8nMyQc3h89zPJJqOooMGjuS4bX3I46JCMW594EYfIPa9qzodCbmocY1JaoAu4xMseS47_y7sqaV2e7kG7Osrb5ii6Bvwv47nAFQY_lAGXLr0nQBQmVIBGi8Jz8fovbFSjYRbCu_6Cx4x9LvFfGj1oQjTtBou2fSvxl9-iP7O_moKHV136fcxF29I4sX2U90hQQiKK2UCuu-iZkA0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAJPSqHj9Ykau6MQ4rdG1E14LUx3cdE104uR-v6x1Xa-E4QAAAAHdi0kMdk8xHrsWXBEorfL9DnE-aPcYN878qaKnUFxOPw_8wTMhKQBw9P4OmzPvu1h_ocR3toZjf9i4GMZCGVAq6JD4gZgRzSiXaiBDJMO7BxIfMG74HCRLfbfc24T2_rtGgiQc9U8tLXfFL25dMYOnr-pJklFI4J5G2b94BP3f6IEyabQcDUPUPiIFBH--j2pQdHL-O1wjitMaSPPTKT-VU287MoIc415UbOI4vQwwL5Dqjxq1cvRLZiqBLWsx2FtwXiLo4DDmiNHVWbogQ1iN5Sgpq_TEB2-Euj7sw8yUuQ","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Fri, 22 Aug 2014 19:23:16 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - c4MI3NaIrWNS4-UC7GUXlJJ9ylFZWr8HDLJDSCpXbuplLP_6OFiVyaWJHqieJ6hhm8v1JsAO3ic-WsJcVXn0aMJEb8uY-IMdOovw97z3xu6Pf4Jw-Ft9mEgSg7pdctoymTSnXrEiQpN4edWvSmCCteZKi8so5IgHGexq3zvGew_MP0qP78Mk4Q8rJYuSARPchYtLNgcKBAQxQGESNTHpKcL8B25j37vtRgLyKndF25Tmuu0PN8nMyQc3h89zPJJqOooMGjuS4bX3I46JCMW594EYfIPa9qzodCbmocY1JaoAu4xMseS47_y7sqaV2e7kG7Osrb5ii6Bvwv47nAFQY_lAGXLr0nQBQmVIBGi8Jz8fovbFSjYRbCu_6Cx4x9LvFfGj1oQjTtBou2fSvxl9-iP7O_moKHV136fcxF29I4sX2U90hQQiKK2UCuu-iZkA0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140822192317481-d88e484e
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","group":"Building","text":"Residential
        New","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","balance":0.0,"createdBy":"DI","module":"Building","initiatedProduct":"AV360","totalFee":0.0,"totalPay":0.0,"undistributedCost":0.0,"infraction":false,"jobValue":0.0,"customId":"BLD14-00187","booking":false,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Fri, 22 Aug 2014 19:23:17 GMT
[...]
