---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140821160224427-614ac397
    body:
      encoding: UTF-8
      string: '{"access_token":"H9fBlmvJlz3ZIZa-ojmb8U-A-zKsL3Zie-lkXfCERsl3JQqXH4FaQixmxKIxT46skp_c0I9vgkQmV20CuYzZjHKPoTdvB5FTLCPbtG_uqiTePaxPGz4KAS4De7c8EaWCYhAUf3Yox5RxTEbZlz02kR1GnWVDFmYoT76J4lKAx6qEI4VrHfBLjQ1Lcl5CHPsYyWV7S174xVaQZjksp5CrfkiUNH814PrTdgz6dnbzu2mSGlSjled5JOVh5M1nztDUjr1r5zVc2nK4PMMoGrXYT0LY6RuHWmidJO2wJxldLY2gpT5a3aYQZv_UdGWQHA3AATHVYaczKL0ODyuyKuJrNll6I_Lb1_d5n07D15wNxuzex2TN5qotUTV80fDt-pv48PUmjyS3xZaYG-bp5JUPy_sw4igrIvfgtDSvfqbp021SsS3jizkVKULa1F_yH0-S0","token_type":"bearer","expires_in":"86400","refresh_token":"NS-k!IAAAAKsDClG9sfsrSEPAO30r9iAzYnps6fXFVoWPJZcUo0vy4QAAAAFCQijMNnC9L_o24h5AIIl0bQmv9NTlrPg8MQHz7Ua74-dUjnkW7ljaa0PCP3Zo8EdhvNGlqN1oLAfbIuUkib-4NLDfPPWvZbKviDty9TuULeI-wkHdzJup0_MaHY2QteD0Sf6W8eDJ3ejrzEZn6itkM4xAme_dGzDQswo6oWYCjbIa4lVDJ_6ysKQv9l9U47NzJynywpEoS8GJfax1D2R0ThKjWsMWWnMMcw_2liVph_8NcXRkgKvjXLMpgduSXyZNzxwIHxOQHVWf_50BdxykzvRJjsZSxTkjHPPlFiAWmw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Thu, 21 Aug 2014 16:02:24 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - H9fBlmvJlz3ZIZa-ojmb8U-A-zKsL3Zie-lkXfCERsl3JQqXH4FaQixmxKIxT46skp_c0I9vgkQmV20CuYzZjHKPoTdvB5FTLCPbtG_uqiTePaxPGz4KAS4De7c8EaWCYhAUf3Yox5RxTEbZlz02kR1GnWVDFmYoT76J4lKAx6qEI4VrHfBLjQ1Lcl5CHPsYyWV7S174xVaQZjksp5CrfkiUNH814PrTdgz6dnbzu2mSGlSjled5JOVh5M1nztDUjr1r5zVc2nK4PMMoGrXYT0LY6RuHWmidJO2wJxldLY2gpT5a3aYQZv_UdGWQHA3AATHVYaczKL0ODyuyKuJrNll6I_Lb1_d5n07D15wNxuzex2TN5qotUTV80fDt-pv48PUmjyS3xZaYG-bp5JUPy_sw4igrIvfgtDSvfqbp021SsS3jizkVKULa1F_yH0-S0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140821160225614-603403e8
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"module":"Building","createdBy":"DI","balance":0.0,"statusDate":"2014-08-20
        11:02:00","undistributedCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"totalJobCost":0.0,"serviceProviderCode":"ISLANDTON","publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","initiatedProduct":"AV360","booking":false,"customId":"BLD14-00187","jobValue":0.0,"infraction":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Thu, 21 Aug 2014 16:02:25 GMT
[...]
