---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=password&agency_name=islandton&environment=TEST&client_id=635395466279594650&client_secret=3b1e4026d95e4478a0f8dd1f7a1b7028&username=developer&password=accela&scope=records%20addresses
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Accela-Appid:
      - '635395466279594650'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 140916141743847-20575898
    body:
      encoding: UTF-8
      string: '{"access_token":"Ff1ln1vYNo2a1OLxgRnjEyNEbxURagRcuAjM7ENNqpsM4jH7Ta0yB9gCfeZJEZH82JjQJ4yQzMMxCumgnR3WGmZ9w6x9LYiR-Q_fluIy3UkK-y5hmwdWuVigLHADJImNWG6F7m_C3T1CWh7qpRciK0M7Z_RHFXuIpAnZB0XE54wgW65WBvEvwreyctM_fxniDcj_Dmt2-2p-zT0VRzHrYBGx8UCxLn-KIyowgHsF8oGFtI2miVYKf27aTrp9PLAZOJ8I4nkRfgsFZs-DkCaQ-t4dFufigOXGlIzcFBmXujPbK9_Pu7xWlo-QLyHfanNsICVFB7G-4OvCFDpqo3xhps-80--7OjMEZ-iZr12OO7HYvBi8Qbyk-nEHe2Ih1nmC9GOMRJnzzFt8mskWuZAl-F8K7KyeekZOVGjqGCaQKJr58-NelB34G63kIXbVEZte0","token_type":"bearer","expires_in":"86400","refresh_token":"rALM!IAAAAJXg2gUlBaySe_KiHdyO4NL77gP0SqGlp_xzinXQj-U54QAAAAGERL65trupnunUwq9m7xCI02OMCPunVOrLQ7dpHdTS66XWZaQoOIOGxSSfcSRxSJ0IMcAEi4rylBjxSt7wdGlUJtJweawSdwSGduYBpsE-8vDe_csaoGXH6kPkjxX1_kg2N4maxVR-DMrU-c62-dHB17LumTPvvCmukEhEyVVB-1TYPlDsI20HVcvmxDJIGPh4x_Bw2mTJNjLQbN-sezSX5Qc-wdYdrGCODoLhaGlxtP3UKOFp5vA-1NjuGDSZbS5GgkKhu3o88HF_RPReIuIrSCAjUk-g2AIYIyi-xndPAw","scope":"addresses
        get_civicid_profile records"}'
  recorded_at: Tue, 16 Sep 2014 14:17:45 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjEyNEbxURagRcuAjM7ENNqpsM4jH7Ta0yB9gCfeZJEZH82JjQJ4yQzMMxCumgnR3WGmZ9w6x9LYiR-Q_fluIy3UkK-y5hmwdWuVigLHADJImNWG6F7m_C3T1CWh7qpRciK0M7Z_RHFXuIpAnZB0XE54wgW65WBvEvwreyctM_fxniDcj_Dmt2-2p-zT0VRzHrYBGx8UCxLn-KIyowgHsF8oGFtI2miVYKf27aTrp9PLAZOJ8I4nkRfgsFZs-DkCaQ-t4dFufigOXGlIzcFBmXujPbK9_Pu7xWlo-QLyHfanNsICVFB7G-4OvCFDpqo3xhps-80--7OjMEZ-iZr12OO7HYvBi8Qbyk-nEHe2Ih1nmC9GOMRJnzzFt8mskWuZAl-F8K7KyeekZOVGjqGCaQKJr58-NelB34G63kIXbVEZte0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141745226-4ffb2b59
    body:
      encoding: UTF-8
      string: '{"result":[{"name":"D-I Builders Development Model Home","id":"ISLANDTON-14CAP-00000-000CR","type":{"module":"Building","type":"Residential","value":"Building/Residential/New/NA","category":"NA","text":"Residential
        New","group":"Building","subType":"New","id":"Building-Residential-New-NA"},"description":"","status":{"value":"Submitted","text":"Submitted"},"infraction":false,"initiatedProduct":"AV360","createdBy":"DI","balance":0.0,"serviceProviderCode":"ISLANDTON","statusDate":"2014-08-20
        11:02:00","totalJobCost":0.0,"reportedChannel":{"value":"Call Center","text":"Call
        Center"},"reportedDate":"2014-08-20 11:02:00","totalFee":0.0,"totalPay":0.0,"module":"Building","customId":"BLD14-00187","jobValue":0.0,"publicOwned":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"openedDate":"2014-08-20
        00:00:00","trackingId":262040261,"estimatedProductionUnit":0.0,"actualProductionUnit":0.0,"createdByCloning":"Y","undistributedCost":0.0,"booking":false,"value":"14CAP-00000-000CR"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:46 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/ISLANDTON-14CAP-00000-000CR/parcels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '635395466279594650'
      Authorization:
      - Ff1ln1vYNo2a1OLxgRnjEyNEbxURagRcuAjM7ENNqpsM4jH7Ta0yB9gCfeZJEZH82JjQJ4yQzMMxCumgnR3WGmZ9w6x9LYiR-Q_fluIy3UkK-y5hmwdWuVigLHADJImNWG6F7m_C3T1CWh7qpRciK0M7Z_RHFXuIpAnZB0XE54wgW65WBvEvwreyctM_fxniDcj_Dmt2-2p-zT0VRzHrYBGx8UCxLn-KIyowgHsF8oGFtI2miVYKf27aTrp9PLAZOJ8I4nkRfgsFZs-DkCaQ-t4dFufigOXGlIzcFBmXujPbK9_Pu7xWlo-QLyHfanNsICVFB7G-4OvCFDpqo3xhps-80--7OjMEZ-iZr12OO7HYvBi8Qbyk-nEHe2Ih1nmC9GOMRJnzzFt8mskWuZAl-F8K7KyeekZOVGjqGCaQKJr58-NelB34G63kIXbVEZte0
      X-Accela-Agency:
      - islandton
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Gateway-Version:
      - 3.1.0.1
      X-Accela-Traceid:
      - 140916141746190-23fffaf7
    body:
      encoding: UTF-8
      string: '{"result":[{"recordId":{"id":"ISLANDTON-14CAP-00000-000CR","serviceProviderCode":"ISLANDTON","trackingId":0,"value":"14CAP-00000-000CR"},"isPrimary":"N","parcelArea":550800.0,"id":"137200001","parcelNumber":"137200001"}],"status":200}'
  recorded_at: Tue, 16 Sep 2014 14:17:46 GMT
recorded_with: VCR 2.9.2
